.gwt-TabPanel {
    position: relative;
    width: 100%;
    z-index: 10;
}

.gwt-TabPanelBottom {
    background-color: #ffffff;
    border: 0;
    padding: 0;
}

.gwt-TabBar {
    background: #bfdfea; /* Old browsers */
    background: -moz-linear-gradient(top, #bfdfea 0%, #c2e7f0 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bfdfea), color-stop(100%, #c2e7f0)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #bfdfea 0%, #c2e7f0 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #bfdfea 0%, #c2e7f0 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #bfdfea 0%, #c2e7f0 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bfdfea', endColorstr='#c2e7f0', GradientType=0); /* IE6-9 */
    background: linear-gradient(top, #bfdfea 0%, #c2e7f0 100%); /* W3C */
    height: 35px;
    padding-top: 2px;
}

.ext-search-content-wrapper .gwt-TabBar {
    background: none;
}

.ext-search-content-wrapper .form-footer-blank {
    background: none;
}

.ext-search-content-wrapper .gwt-TabPanelBottom {
    background: none;
}

.gwt-TabBar .gwt-TabBarItem {
    background: none;
    cursor: pointer;
    margin-right: 10px;
    padding: 0;
}

.gwt-TabBarItem {
    background: none;
    cursor: pointer;
}

.gwt-TabBarItem.gwt-TabBarItem-selected {
    background: url(css/images/tabs_selected_r.png) no-repeat scroll 100% 0;
    cursor: default;
    font-weight: bold;
    padding-right: 24px;
}

.gwt-Label {
    border-radius: 5px 0 0 0;
    font-size: 100%;
    padding: 8px;
}

.gwt-TabBarItem.gwt-TabBarItem-selected .gwt-Label {
    background: #ffffff;
    text-decoration: none;
}

.gwt-PopupPanel {
    border: 1px solid #eee;
    background: none;
}

.html-face {
    display: none;
}

.gwt-PopupPanel.header-notification-popup {
    background: none repeat scroll 0 0 #fffdf0;
    border-radius: 5px;
    border: 1px solid;
    border-color: #fff1ca #ffedbe #ffedbe;
    box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, .3);
    top: 12px !important;
    right: 420px;
    left: 168px !important;
    z-index: 100;
}

.gwt-Label.header-notification {
    padding-top: 2px !important;
    margin-top: 10px;
}

.section-suggest-item .gwt-Label {
    display: inline-block;
    padding: 10px;
}

/*CalendarPlugin*/

.calendar-scroll-panel {
    position: absolute !important;
    top: 65px;
    right: -16px;
    bottom: 0;
    left: 0;
    background: rgba(248, 249, 255);

    /*   overflow-y: hidden !important;*/

}

.calendar-container {
    /*position: absolute;*/
    background: rgba(89, 17, 20, 0.15);
    right: 0;
    left: 0;

}

.calendar-day-container {
    position: absolute;
    width: 16.6%;
    overflow: visible !important;
}

.calendar-work-day-block {
    background: rgb(248, 249, 255);
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    height: 90px;
    z-index: 5;

}

.calendar-holiday-block {
    height: 45px;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    z-index: 5;
    background: rgb(248, 249, 255);

}

.calendar-holiday-block:focus {
    border-left: 1px solid #ddd;
    background: rgb(248, 249, 255);
}

.calendar-holiday-block:hover {
    background: #f6f6f6;

}

.calendar-work-day-block:hover {
    background: #f6f6f6);
}

.calendar-weekend-day-bloks {

}

.calendar-focus-day-block {
    background: #fffbe2;
    border: 2px solid #ffa34c !important;
    /*border-bottom: 2px solid #ffa34c;*/
    /*border-top: 2px solid #ffa34c;*/
    /*border-left: 2px solid #ffa34c;*/
    /*border-right: 2px solid #ffa34c;*/
    border-radius: 10px;
}

.calendar-block-date {
    position: absolute;
    right: 0;
    float: right;
    color: #aaa;
    margin: 0.3em 0.5em;
    font-size: 90%;
    z-index: 2;
}

.first-day-month {
    border-top: 1px solid #000000;
    border-left: 1px solid #000000;

}

.days-of-first-week {
    border-top: 1px solid #000000;

}

.second-weekend {
    border-left: 1px solid #000000 !important;

}

.today {
    background: #fffbe2;

}

.month-panel {
    position: absolute !important;
    overflow: hidden;
    width: 100%;
    height: 31px;
    top: 65px;
    z-index: 5;
    background: #afbccc;
    cursor: pointer;
}

.current-month-block {
    position: absolute !important;
    top: 65px;
    left: 50%;
    margin-left: -55px;
    width: 110px;
    height: 31px;
    opacity: 0.15;
    background: black;
    z-index: 10;

}

.first {
    position: absolute;
    height: 22px;
    width: 69px;
    color: white;
    line-height: 18px;
    background: url(css/i/calendar-bg-day-labels.png) left top no-repeat;
    text-align: center;
    left: 50%;
    top: -13px;
    margin-left: -35px;
    font-size: 90%;
    z-Index: 4;
}

.first2 {
    position: absolute;
    height: 22px;
    width: 69px;
    color: white;
    line-height: 18px;
    background: url(css/i/calendar-bg-day-labels.png) left top no-repeat;
    text-align: center;
    left: 50%;
    top: 33px;
    margin-left: -35px;
    font-size: 90%;
    z-Index: 4;
}

.month-block {
    height: 18px;
    width: 124px;
    padding-top: 9px;
    text-align: center;
    color: #ffffff;
}

/**
*  Form Panel - right part
**/

.decorated-right-div .gwt-TextBox {

}

/**
*  def-theme gwt styles
**/
.H_td_user .gwt-Hyperlink a {
    font: bold 14px Arial;
    cursor: pointer;
    text-decoration: underline;
    color: black !important;
    padding-right: 20px;
    background: url(images/user.png) no-repeat right center;
}

.H_td_links .gwt-Anchor {
    width: 32px;
    height: 32px;
    cursor: pointer;
    white-space: nowrap;
    float: left;
    margin-right: 1px;
    font-size: 0px;
    text-indent: 9999px;
    overflow: hidden;
}

.H_td_links .decorated-settings .gwt-Anchor {
    background: url(images/settings.png) no-repeat scroll 0 0 transparent;
}

.H_td_links .decorated-help .gwt-Anchor {
    background: url(images/help.png) no-repeat scroll 0 0 transparent;
}

.gwt-TextBox,
.gwt-ListBox,
.gwt-TextArea {
    padding: 10px 7px 11px;
    border: 1px solid #ccc;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.gwt-TextBox {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
}

.form-panel-header .widget-wrapper .gwt-TextBox {
    width: 100%;
}

.gwt-ListBox {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #fff url(images/arrow-down.png) no-repeat 99.5% center;
    width: 100%;
}

.gwt-custom-white {
    color: #ffffff;
}

.facebook-element .gwt-Label {
    padding: 1px 7px;
    margin: 5px;
    background: #f1f1f1;
    border-radius: 5px;
    text-decoration: underline;
    border: 1px solid #f1f1f1;
}

.facebook-element .facebook-label,
.facebook-element .gwt-Image {
    /*float: left;*/
}

.facebook-element .gwt-Image {
    margin-left: 11px;
}

.ext-search-root-div .gwt-Label {
    margin-left: 0px;
    margin-bottom: 10px;
}

.ext-search-save-query-popup-button-div .gwt-Button {
    background: url(images/button_open.png) no-repeat;
    border: none;
    font-size: 0px;
    text-indent: 999px;
    height: 19px;
    margin-left: 5px;
    outline: none;
}

.ext-query-close-button-div .gwt-Button {
    background: url(css/icons/icon-close.png) left top no-repeat;
    display: inline-block;
    position: relative;
    height: 16px;
    width: 16px;
    left: auto;
    border-bottom: none !important;
    vertical-align: bottom;
    cursor: pointer;
    margin-right: 16px;
    float: right;
    font-size: 0px;
    border: none;
    margin-left: 61px;
    outline: none;
    text-indent: 9999px;
}

.ext-query-link-div .gwt-Label,
.ext-search-save-query-link-div .gwt-Label {
    border-bottom: 1px dotted #ffffff;
    font-weight: normal;
    cursor: pointer;
}

.ext-query-link-div .gwt-Label:hover,
.ext-search-save-query-link-div .gwt-Label:hover {
    color: #ff0000;
    border-bottom: 1px dotted #ff0000;
}

#gwt-splitter {
    overflow: visible;
    top: 30%;
    left: -1px !important;
    right: 0;
    border-collapse: collapse;
    z-index: 2;
}

.gwt-SplitLayoutPanel-VDragger {
    background: url("css/images/mover-bg-hor.gif") /* tpa=http://intertrust/f/icons/mover-bg-hor.gif */ top left repeat-x;
    cursor: row-resize;
    overflow: hidden;
}

.gwt-SplitLayoutPanel-HDragger {
    background: url("css/images/mover-bg-vert.gif") /* tpa=http://intertrust/f/icons/mover-bg-hor.gif */ top left repeat-y !important;
    cursor: col-resize !important;
}

div.gwt-Good-Label {
    font-weight: bold;
    margin: 5px;
}

.gwt-Red-Label {
    color: #ff0000;
    vertical-align: super;
    font-weight: bold;
    padding-top: 5px;
}

.ext-search-content-wrapper .gwt-TabLayoutPanelContentContainer {
    background: none;
}

/*** TAB PANEL***/
.gwt-TabLayoutPanel .gwt-TabLayoutPanelTabs {
    padding-top: 6px;
    padding-left: 5px;
    margin-left: 0;
    margin-right: 20px;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelContentContainer {
    border-color: #ccc;
    border-style: solid;
    border-width: 0px 1px 1px;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelContent {
    overflow: visible;
    /* padding: 6px; */
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab {
    color: #000000;
    font-size: 110%;
    margin-left: 4px;
    margin-right: 20px;
    cursor: pointer;
    cursor: hand;
    font-weight: normal;
    text-align: center;
    -moz-border-radius: 3px 3px 0px 0px;
    border-radius: 3px 3px 0px 0px;
    /*text-decoration: underline;*/
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab-selected {
    cursor: default;
    color: #333;
    font-weight: bold;
    text-decoration: none;
    background: url("css/images/tabs_selected_r.png") no-repeat scroll 100% 0 transparent;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab-corner {
    background: url("css/images/tabs_selected_l.gif") no-repeat 0 0 #ffffff;
    margin-right: 24px;
    padding: 1px;
}

.radio-button-widget .gwt-RadioButton {
    margin-top: 3px;
    display: inline-block;
}

.radio-button-widget .gwt-RadioButton label {
    vertical-align: text-top;
}

.default .center-section {
    background: #4c93c9;
    background: -moz-linear-gradient(top, #478BCC 0%, #3b649a 51%, #232464 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4c93c9), color-stop(51%, #3b649a), color-stop(100%, #232464));
    background: -webkit-linear-gradient(top, #478BCC 0%, #3b649a 51%, #232464 100%);
    background: -o-linear-gradient(top, #478BCC 0%, #3b649a 51%, #232464 100%);
    background: -ms-linear-gradient(top, #478BCC 0%, #3b649a 51%, #232464 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#478BCC ', endColorstr='#232464', GradientType=0);
    background: linear-gradient(478 BCC);
    display: block;
    height: auto;
    position: absolute !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/* ------------>>> top date picker <<<------------ */
.gwt-ToggleButton-up,
.gwt-ToggleButton-up-hovering,
.gwt-ToggleButton-up-disabled,
.gwt-ToggleButton-down,
.gwt-ToggleButton-down-hovering,
.gwt-ToggleButton-down-disabled {
    background: none;
    border: none;
    padding: 0;
}
/* ------------>>> end top date picker <<<------------ */

/* ------------>>> treePanel items <<<------------ */
.gwt-TreeItem[role="treeitem"] {
    background: none;
    display: inline-block !important;
}

.treeItemSelectionDecorator {
    height: 25px;
    padding-right: 15px;
}

.gwt-custom-TreeItem-selected .treeItemSelectionDecorator {
    background: url(http://free.selcet.com.ua/folder-list-selected-bg.png) no-repeat scroll 100% 0;
}

.treeItemTitle {
    height: 16px;
    margin-left: -4px;
    padding: 6px 0 2px 7px;
}

.gwt-custom-TreeItem-selected {
    cursor: pointer;
}

.gwt-custom-TreeItem-selected .treeItemTitle {
    background: url(http://free.selcet.com.ua/folder-list-selected-bg.png) no-repeat scroll 0 100%;
}

.treeItemCounter {
    border-radius: 3px;
    color: #fafafa;
    font-weight: normal;
    padding: 1px 3px;
    position: absolute;
    top: -7px;
    right: -15px;
    text-shadow: 1px 1px 0 #0B0086;
}

.treeItemWrapper:hover,
.tree-item-padding-style:hover {
    color: #c8d4ed;
}

.gwt-custom-TreeItem-selected .tree-label,
.gwt-custom-TreeItem-selected,
.gwt-TreeItem {
    white-space: nowrap;
}

.gwt-custom-TreeItem-selected td {
    vertical-align: bottom;
}
/* ------------>>> end treePanel items <<<------------ */