.gwt-TabPanel {
    position: relative;
    z-index: 10;
    width: 100%;
}

.gwt-TabPanelBottom {
    position: relative;
    z-index: 1;
    padding: 0;
    border: 0;
    background-color: #ffffff;
}

.gwt-TabBar {
    padding-top: 2px; /* Old browsers */
    height: 35px; /* FF3.6+ */
    background: #bfdfea; /* Chrome,Safari4+ */
    background: -moz-linear-gradient(top, #bfdfea 0%, #c2e7f0 100%); /* Chrome10+,Safari5.1+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bfdfea), color-stop(100%, #c2e7f0)); /* Opera11.10+ */
    background: -webkit-linear-gradient(top, #bfdfea 0%, #c2e7f0 100%); /* IE10+ */
    background: -o-linear-gradient(top, #bfdfea 0%, #c2e7f0 100%); /* IE6-9 */
    background: -ms-linear-gradient(top, #bfdfea 0%, #c2e7f0 100%); /* W3C */
    background: linear-gradient(to top, #bfdfea 0%, #c2e7f0 100%);
    filter: literal("progid:DXImageTransform.Microsoft.gradient(startColorstr='#bfdfea', endColorstr='#c2e7f0', GradientType=0)");
}

.ext-search-content-wrapper .gwt-TabBar {
    background: none;
}

.ext-search-content-wrapper .form-footer-blank {
    background: none;
}

.ext-search-content-wrapper .gwt-TabPanelBottom {
    background: none;
}

.gwt-TabBar .gwt-TabBarItem {
    margin-right: 10px;
    padding: 0;
    background: none;
    cursor: pointer;
}

.gwt-TabBarItem {
    background: none;
    cursor: pointer;
}

.gwt-TabBarItem.gwt-TabBarItem-selected {
    padding-right: 24px;
    background: url(css/images/tabs_selected_r.png) no-repeat scroll 100% 0;
    font-weight: bold;
    cursor: default;
}

.gwt-Label {
    padding: 8px;
    border-radius: 5px 0 0 0;
    font-size: 100%;
}

.gwt-TabBarItem.gwt-TabBarItem-selected .gwt-Label {
    background: #ffffff;
    text-decoration: none;
}

.gwt-PopupPanel {
    /*border: 1px solid #eee;*/
    border: none;
    background: none;
}

.html-face {
    display: none;
}

.gwt-PopupPanel.header-notification-popup {
    top: 12px !important;
    right: 420px;
    left: 168px !important;
    z-index: 100;
    border: 1px solid;
    border-color: #fff1ca #ffedbe #ffedbe;
    border-radius: 5px;
    background: none repeat scroll 0 0 #fffdf0;
    box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, .3);
}

.gwt-Label.header-notification {
    margin-top: 10px;
    padding-top: 2px !important;
}

.section-suggest-item .gwt-Label {
    display: inline-block;
    padding: 10px;
}

/* ------------>>> Form Panel - right part <<<------------ */
.decorated-right-div .gwt-TextBox {}

/* ------------>>> def-theme gwt styles <<<------------ */


.H_td_links .gwt-Anchor {
    float: left;
    overflow: hidden;
    margin-right: 1px;
    width: 32px;
    height: 32px;
    text-indent: 9999px;
    white-space: nowrap;
    font-size: 0px;
    cursor: pointer;
}

.H_td_links .decorated-settings .gwt-Anchor {
    background: url(images/settings.png) no-repeat scroll 0 0 transparent;
}

.H_td_links .decorated-help .gwt-Anchor {
    background: url(images/help.png) no-repeat scroll 0 0 transparent;
}

.gwt-TextBox,
.gwt-ListBox,
.gwt-TextArea {
    margin: 0;
    padding: 10px 7px 11px;
    border: 1px solid #ccc;
    font-family: Arial, Helvetica, sans-serif;
}

.gwt-TextBox {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
}

.form-panel-header .widget-wrapper .gwt-TextBox {
    width: 100%;
}

.gwt-ListBox {
    width: 100%;
    background: #fff url(images/arrow-down.png) no-repeat 99.5% center;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid #dbdbdb;
    padding: 5px 10px;
    margin-top: 5px;
}

select.gwt-ListBox {
    text-indent: 0.01px;
    text-overflow: '';
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

select.gwt-ListBox::-ms-expand {
    display: none;
}

.gwt-custom-white {
    color: #ffffff;
}

.gwt-TextBox,
.gwt-ListBox,
.gwt-TextArea {
    min-width: 150px;
}

.facebook-element .gwt-Label {
    margin: 5px;
    padding: 1px 7px;
    border: 1px solid #f1f1f1;
    border-radius: 5px;
    background: #f1f1f1;
    text-decoration: underline;
}

.facebook-element .facebook-label,
.facebook-element .gwt-Image {
    /*float: left;*/
}

.facebook-element .gwt-Image {
    margin-left: 11px;
}

.ext-search-root-div .gwt-Label {
    margin-bottom: 10px;
    margin-left: 0px;
}

.ext-search-save-query-popup-button-div .gwt-Button {
    margin-left: 5px;
    height: 19px;
    outline: none;
    border: none;
    background: url(images/button_open.png) no-repeat;
    text-indent: 999px;
    font-size: 0px;
}

.ext-query-close-button-div .gwt-Button {
    position: relative;
    left: auto;
    display: inline-block;
    float: right;
    margin-right: 16px;
    margin-left: 61px;
    width: 16px;
    height: 16px;
    outline: none;
    border: none;
    border-bottom: none !important;
    background: url(css/icons/icon-close.png) left top no-repeat;
    vertical-align: bottom;
    text-indent: 9999px;
    font-size: 0px;
    cursor: pointer;
}

.ext-query-link-div .gwt-Label,
.ext-search-save-query-link-div .gwt-Label {
    border-bottom: 1px dotted #ffffff;
    font-weight: normal;
    cursor: pointer;
}

.ext-query-link-div .gwt-Label:hover,
.ext-search-save-query-link-div .gwt-Label:hover {
    border-bottom: 1px dotted #ff0000;
    color: #ff0000;
}

#gwt-splitter {
    top: 30%;
    right: 0;
    left: -1px !important;
    z-index: 2;
    overflow: visible;
    border-collapse: collapse;
}

.gwt-SplitLayoutPanel-VDragger {
    overflow: hidden;
    background: url("css/images/mover-bg-hor.gif") /* tpa=http://intertrust/f/icons/mover-bg-hor.gif */ top left repeat-x;
    cursor: row-resize;
}

.gwt-SplitLayoutPanel-HDragger {
    background: url("css/images/mover-bg-vert.gif") /* tpa=http://intertrust/f/icons/mover-bg-hor.gif */ top left repeat-y !important;
    cursor: col-resize !important;
}

div.gwt-Good-Label {
    margin: 5px;
    font-weight: bold;
}

.gwt-Red-Label {
    padding-top: 5px;
    color: #ff0000;
    vertical-align: super;
    font-weight: bold;
}

.ext-search-content-wrapper .gwt-TabLayoutPanelContentContainer {
    background: none;
}

/* ------------>>> Tab panel <<<------------ */
.gwt-TabLayoutPanel .gwt-TabLayoutPanelTabs {
    margin-right: 20px;
    margin-left: 0;
    padding-top: 6px;
    padding-left: 5px;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelContentContainer {
    border-width: 0px 1px 1px;
    border-style: solid;
    border-color: #ccc;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelContent {
    overflow: visible;
    /* padding: 6px; */
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab {
    margin-right: 20px;
    margin-left: 4px;
    -moz-border-radius: 3px 3px 0px 0px;
    border-radius: 3px 3px 0px 0px;
    color: #000000;
    text-align: center;
    font-weight: normal;
    font-size: 110%;
    cursor: pointer;
    cursor: hand;
    /*text-decoration: underline;*/
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab-selected {
    background: url("css/images/tabs_selected_r.png") no-repeat scroll 100% 0 transparent;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    cursor: default;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab-corner {
    margin-right: 24px;
    padding: 1px;
    background: url("css/images/tabs_selected_l.gif") no-repeat 0 0 #ffffff;
}

.radio-button-widget .gwt-RadioButton {
    display: inline-block;
    margin-top: 3px;
}

.radio-button-widget .gwt-RadioButton label {
    vertical-align: text-top;
}

.default .center-section {
    position: absolute !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    height: auto;
    background: #4c93c9;
    background: -moz-linear-gradient(top, #478BCC 0%, #3b649a 51%, #232464 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4c93c9), color-stop(51%, #3b649a), color-stop(100%, #232464));
    background: -webkit-linear-gradient(top, #478BCC 0%, #3b649a 51%, #232464 100%);
    background: -o-linear-gradient(top, #478BCC 0%, #3b649a 51%, #232464 100%);
    background: -ms-linear-gradient(top, #478BCC 0%, #3b649a 51%, #232464 100%);
    background: linear-gradient(to top, #478BCC 0%, #3b649a 51%, #232464 100%);
    filter: literal("progid:DXImageTransform.Microsoft.gradient(startColorstr='#478BCC ', endColorstr='#232464', GradientType=0)");
}
/* ------------>>> end Tab panel <<<------------ */

/* ------------>>> top date picker <<<------------ */
.gwt-ToggleButton-up,
.gwt-ToggleButton-up-hovering,
.gwt-ToggleButton-up-disabled,
.gwt-ToggleButton-down,
.gwt-ToggleButton-down-hovering,
.gwt-ToggleButton-down-disabled {
    padding: 0;
    border: none;
    background: none;
}
/* ------------>>> end top date picker <<<------------ */

/* ------------>>> treePanel items <<<------------ */
.gwt-TreeItem[role="treeitem"] {
    display: inline-block !important;
    margin-left: 5px;
    background: none;
}

.treeItemSelectionDecorator {
    /*height: 25px;*/
    /*padding-right: 15px;*/
}

.gwt-custom-TreeItem-selected .treeItemSelectionDecorator {
    /*background: url(images/folder-list-selected-bg.png) no-repeat scroll 100% 0;*/
}

.treeItemTitle {
    margin-left: -4px;
    padding: 0 0 2px 5px;
    /*padding: 6px 0 2px 7px;*/
    height: 16px;
}

.gwt-custom-TreeItem-selected {
    cursor: pointer;
}

.gwt-custom-TreeItem-selected .treeItemTitle {
    background: url(images/folder-list-selected-bg.png) no-repeat scroll 0 100%;
}

.treeItemCounter {
    position: absolute;
    top: 0px;
    right: -33px;
    padding: 2px 3px 0px 3px;
    border-radius: 3px;
    color: #fafafa;
    text-shadow: 1px 1px 0 #0B0086;
    font-weight: normal;
    font-size: 10px;
}

.treeItemWrapper:hover,
.tree-item-padding-style:hover {
    color: #c8d4ed;
}

.gwt-custom-TreeItem-selected .tree-label,
.gwt-custom-TreeItem-selected,
.gwt-TreeItem {
    white-space: nowrap;
}
.gwt-TreeItem{
    font-size: 12px;
    font-family: Arial, sans-serif;
}

.gwt-custom-TreeItem-selected td {
    vertical-align: bottom;
}
.gwt-custom-TreeItem-selected .treeItemTitle:after {
    position: absolute;
    top: -5px;
    right: -15px;
    display: block;
    margin-left: 5px;
    width: 40px;
    height: 25px;
    background: url(images/folder-list-selected-bg.png) right top no-repeat;
    content: open-quote;
    font-size: 0px;
}

.gwt-custom-TreeItem-selected .treeItemTitle:before {
    position: absolute;
    top: -5px;
    right: 0;
    left: -5px;
    display: block;
    height: 25px;
    background: url(images/folder-list-selected-bg.png) left top no-repeat;
    content: open-quote;
    font-size: 0px;
    /*margin-left: 5px;*/
}

.gwt-custom-TreeItem-selected .tree-label {
    position: relative;
    display: inherit;
    color: #fff !important;
    text-decoration: underline !important;
    white-space: nowrap;
}
/* ------------>>> end treePanel items <<<------------ */
.gwt-attachment-viewer-panel {
        border-width:1;
    	border-style: solid;
    	border-color: GRAY;
}

/* CMFIVE-5032 Изменение поведения панели навигации в новой теме */
@def autoOpenNavigationPanel true;