# Main
*~
*.lock
*.swp
*.DS_Store
*.log
*.log.*
*.tar
*.zip
Thumbs.db
*.dnx
*.tpx

# old skool SVN
.svn/

# Java
*.class
*.jar
*.war
*.ear

# Eclipse
.classpath
.project
.settings
.metadata/
.springBeans

# Idea
**/*.iml
**/.idea
**/.idea/workspace.xml
**/.idea/tasks.xml
atlassian-ide-plugin.xml

#MergeTool
*.orig

#Servers
Servers/

# Maven
target/
*.releaseBackup
*.tag
release.properties
pom.xml.next
build.properties
CM5/deploy.properties

CM5/server.properties
CM5/Client/remote-client/client.properties
IDE/Idea14/ActiveFrame-Platform/.idea/artifacts/ear_ear.xml
IDE/Idea14/ActiveFrame-Platform/.idea/artifacts/ear_ear_exploded.xml
IDE/Idea14/ActiveFrame-Platform/.idea/artifacts/web_app_war.xml
IDE/Idea14/ActiveFrame-Platform/.idea/artifacts/web_app_war_exploded.xml
IDE/Idea14/ActiveFrame-Platform/.idea/compiler.xml
IDE/Idea14/ActiveFrame-Platform/.idea/encodings.xml
IDE/Idea14/ActiveFrame-Platform/.idea/modules.xml
