# Main
*~
*.lock
*.swp
*.DS_Store
*.log
*.log.*
*.tar
*.zip
Thumbs.db
*.dnx
*.tpx

# old skool SVN
.svn/

# Java
*.class
*.jar
*.war
*.ear

# Eclipse
.classpath
.project
.settings
.metadata/
.springBeans

# Idea
**/*.iml
**/.idea
**/.idea/workspace.xml
**/.idea/tasks.xml
atlassian-ide-plugin.xml

#MergeTool
*.orig

#Servers
Servers/

# Maven
target/
*.releaseBackup
*.tag
release.properties
pom.xml.next
build.properties
CM5/deploy.properties

CM5/server.properties
CM5/Client/remote-client/client.properties
/test-war/src/main/webapp/WEB-INF/web.xml
