body {
    background-color: white;
    color: black;
    font-family: Arial, sans-serif;
    font-size: small;
    margin: 8px;
}
.test {
    background-color: red;
}

#debug{
    background-color: red;
    border-collapse: collapse;
}

#align-left{
   text-align: left;
}

#align-right{
    text-align: right;
}