.wrap-date {
    width: 148px;
    float: left;
    position: relative;
}

.date-box-button {
    width: 16px;
    height: 16px;
    background: url(images/icon-datepicker.png) no-repeat;
    position: absolute;
    top: 8px;
    right: 11px;
    z-index: 5;
    cursor: pointer;
}

.gwt-DateBox.date-text-box {
    padding: 3px 0 3px 8px;
    width: 100%;
    border: 1px solid #bbb;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 24px;
}

.date-picker-decorate > table {
    z-index: 99;
    border: 3px solid #54b5df;
    border-radius: 3px 3px 3px 3px;
    width: 195px;
}

.date-picker-baloon {
    width: 32px;
    height: 17px;
    position: absolute !important;
    left: 115px;
    top: 6px;
    background-image: url(css/images/blue-arrow.png);
    background-repeat: no-repeat;
}

.date-picker-baloon-up {
    width: 29px;
    height: 17px;
    left: 115px;
    top: -3px;
    background: url(images/blue-arrow-down.png) no-repeat -2px 0;
}

.date-picker-decorate {
    padding-top: 20px;
}

.dateBoxPopup {
    z-index: 999;
}

/**
 * top date picker
 */
.datePickerPreviousButton {
    cursor: pointer;
    background: url(css/i/arr_left.png) no-repeat;
    height: 12px;
    width: 16px;
    margin-top: 4px;
    padding: 0 !important;
}

.datePickerNextButton {
    padding: 0 !important;
    cursor: pointer;
    background: url(css/i/arr_right.png) no-repeat;
    height: 12px;
    width: 16px;
    margin-top: 4px;
}

.dateBoxPopup .html-face {
    display: none;
}

.datePickerMonth {
    text-align: center !important;
    vertical-align: middle;
    white-space: nowrap !important;
    font-size: 100% !important;
    font-weight: bold !important;
    color: #333 !important;
}

.datePickerMonthSelector {
    background: white !important;
    width: 100%;
}

.datePickerWeekdayLabel, .datePickerWeekendLabel {
    background: none !important;
    padding: 0 4px 2px;
    cursor: default;
}

.datePickerDayIsWeekend {
    background: #f7f7f7 !important;
    color: #f00 !important;
}

.datePickerDayIsWeekend :hover {
    color: #f00 !important;
    background: #f0e68c !important;
}

.datePickerDay, .datePickerWeekdayLabel, .datePickerWeekendLabel {
    font-size: 85%;
    text-align: center;
    padding: 4px;
    outline: none;
    font-weight: bold !important;
    color: #333;
    border-right: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    font-family: Arial, sans-serif;
    text-decoration: inderline !important;
}

.datePickerDayIsHighlighted:hover {
    background: #f0e68c;
}

.datePickerDayIsValue {
    background: #d7dfe8 !important;
}

.datePickerDayIsToday {
    padding: 3px;
    color: #fff;
    background: url(css/images/hborder.png) repeat-x 0 -2607px;
    border: none !important
}

.datePickerDay, .datePickerWeekdayLabel, .datePickerWeekendLabel {
    height: 16px;
}

.date-picker-decorate {
    border: 1px;
    border-color: red;

}

div, input, textarea, select {
    outline: none;
}

.composite-date-time-container-hidden {
    display: none;
}

.composite-date-time-container-shown {
    width: auto;
    position: relative;
    padding: 10px 10px 5px;
}

.composite-date-time-container-shown > div {
    display: inline-block;
    margin: 0 20px 0 0;
}

.composite-datetime-submit-button {
    display: block !important;
    /*float: right;*/
    margin-right: 5px;
}

.time-picker {

}

.composite-date-picker {

}

.composite-datetime-selection-item .gwt-Label {
    color: #555;
    text-decoration: none;
}

.composite-datetime-selection-item:hover {
    background: rgba(186, 186, 186, 0.4);
    border-radius: 0;
    color: #1a1a1a;
}

.composite-datetime-selection-item .gwt-Label:hover {
    color: #1a1a1a;
    cursor: hand;
    cursor: pointer;
}

.composite-datetime-selection-item:active {
    background: white;
    color: #e17009;
}

.composite-datetime-picker {
    background: #fafafa;
    border: 1px solid #999;
    box-shadow: 2px 2px 5px rgba(128, 128, 128, .7);
    padding: 2px;
    z-index: 1000;
}

.datePickerDay {
    padding: 4px;
    cursor: hand;
    cursor: pointer;
    background: turquoise;
}

.datePickerDayIsToday {
    border: 1px solid black;
    padding: 3px;
    background: burlywood;
}

.timePickerReadOnly, .timePickerReadOnlySmall {
    font-weight: bold;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    color: black;
    background-color: #f2f2f2;
    padding: 6px 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background-image: -webkit-linear-gradient(top, #e0e0e0, #e6e6e6, #8f8f8f);
    background-image: -moz-linear-gradient(top, #e0e0e0, #e6e6e6, #8f8f8f);
    background-image: -ms-linear-gradient(top, #e0e0e0, #e6e6e6, #8f8f8f);
    background-image: -o-linear-gradient(top, #e0e0e0, #e6e6e6, #8f8f8f);
    background-image: linear-gradient(top, #e0e0e0, #e6e6e6, #8f8f8f);
    border: 1px solid #535353;
    -webkit-box-shadow: 0 1px 0 0 black;
    -moz-box-shadow: 0 1px 0 0 black;
    box-shadow: 0 1px 0 0 black;
}

.timePickerReadOnly {
    font-size: 18px;
}

.timePickerReadOnlySmall {
    font-size: 12px;
}

.timePicker {
    background: rgb(240, 240, 240);
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    /*box-shadow: inset 0 3px 4px -2px #333333;*/
    /*-moz-box-shadow: inset 0 3px 4px -2px #333;*/
    /*-webkit-box-shadow: inset 0 3px 4px -2px #333;*/
    border: 1px solid #e4e4e4;
    display: inline-block;
    margin: 10px 0 0 0;
    padding: 2px 5px 0;
    text-decoration: none;
}

.timePickerEntry, .timePickerEntrySmall {
    font-weight: bold;
    display: inline-block;
    text-decoration: none;
    border: none;
    background-color: transparent;
}

.timePickerEntry {
    /*font-size: 18px;*/
}

.timePickerEntrySmall {
    font-size: 12px;
    width: 20px;
}

/********************/
/* iOSButton Styles */
/********************/
.iOSButton-badge {
    text-align: center;
    display: inline-block;
    font-size: 16px;
    color: white;
    background: #ff3333;
    border: 2px solid white;
    padding: 0 5px;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

.iOSButton {
    cursor: pointer;
    border: 1px solid black;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    background: #00b5e2;
}

.timebox-container {
    border: 1px solid #8D97A5;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    color: #1f2b5d;
    display: inline-block;
    outline: medium none;
    margin: 0;
    padding: 3px;
    vertical-align: middle;
    width: 80px;
}

.timebox-separator {
    font-size: 10px;
    text-align: center;
    width: 5px;
}

.timebox-button-up-down {
    cursor: pointer;
    font-size: 10px;
}


