/*оформление поиска коллекшен плагин вю начало*/
.search-container {

    background: none repeat scroll 0 0 #fff;
    border: 1px solid #b0bdce;
    border-radius: 9px 9px 9px 9px;
    display: inline-block;
    font-size: 11px;
    height: 18px;
    line-height: 18px;
    margin: 0 0 0 1px;
    overflow: hidden;
    position: relative;
    top: 0;
    vertical-align: top;
    white-space: nowrap;
    padding: 0 0 2px 0;
    position: relative;
    width: 117;

}
.dummy{}

.table-browser-filter-editor {
    height: 25px;
    padding: 0 0 0 5px;
}
.common-add-button {
    margin-left: 10px;
    overflow-y: auto !important;
    position: relative;
    vertical-align: top;
    text-align: center;
    width: 75px;
}
.common-composite-button {
    /*margin-top: 4px;*/
    /*margin-bottom: 4px;*/
    /*padding-left: 3px;*/
    /*padding-right: 3px;*/
    /*padding-top: 3px;*/
    /*padding-bottom: 3px;*/
    display: inline-block;
    margin-left: 10px;
    font: 13px Arial;
    color: grey;
    border-radius: 5px;
    white-space: nowrap;
    box-shadow: 1px 1px 2px 1px #999;
    background: white;
}
.common-composite-button:hover {
    color: #ffffff;
    cursor: pointer;
    background: #54b5df; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU0YjVkZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzNTNmODYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #54b5df 0%, #353f86 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#54b5df), color-stop(100%,#353f86)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #54b5df 0%,#353f86 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #54b5df 0%,#353f86 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #54b5df 0%,#353f86 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #54b5df 0%,#353f86 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#54b5df', endColorstr='#353f86',GradientType=0 ); /* IE6-8 */
}
.common-composite-button:active {
    background: #353f86; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU0YjVkZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzNTNmODYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #353f86 0%, #54b5df 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#353f86), color-stop(100%,#54b5df)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #353f86 0%,#54b5df 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #353f86 0%,#54b5df 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #353f86 0%,#54b5df 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #353f86 0%,#54b5df 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#353f86', endColorstr='#54b5df',GradientType=0 ); /* IE6-8 */

}
.common-widget-button-style {
    padding-left: 3px;
    display: inline-block;
    position: relative;

}
.common-buttons-panel {
    margin-top: 5px;
    margin-bottom: 3px;
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
    position: relative;

}
.show-filter-button{
    width: 23px;
    height: 23px;
    background-color: #f0f4ff;
    background-image: url("css/filter-btn.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border: 1px solid #c0c4cf !important;
    border-radius: 3px 3px 3px 3px !important;
    box-shadow: none !important;
    float: right;
    margin: 3px 5px 0 5px;
}
.search-header {
    text-align: right;
}
/*.search-box {*/
    /*border: 0 none;*/
    /*font-size: 11px;*/
    /*width: 70px;*/
    /*line-height: 18px;*/
    /*margin: 0;*/
    /*outline: medium none;*/
    /*padding-left: 3px;*/
    /*padding-top: 5px;*/
    /*vertical-align: middle;*/

/*}*/

/*.search-data-box {*/
    /*display: inline-block;*/
    /*border: 0 none;*/
    /*font-size: 11px;*/
    /*width: 70px;*/
    /*line-height: 18px;*/
    /*margin: 0;*/
    /*outline: medium none;*/
    /*padding-left: 3px;*/
    /*padding-top: 5px;*/
    /*vertical-align: middle;*/



/*}*/
.search-data-box-{

    border: 0 none;
    font-size: 11px;
    width: 70px;
    line-height: 18px;
    margin: 0;
    outline: medium none;
    padding-left: 3px;
    padding-top: 5px;
    vertical-align: middle;


}


.horizont-container{
    background-color: #f0f4ff;
    padding: 5px 0 0 0;
    border: 5 none;
    height: 32px;
    width: 100%;

}

/*.flush-serch {*/
    /*background: url("css/icons1.png") no-repeat scroll -32px top transparent;*/
    /*cursor: pointer;*/
    /*border: 0 none;*/
    /*box-shadow: none;*/
    /*cursor: pointer;*/
    /*font-size: 12px;*/
    /*margin: 0;*/
    /*vertical-align: middle;*/
    /*display: inline-block;*/
    /*float: none;*/
    /*height: 16px;*/
    /*left: auto;*/
    /*position: relative;*/
    /*width: 16px;*/
/*}*/

.date-select {
    background: url("css/icon-datepicker.png") no-repeat;
    cursor: pointer;
    border: 0 none;
    box-shadow: none;
    cursor: pointer;
    font-size: 12px;
    vertical-align: middle;
    display: inline-block;
    margin: 1px 5px 0 0;
    float: none;
    height: 16px;
    left: auto;
    position: relative;
    width: 16px;
}

.flush-serch:hover {
    background: url("css/icons1.png") no-repeat scroll -48px top transparent;
}

/*.flush-serch-hide {*/
    /*background: url("css/icons1.png") no-repeat scroll -100px top transparent !important;*/
    /*cursor: default !important;*/
    /*display: inline-block;*/
/*}*/

.search-button {
    height: 23px;
    width: 23px;
    background-color: #f0f4ff;
    background-image: url("css/filter-btn.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: relative;
    border: 1px solid #c0c4cf !important;
    border-radius: 3px 3px 3px 3px !important;
    box-shadow: none !important;
    padding: 0 !important;

    float: right;
    margin-top: -26px;
    margin-right: 5px;
}

.datePickerDay, .datePickerWeekdayLabel, .datePickerWeekendLabel {
    font-size: 85%;
    text-align: center;
    padding: 4px;
    outline: none;
    font-weight: bold;
    color: #333;
    border-right: 1px solid #EDEDED;
    border-bottom: 1px solid #EDEDED;
}

.datePickerWeekdayLabel, .datePickerWeekendLabel {
    background: #fff;
    padding: 0px 4px 2px;
    cursor: default;
    color: #666;
    font-size: 70%;
    font-weight: normal;
}

.datePickerWeekendLabel {
    color: #FF0000;
}

.datePickerDay {
    padding: 4px 7px;
    cursor: hand;
    cursor: pointer;
}

.datePickerDayIsWeekend {
    background: #f7f7f7;
    color: #FF0000;
}

.datePickerDayIsFiller {
    color: #999;
    font-weight: normal;
}

.datePickerDayIsValue {
    background: #d7dfe8;
}

.datePickerDayIsDisabled {
    color: #AAAAAA;
    font-style: italic;
}

.datePickerDayIsHighlighted {
    background: #F0E68C;
}

.datePickerDayIsValueAndHighlighted {
    background: #d7dfe8;
}

.datePickerDayIsToday {
    padding: 3px;
    color: #fff;
    background: url("css/images/hborderN.png") repeat-x 0px -2607px;
}

.datePickerMonthSelector {
    width: 100%;
    padding: 1px 0 5px 0;
    background: #fff;
}

td.datePickerMonth {
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    font-size: 100%;
    font-weight: bold;
    color: #333;
}

.datePickerPreviousButton, .datePickerNextButton {
    font-size: 120%;
    line-height: 1em;
    color: #3a6aad;
    cursor: hand;
    cursor: pointer;
    font-weight: bold;
    padding: 0px 4px;
    outline: none;
}

/*оформление поиска коллекшен плагин вю конец*/

/*простой поиск*/
.search-field {
    border: 0 !important;;
    width: 250px;
    height: 16px;
    padding: 0 5px;
    margin: 1px;
    display: block;
    float: left;
    margin-top: 3px;
}

.simple-search-button {
    background: url("css/loupe.png") no-repeat;
    width: 18px;
    height: 18px;
    border: 0;
    margin: 3px 0 0;
    cursor: pointer;
    display: block;
    float: right;

}

.search-panel-text-and-button-container {
    line-height: 16px;
    height: 20px;
    margin: 0 0 0 5px;
    background: #fff;
    border: 1px solid #a0a7b2;
    border-radius: 3px;
    display: inline-block;
    zoom: 1;
    font-size: 12px;
    position: relative;
    overflow: hidden;
    top: 0;
    vertical-align: top;
    white-space: nowrap;
}

.flush-button {
    background: url("css/icons1.png") no-repeat scroll -32px top transparent;
    cursor: pointer;
    border: 0 none;
    box-shadow: none;
    cursor: pointer;
    font-size: 12px;
    margin: 0;
    vertical-align: middle;
    display: block;
    float: none;
    height: 16px;
    left: auto;
    position: relative;
    width: 16px;
    top: 3px;
}

.flush-button:hover {
    background: url("css/icons1.png") no-repeat scroll -48px top transparent;
}

.simple-search-container {
    margin: 4px;
    float: right;
}
.collection-table-scrolled-body{
    overflow-y: hidden;
    overflow-x: hidden;
    position: relative;
    zoom: 1;
    height: 100% !important;
   /* width: 480px;*/
}
.table-browser-dialog-box-content{
    padding: 10px;
}
.table-browser-dialog{
    background: #FFFFFF;
    padding: 2px, 2px, 2px, 2px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
    border: 4px solid silver;
    z-index: 10;
}
/*простой  поиск конец*/

.style-button {
    border: solid black 1px;
}

.action-bar-button {

}

.action-bar-right-button-active {

}

.action-bar-right-button-non-active {

}

.action-bar {
    box-shadow: 0 3px 10px #aaa;
    background: #fff;
    background: -moz-linear-gradient(top, #ffffff 0%, #eaeef1 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #eaeef1));
    background: -webkit-linear-gradient(top, #ffffff 0%, #eaeef1 100%);
    background: -o-linear-gradient(top, #ffffff 0%, #eaeef1 100%);
    background: -ms-linear-gradient(top, #ffffff 0%, #eaeef1 100%);
    filter: progid\: DXImageTransform\.Microsoft\.gradient\( startColorstr\= "#ffffff", endColorstr\= "#eaeef1", GradientType\= 0 \);
    background: linear-gradient(top, #ffffff 0%, #eaeef1 100%);
    height: 40px;
}

.action-bar-button-active {

}

.action-bar-button-non-active {

}

/* SUGGEST BOX  */
.root-suggest-div {
    position: relative;
    width: 100%;
}

.decorated-suggest-box {
    width: 100%;
    height: 15px;
    position: relative;
    overflow: hidden;
    font: 13px/ 15px Arial;
}

.decorated-list-suggest-box {
    height: 15px;
    padding: 9px 25px 9px 35px;
    position: relative;
    background: #fffdf0;
    border: 1px solid;
    border-color: #fff1ca #ffedbe #ffedbe;
    border-radius: 5px;
}

.header-first-action-button {
    background: url(images/matugalnik.png) no-repeat scroll 4px 4px;
    cursor: pointer;
    height: 30px;
    position: absolute;
    width: 33px;
    z-index: 2;
    top: 0px;
    left: 3px;
    outline: none;
}

.header-first-action-button-mute {
    background: url(images/matugalnik_dis.png) no-repeat scroll 4px 4px !important;
}

.header-second-action-button {
    width: 28px;
    height: 35px;
    position: absolute;
    right: -1px;
    top: -1px;
    z-index: 1;
    background: url(images/notes_down.png) no-repeat 0 0;
    cursor: pointer;
    outline: none;
}

.section-suggest-box {
    position: initial !important;
    overflow: visible !important;
}

.H_td_ExtSearch  .header-third-action-button {
    background: url(css/i/ext-search.png) no-repeat scroll center center;
    cursor: pointer;
    float: right;
    height: 32px;
    margin-right: 5px;
    margin-left: 5px;
    width: 32px;
    padding-left: 7px !important;
    padding-right: 7px !important;
    z-index: 1;
    border: 1px solid white;
    outline: none;
}

.H_td_ExtSearch  .header-third-action-button:hover {
    background: url(css/i/ext-search.png) center center no-repeat #fffdf0;
    border: 1px solid;
    border-color: #fff1ca #ffedbe #ffedbe;
    border-radius: 5px;
}

.upper-suggestbox {
    width: 100%;
    height: 15px;
    position: relative;
    overflow: hidden;
    font: 13px/ 15px Arial;

    position: relative;
    border: none;
    border-radius: 5px;
    background: #fffdf0;
    outline: none;
}

.action-bar-right-side {
    float: right;
}

.action-bar-right-side img {
    padding: 7px 5px 7px 0;
    cursor: pointer;
}

.decorated-action-link .action-bar-button {
    float: left;
    margin-left: 3px;
    margin-top: 10px;
    border-bottom: 1px dotted black;
}

.decorated-action-link img {
    border: none !important;
    position: relative;
    top: 2px;
    float: left;
    margin-top: 7px;
    margin-left: 10px;
    cursor: pointer;
}

.decorated-action-link {
    float: left;
}

.decorated-action-link .action-bar-button a {
    text-decoration: none;

    cursor: pointer;
    cursor: pointer;
    color: black;

}

.decorated-action-link .action-bar-button a:hover,
.decorated-action-link .action-bar-button:hover {
    color: #f00;
    border-bottom: 1px dotted red;
}

.centerTopBottomDividerRoot {
    margin-top: 0px !important;
    margin-right: 0px !important;
}

.H_td_user .gwt-Hyperlink a {
    font: bold 14px Arial;
    cursor: pointer;
    text-decoration: underline;
    color: black !important;
    padding-right: 20px;
    background: url(images/user.png) no-repeat right center;
}

.H_td_links .gwt-Anchor {
    width: 32px;
    height: 32px;
    cursor: pointer;
    white-space: nowrap;
    float: left;
    margin-right: 1px;
    font-size: 0px;
    text-indent: 9999px;
    overflow: hidden;
}

.H_td_links .decorated-settings .gwt-Anchor {
    background: url(images/settings.png) no-repeat scroll 0 0 transparent;
}

.H_td_links .decorated-help .gwt-Anchor {
    background: url(images/help.png) no-repeat scroll 0 0 transparent;
}

.H_td_logout a {
    white-space: nowrap;
    padding: 9px 9px 8px 18px;
    background: url(images/logout.gif) no-repeat 0 50%;
    font: 15px Arial;
    color: #000;
    display: -moz-inline-box;
    display: inline-block;
    cursor: pointer;
    margin-left: 10px;
    color: black !important;
    text-decoration: none;
}

.action-bar-right-button-non-active {
    float: right;
    width: 36px;
    height: 31px;
    position: relative;
    cursor: pointer;
    background: url(images/frameset/show-panel.png) no-repeat 0 0;
    display: block !important;
    opacity: 1 !important;
    outline: none;
    z-index: 99;
    margin-top: 7px;
}

.action-bar-right-button-non-active.action-bar-right-button-active,
.action-bar-right-button-non-active:hover {
    background: url(images/frameset/show-panel-hover.png) no-repeat 0 0;
}

.decorated-suggest-box {

}

.section-suggest-box {

}

.gwt-TextBox,
.gwt-ListBox,
.gwt-TextArea {
    padding: 7px !important;
    border: 1px solid #ccc;
    margin: 0px;
    font-family: arial;
}

.gwt-ListBox {
    width: 165px;
}

.gwt-Label {
    font-weight: bold;
}

.action-section {

}

.left-section {
    float: left;
    z-index: 15 !important;

    background: #4c93c9;
    background: -moz-linear-gradient(top, #478BCC 0%, #3b649a 51%, #232464 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4c93c9), color-stop(51%, #3b649a), color-stop(100%, #232464));
    background: -webkit-linear-gradient(top, #478BCC 0%, #3b649a 51%, #232464 100%);
    background: -o-linear-gradient(top, #478BCC 0%, #3b649a 51%, #232464 100%);
    background: -ms-linear-gradient(top, #478BCC 0%, #3b649a 51%, #232464 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#478BCC ', endColorstr='#232464', GradientType=0);
    background: linear-gradient(478 BCC);

}

.left-section:hover {
    box-shadow: 5px 0 5px rgba(0, 0, 0, 0.5);
}

.left-section-active {
    float: left;
    z-index: 15 !important;
    background: #4c93c9;
    background: -moz-linear-gradient(top, #478BCC 0%, #3b649a 51%, #232464 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4c93c9), color-stop(51%, #3b649a), color-stop(100%, #232464));
    background: -webkit-linear-gradient(top, #478BCC 0%, #3b649a 51%, #232464 100%);
    background: -o-linear-gradient(top, #478BCC 0%, #3b649a 51%, #232464 100%);
    background: -ms-linear-gradient(top, #478BCC 0%, #3b649a 51%, #232464 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#478BCC ', endColorstr='#232464', GradientType=0);
    background: linear-gradient(top, #478BCC 0%, #3b649a 51%, #232464 100%);
    /*
    background: #4c93c9;
    background: -moz-linear-gradient(top, #4c93c9 0%, #3b649a 51%, #232464 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4c93c9),	 color-stop(51%, #3b649a), color-stop(100%, #232464) );
    background: -webkit-linear-gradient(top, #4c93c9 0%, #3b649a 51%, #232464 100%);
    background: -o-linear-gradient(top, #4c93c9 0%, #3b649a 51%, #232464 100%);
    background: -ms-linear-gradient(top, #4c93c9 0%, #3b649a 51%, #232464 100%);
    filter: progid\: DXImageTransform\.Microsoft\.gradient\( startColorstr\= "#4c93c9", endColorstr\= "#232464", GradientType\= 0 \);
    background: linear-gradient(top, #4c93c9 0%, #3b649a 51%, #232464 100%);
    */

}

/* aktivnue punktu v levoy kolonke */
/*
.gwt-TreeItem-selected .tree-label:after  {
    content: open-quote;
    display: block;
    position: absolute;
    width: 27px;
    height: 25px;
    background: url(images/folder-list-selected-bg.png) right top no-repeat;
    right: -11px;
    font-size: 0px;
    top: 4px;
    margin-left: 5px;
}

.gwt-TreeItem-selected .tree-label:before  {
    content: open-quote;
    display: block;
    position: absolute;
    height: 25px;
    background: url(images/folder-list-selected-bg.png) left top no-repeat;
    left: 8px;
    right: 0;
    top: 4px;
    font-size: 0px;
    margin-left: 5px;
}   */
.gwt-custom-TreeItem-selected .tree-label:after {
    content: open-quote;
    display: block;
    position: absolute;
    width: 27px;
    height: 25px;
    background: url(images/folder-list-selected-bg.png) right top no-repeat;
    right: -11px;
    font-size: 0px;
    top: 4px;
    margin-left: 5px;
}

.gwt-custom-TreeItem-selected .tree-label:before {
    content: open-quote;
    display: block;
    position: absolute;
    height: 25px;
    background: url(images/folder-list-selected-bg.png) left top no-repeat;
    left: 8px;
    right: 0;
    top: 4px;
    font-size: 0px;
    margin-left: 5px;
}

.gwt-custom-TreeItem-selected .tree-label {
    text-decoration: underline !important;
}

.gwt-custom-TreeItem-selected .tree-label,
.gwt-custom-TreeItem-selected,
.gwt-TreeItem {
    position: relative;
    white-space: nowrap;

}

.navigation-dynamic-panel {
    left: 15px;
    padding-top: 20px;
    width: 130px;
}

.group-tree td {
    vertical-align: bottom !important;
}

.gwt-custom-TreeItem-selected td {
    vertical-align: bottom;
}

.group-tree {

    font-weight: bold;
    margin-left: 124px;
    margin-top: 10px;
    padding: 0 0 15px;
    display: block;
}

.gwt-custom-TreeItem-selected .tree-label {
    color: white !important;
}

.gwt-custom-white {
    color: white !important;
}

.centr-inner-section {
    position: absolute !important;
    margin-top: 11px;
    float: left;
    height: 100%;

}
.tree-label{
    text-decoration: none !important;
    padding-right: 8px;
    cursor: pointer;
    padding-top: 8px;

}

/* aktivnue punktu v levoy kolonke END */
.GLW1MH4CFK {
    margin-left: -40px;
}

.GLW1MH4CJK {
    margin-top: -38px;
}

.GLW1MH4CBL {
    margin-top: -1px;
}

.right-section {
    float: left;
}

.footer-section {

}

.center-section {

}

.root-section {

}

.popup-content {
    padding: 40px;
}

/*splitter!!!*/
.GLW1MH4CPL {
    height: 8px !important;
}

.suggest-container {
    color: #000;
    border: 1px solid #ccc;
    padding: 1px 7px;
    background-color: white;
    min-height: 30px;
    display: inline-block;
    width: 100%;
}

.suggest-choose, .suggest-choose-lbl {
    padding: 5px;
    display: inline-block;
}

/*.suggest-choose:hover {*/
/*border: 1px solid #f7c137;*/
/*}*/

.suggest-choose-close {
    background: url(css/icons/icons.png) no-repeat 3px 3px;
    display: inline-block;
    cursor: pointer;
    height: 16px;
    width: 16px;
}

.suggest-choose-close:hover {
    background-position: -13px 3px;
}

.arrow-suggest-btn {
    min-width: 20px;
    width: 20px;
    background: url("images/arrow-down.png") no-repeat center transparent;
    cursor: pointer;
}

td .gwt-SuggestBox {
    border: none;
    margin-top: 0px;
    padding: 0px;
    width: 100%;
}

.header-section {
    height: 60px;
    box-shadow: 0 4px 10px 0px #2d5b7d;
    z-index: 99;
}

.H-B-V-button {
    /*padding: 20px;*/
    /*background-color: red;*/
    /*background: url(css/icons/icons.png) left top no-repeat;*/
    background: url(images/tab-close.png) no-repeat 0 0;
    top: 0;
    right: 0px;
    cursor: pointer;
    height: 16px;
    width: 16px;
}

/* ATTACHMENTS */
.facebook-main-box {
    margin: 10px 0 0 0;
    color: #000;
    border: 1px solid #ccc;
    overflow: auto;
    background-color: white;
    min-height: 30px;
}

.facebook-element {
    margin: 6px 5px 2px 5px;
    position: relative;
}

.facebook-element .gwt-Label {
    float: left;
    width: auto;
    margin-right: 6px;
    height: auto;
    margin-top: 4px;
}

.facebook-element .facebook-label,
.facebook-element .gwt-Image {
    float: left;
}

.hyperlink-label-none-editable {
    cursor: pointer!important;
    font-family: Arial;
    font-weight: bold;
    font-size: 13px;
}

.hyperlink-editable {
    cursor: pointer!important;
    font-family: Arial;
    font-size: 13px;
    margin-left: 5px;
    float: left;
}

.facebook-label-none-editable {
    margin-left: 5px;
    margin-top: 2px;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 2px 2px 2px 2px;
    color: rgb(103, 103, 103);
    cursor: default;
    text-decoration: none;
}
.facebook-element .gwt-Image {
    margin-left: 11px;
}

.facebook-element a {
    padding-bottom: 0px !important;
    padding-top: 0px !important;
    padding-left: 0;
    margin-right: 8px;
    display: inline-block;
    zoom: 1;

    white-space: nowrap;
    color: #000;

}

.facebook-element .facebook-btn {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0) !important;
    background-image: url("css/icons/icons.png");
    background-origin: padding-box;
    background-position: left top;
    background-repeat: no-repeat;
    background-size: auto auto;
    cursor: pointer;
    display: inline-block;
    height: 15px;
    padding: 0 !important;
    position: relative;

    width: 15px;
}

.facebook-element .facebook-btn:hover {
    background-position: -16px 0;
}

/*ext-search*/
.ext-search-root-div {
    background-color: white;
    border: 1px solid;
    border-color: black;
    z-index: 99999999;
    width: 682px;
    min-height: 500px;
    z-index: 100;
    border: 3px solid #fff;
    border-radius: 10px;
    background: #356a9e;
    background: -moz-linear-gradient(top, #356a9e 0%, #1f2b5d 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #356a9e), color-stop(100%, #1f2b5d));
    background: -webkit-linear-gradient(top, #356a9e 0%, #1f2b5d 100%);
    background: -o-linear-gradient(top, #356a9e 0%, #1f2b5d 100%);
    background: -ms-linear-gradient(top, #356a9e 0%, #1f2b5d 100%);
    filter: progid\:DXImageTransform\.Microsoft\.gradient\( startColorstr\= "#356a9e", endColorstr\= "#1f2b5d", GradientType\=0 \);
    background: linear-gradient(top, #356a9e 0%, #1f2b5d 100%);
    color: #fff;
    box-shadow: 0 3px 15px #555;
}

.ext-search-action-div {
    border-bottom: 2px;
}

.ext-search-save-query-div {
    float: left;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 4px;
}

.ext-search-save-query-link-div {
    float: left;
}

.ext-search-save-query-popup-button-div {
    float: left;
}

.ext-search-extend-query-div {

    float: right;
    margin-right: 2px;
    margin-top: 15px;
}

.ext-query-link-div {
    float: left;
}

.ext-query-close-button-div {
    float: left;
}

.ext-search-section-name {

}

.ext-search-scope-div,
.ext-search-radio-div {
    padding: 10px 15px;
    width: 652px;
    float: left;
}

.ext-search-root-div .gwt-Label {
    margin-left: 0px;
    margin-bottom: 10px;
}

.ext-search-section-checkbox span.ext-search-section-checkbox,
.ext-search-radio-div span.ext-search-radio-button {
    float: left;
    margin-right: 20px;
    width: 197px;
    margin-bottom: 10px;
}

.ext-search-scope-div {
    border-top: 1px solid #8694a8;
}

.ext-search-radio-button {
    display: block;
}

.ext-search-radio-div {
    border-bottom: 1px solid #8694a8;
}

.ext-search-form-element {

}

.ext-search-form-label {
    float: left;
}

.ext-search-form-widget {
    float: left;
}

.ext-search-form-element {
    display: block;
}

.ext-search-save-query-popup-button-div .gwt-Button {
    background: url(images/button_open.png) no-repeat;
    border: none;
    font-size: 0px;
    text-indent: 999px;
    height: 19px;
    margin-left: 5px;
    outline: none;
}

.ext-query-close-button-div .gwt-Button {
    background: url(css/icons/icon-close.png) left top no-repeat;
    display: inline-block;
    position: relative;
    height: 16px;
    width: 16px;
    left: auto;
    border-bottom: none !important;
    vertical-align: bottom;
    cursor: pointer;
    margin-right: 16px;
    float: right;
    font-size: 0px;
    border: none;
    margin-left: 61px;
    outline: none;
    text-indent: 9999px;
}

.ext-query-link-div .gwt-Label,
.ext-search-save-query-link-div .gwt-Label {
    border-bottom: 1px dotted white;
    font-weight: normal;
    cursor: pointer;
}

.ext-query-link-div .gwt-Label:hover,
.ext-search-save-query-link-div .gwt-Label:hover {
    color: red;
    border-bottom: 1px dotted red;
}

.ext-serch-form-div {
    clear: left;
}
