/* Заголовки скрытия открытия подпунктов */
.hidden-group-select{
background: url(images/tab-open.png) 0px 10px no-repeat;

}

.hidden-group,
.hidden-group-title-first-level{
background: url(images/tab-close.png) 3px 8px no-repeat;
}

.hidden-group, .hidden-group-select,
.hidden-group-title-first-level{
	float: left;
	height: 30px;
	cursor: pointer;
	outline: none;
	font-size: 18px;
	font-weight: bold;
	padding-left: 20px;
}
/* Заголовки скрытия открытия подпунктов END */

.gwt-TabLayoutPanelContent .gwt-Label{
width: 148px;
}

.hidden-group-title-first-level{
    font-size: 18px;
    font-weight: bold;
}

.hidden-group-content-box .gwt-Label,
.bookmark-content .gwt-Label{
    padding-left: 15px;
    font-size: 14px;
    font-weight: bold;
    width: 166px;
}
.button-hide{
    background: url(images/tab-close-block.png) no-repeat;
    float: right;

}
.button-hide-selected{
    background: url(images/tab-open-block.png) no-repeat;
}
.button-hide,
.button-hide-selected{
    width: 21px;
    height: 40px;
    display: block;
    outline: none;
    cursor: pointer;
}

.gwt-TabLayoutPanelContent{
    padding-top: 20px !important;
}
.gwt-TabLayoutPanelContent{

}

.hidden-group-root-div{
padding: 12px 20px;
}

.hidden-group-title-panel{

}

.hidden-block-row{

}
/* ОСНОВНАЯ БОКОВАЯ ПАНЕЛЬ!!!! */
#sidebar .gwt-HTML:hover,
#sidebar .gwt-HTML.active {
background: transparent url(css/images/sidebar-selected.png) left top no-repeat;
width: 129px;
z-index: 3;
}
#sidebar .gwt-HTML li {
list-style: none;
margin: 0;
height: 74px;
padding: 5px;
text-align: center;
font-size: 90%;
font-weight: bold;
}
#sidebar .gwt-HTML li a {
position: relative;
color: #000;
text-decoration: none;
display: block;
width: 106px;
text-align: center;
}
#sidebar .gradient div{
overflow: visible !important;
}
#sidebar .gwt-HTML span {
font-size: 12px;
font-family: arial;
}
