.hierarh-browser-inline {
    margin-left: 10px;
    overflow-y: auto !important;
    position: relative;
    vertical-align: top;
}

.float-right {
    margin-left: 10px;
    float: right;
    position: relative;
}

.bottom-align {
    vertical-align: bottom;
    position: absolute;
    bottom: 5px;
}

.composite-button {
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 3px;
    font: 13px Arial;
    color: grey;
    border-radius: 5px;
    white-space: nowrap;
    box-shadow: 1px 1px 2px 1px #999;
    background: #ffffff;
}

.hierarh-browser-button {
    margin: 5px 5px 3px 5px;
    display: inline-block;
    position: relative;
}

.hierarh-browser-border {
    border: 2px solid #ededed;
}

.hierarh-browser-inline-margin-left {
    padding-left: 3px;
    display: inline-block;
    position: relative;
}

.hierarh-browser-margin-left {
    margin-right: 2px;
}

.button-refresh {
    margin: 4px 2px 2px 5px;
    color: grey;
    border-radius: 5px;
    white-space: nowrap;
    width: 21px;
    height: 21px;
    box-shadow: 1px 1px 2px 1px #999;
    background: url(images/refresh.gif) no-repeat #ffffff center center;
}

.one-node-scroll {
    border-collapse: separate !important;
    border-spacing: 0px !important;
}

.popup-body {
    background: #356a9e;
    padding: 2px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    border: 4px solid #C0C0C0;
    z-index: 10;

}

.popup-chosen-content {
    background: #ffffff;
    border-bottom: 1px solid gray;
    margin: 0 8px 0 6px;
}

.white-background {
    background: #ffffff;
}

.grey-background {
    background: #DCDCDC;
    margin-left: 6px;
    margin-right: 8px;
}

.node {
    background: #DCDCDC;
    padding-right: 4px;
}

.one-node-body {
    width: 100%;
}

.one-node-scroll {
    background: #ffffff;
    border: 2px solid #FFA500;
    width: 100%;
    margin-right: 50px;
}

.bottom-popup-button {
    border: 0;
    border-radius: 10px;
    white-space: nowrap;
    margin-right: 7px;
    background: #5e8ee4; /* Old browsers */
    background: -moz-linear-gradient(top,  #5e8ee4 0%, #4173c9 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5e8ee4), color-stop(100%,#4173c9)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #5e8ee4 0%,#4173c9 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #5e8ee4 0%,#4173c9 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #5e8ee4 0%,#4173c9 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #5e8ee4 0%,#4173c9 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e8ee4', endColorstr='#4173c9',GradientType=0 ); /* IE6-9 */
    box-shadow: 0 2px 2px #000;
    text-decoration: none;
    color: #000;
    font: 13px Tahoma, Arial !important;
    padding: 3px 7px;

}

.bottom-popup-button:hover {
    background: #5e84da; /* Old browsers */
    background: -moz-linear-gradient(top,  #5e84da 0%, #416cc2 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5e84da), color-stop(100%,#416cc2)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #5e84da 0%,#416cc2 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #5e84da 0%,#416cc2 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #5e84da 0%,#416cc2 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #5e84da 0%,#416cc2 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e8ee4', endColorstr='#4173c9',GradientType=0 ); /* IE6-9 */
    color: #ffffff;
}

.bottom-popup-button:active {
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.bottom-popup-buttons-panel {
    display: inline-block;
    position: absolute;
    margin: 25px 0 10px 5px;
}

.bottom-popup-buttons-panel td {
    white-space: nowrap; /* запрещение переноса в ячейках*/
    padding: 2px;
}

.node-link {
    margin-left: 7px;
    margin-top: 2px;
    color: #ffffff !important;
    border-bottom: 1px dotted #ffffff;
}

.node-item-link {
    border-bottom: 1px dotted black;
}

.header-title {
    font: 18px Tahoma, Arial !important;
    color: #ffffff;
    margin-top: 7px;
    margin-bottom: 7px;
    margin-right: 15px;
}

.node-section {
    background: #ffffff;
    width: 100%;
}

.node-section-scroll {
    display: block;
}

.search-bar {
    margin: 5px 2px 0 2px;
    white-space: nowrap;
    width: 100%;
    vertical-align: middle;
    display: inline-block;
}

.magnifier {
    border: 2px solid #AFBCC3;
    border-right: none;
    background-color: #ffffff;
    -moz-border-top-left-radius: 5px 5px;
    -moz-border-bottom-left-radius: 5px 5px;
    -webkit-border( top-right-radius : 5 px 5 px );
    -webkit-border( bottom-right-radius : 5 px 5 px );
    border-top-left-radius: 3px 3px;
    border-bottom-left-radius: 3px 3px;
    padding: 2px;
    width: 14px;
    float: left;
    display: table-cell;
    vertical-align: middle;
}

.magnifier img {
    padding: 3px 2px 0px 1px;
}

.input-text {
    border: #AFBCC3;
    border-style: solid;
    -moz-border-top-right-radius: 5px 5px;
    -moz-border-bottom-right-radius: 5px 5px;
    -webkit-border( top-right-radius : 5 px 5 px );
    -webkit-border( bottom-right-radius : 5 px 5 px );
    border-top-right-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
    padding: 2px 2px 3px 4px;
    margin-right: 8px;
    width: 80%;
    height: 100%;
}

.selected-node-link {
    width: 100%;
    background: #356a9e;;
    vertical-align: middle !important;
}

.link-arrow {
    float: right;
    vertical-align: middle !important;
    padding-bottom: 2px;
}

.selected-node-link td {
    vertical-align: middle !important;
}

.selected-node-link a {
    color: #ffffff !important;
}

.reset-button {
    vertical-align: middle;
}

.reset-button-panel {
    width: 14px;
}

.node-item-row {
    width: 100%;
}

.node-item-row:hover {
    cursor: pointer;
}

.node-item-row-active {
    background: #356a9e;
    color: #ffffff !important;
    border-bottom: 1px dotted #ffffff;
}

.reset-button:hover {
    cursor: pointer;
}

.button-refresh:hover {
    cursor: pointer;
}

.magnifier:hover {
    cursor: pointer;
}

.composite-button {
    cursor: pointer;
}

.node-link:hover {
    cursor: pointer;
}