<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
     http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans.xsd
     ">

    <bean id="globalCache" class="ru.intertrust.cm.globalcache.impl.localjvm.GlobalCacheImpl"/>
    <bean id="blockingGlobalCache" class="ru.intertrust.cm.globalcache.impl.localjvm.SynchronizedGlobalCacheImpl"/>
    <bean id="strictlyBlockingGlobalCache" class="ru.intertrust.cm.globalcache.impl.localjvm.StrictlySynchronizedGlobalCacheImpl"/>
    <bean id="reentrantReadWriteLockManager" class="ru.intertrust.cm.globalcache.impl.localjvm.ReentrantReadWriteLockManager"/>
    <bean id="stampedLockManager" class="ru.intertrust.cm.globalcache.impl.localjvm.StampedLockManager"/>
    <bean id="optimisticStamped" class="ru.intertrust.cm.globalcache.impl.localjvm.OptimisticStampedSynchronizedGlobalCacheImpl"/>
    <bean id="synchronized" class="ru.intertrust.cm.globalcache.impl.localjvm.SimpleSynchronizedGlobalCacheImpl"/>
    <bean id="stamped" class="ru.intertrust.cm.globalcache.impl.localjvm.StampedSynchronizedGlobalCacheImpl"/>

</beans>
