<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
     http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
     ">

    <bean id="globalCache" class="ru.intertrust.cm.globalcache.impl.localjvm.GlobalCacheImpl" init-method="init"/>
    <bean id="blockingGlobalCache" class="ru.intertrust.cm.globalcache.impl.localjvm.SynchronizedGlobalCacheImpl" init-method="init"/>

</beans>