.gwt-TabPanel {
    position: relative;
    width: 100%;
    z-index: 10;
}

.gwt-TabPanelBottom {
    background-color: #ffffff;
    border: 0;
    padding: 0;
}

.gwt-TabBar {
    background: #bfdfea; /* Old browsers */
    background: -moz-linear-gradient(top, #bfdfea 0%, #c2e7f0 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bfdfea), color-stop(100%, #c2e7f0)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #bfdfea 0%, #c2e7f0 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #bfdfea 0%, #c2e7f0 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #bfdfea 0%, #c2e7f0 100%); /* IE10+ */
    filter: literal("progid:DXImageTransform.Microsoft.gradient(startColorstr='#bfdfea', endColorstr='#c2e7f0', GradientType=0)"); /* IE6-9 */
    background: linear-gradient(top, #bfdfea 0%, #c2e7f0 100%); /* W3C */
    height: 35px;
    padding-top: 2px;
}

.ext-search-content-wrapper .gwt-TabBar {
    background: none;
}

.ext-search-content-wrapper .form-footer-blank {
}

.form-footer-blank {
    background: none;
}

.ext-search-content-wrapper .gwt-TabPanelBottom {
    background: none;
}

.gwt-TabBar .gwt-TabBarItem {
    background: none;
    cursor: pointer;
    margin-right: 10px;
    padding: 0;
}

.gwt-TabBarItem {
    background: none;
    cursor: pointer;
}

.gwt-TabBarItem.gwt-TabBarItem-selected {
    background: url(css/images/tabs_selected_r.png) no-repeat scroll 100% 0;
    cursor: default;
    font-weight: bold;
    padding-right: 24px;
}

.gwt-Label {
    border-radius: 5px 0 0 0;
    font-size: 100%;
    padding: 8px;
}

.gwt-TabBarItem.gwt-TabBarItem-selected .gwt-Label {
    background: #ffffff;
    text-decoration: none;
}

.gwt-PopupPanel {
    border: 1px solid #eee;
    background: none;
}

.html-face {
    display: none;
}

.gwt-PopupPanel.header-notification-popup {
    background: none repeat scroll 0 0 #fffdf0;
    border-radius: 5px;
    border: 1px solid;
    border-color: #fff1ca #ffedbe #ffedbe;
    box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, .3);
    top: 12px !important;
    right: 420px;
    left: 168px !important;
    z-index: 100;
}

.gwt-Label.header-notification {
    padding-top: 2px !important;
    margin-top: 10px;
}

.section-suggest-item .gwt-Label {
    display: inline-block;
    padding: 10px;
}

/*CalendarPlugin*/

.calendarScrollPanel {
    position: absolute !important;
    top: 65px;
    right: 0;
    bottom: 0;
    left: 0;
    border: solid 1px #ddd;
    background: rgba(248, 249, 255, 1.0);
}

.calendarContainer {
    /*position: absolute;*/
    background: rgba(89, 17, 20, 0.15);
    right: 0;
    left: 0;

}

.calendarDayWrapper {
    position: absolute;
    padding: 2px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.calendarDayBlock {
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    position: relative;
}

.calendar-day-container {
    position: absolute;
    width: 16.6%;
    overflow: visible !important;
}

.calendar-work-day-block {
    background: rgb(248, 249, 255);
    float: left;
}

.calendar-holiday-block {
    background: rgb(248, 249, 255);
    float: none;
}

.calendar-holiday-block:focus {
    border-left: 1px solid #ddd;
    background: rgb(248, 249, 255);
}

.calendar-holiday-block:hover {
    background: #f6f6f6;

}

.calendar-work-day-block:hover {
    background: #f6f6f6;
}

.calendar-weekend-day-bloks {

}

.calendarFocusDayBlock {
    background: #fffbe2;
    border: 2px solid #ffa34c !important;
    border-radius: 10px;
}

.calendarBlockDate {
    position: absolute;
    right: 0;
    float: right;
    color: #aaa;
    margin: 0.3em 0.5em;
    font-size: 90%;
    z-index: 2;
}

.first-day-month {
    border-top: 1px solid #000000;
    border-left: 1px solid #000000;

}

.days-of-first-week {
    border-top: 1px solid #000000;

}

.second-weekend {
    border-left: 1px solid #000000 !important;

}

.today {
    background: #fffbe2;

}

.month-panel {
    position: absolute !important;
    overflow: hidden;
    width: 100%;
    height: 31px;
    top: 65px;
    z-index: 5;
    background: #afbccc;
    cursor: pointer;
}

.current-month-block {
    position: absolute !important;
    top: 65px;
    left: 50%;
    height: 31px;
    opacity: 0.15;
    background: black;
    z-index: 10;

}

.first {
    position: absolute;
    height: 22px;
    width: 69px;
    color: white;
    line-height: 18px;
    background: url(css/i/calendar-bg-day-labels.png) left top no-repeat;
    text-align: center;
    left: 50%;
    top: -13px;
    margin-left: -35px;
    font-size: 90%;
    z-Index: 4;
}

.first2 {
    position: absolute;
    height: 22px;
    width: 69px;
    color: white;
    line-height: 18px;
    background: url(css/i/calendar-bg-day-labels.png) left top no-repeat;
    text-align: center;
    left: 50%;
    top: 33px;
    margin-left: -35px;
    font-size: 90%;
    z-Index: 4;
}

.month-block {
    height: 18px;
    padding-top: 9px;
    text-align: center;
    color: #ffffff;
}

/**
*  Form Panel - right part
**/

.decorated-right-div .gwt-TextBox {

}

/**
*  def-theme gwt styles
**/
.H_td_user .gwt-Hyperlink a {
    font: bold 14px Arial;
    cursor: pointer;
    text-decoration: underline;
    color: black !important;
    padding-right: 20px;
    background: url(images/user.png) no-repeat right center;
}

.H_td_links .gwt-Anchor {
    width: 32px;
    height: 32px;
    cursor: pointer;
    white-space: nowrap;
    float: left;
    margin-right: 1px;
    font-size: 0;
    text-indent: 9999px;
    overflow: hidden;
}

.H_td_links .decorated-settings .gwt-Anchor {
    background: url(images/setting-dark.png) no-repeat scroll 0 0 transparent;
}

.H_td_links .decorated-help .gwt-Anchor {
    background: url(images/help.png) no-repeat scroll 0 0 transparent;
}

.gwt-TextBox,
.gwt-ListBox,
.gwt-TextArea {
    padding: 7px !important;
    border: 1px solid #ccc;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.gwt-TextBox {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
}

.gwt-ListBox {
    width: 165px;
}

.gwt-custom-TreeItem-selected .treeItemTitle:after {
    content: open-quote;
    display: block;
    position: absolute;
    width: 27px;
    height: 25px;
    background: url(images/folder-list-selected-bg.png) right top no-repeat;
    right: -11px;
    font-size: 0px;
    top: -5px;
    margin-left: 5px;
}

.gwt-custom-TreeItem-selected .treeItemTitle:before {
    content: open-quote;
    display: block;
    position: absolute;
    height: 25px;
    background: url(images/folder-list-selected-bg.png) left top no-repeat;
    left: -5px;
    right: 0;
    top: -5px;
    font-size: 0px;
    /*margin-left: 5px;*/
}
.gwt-custom-TreeItem-selected .treeItemTitle {
    background: url(http://free.selcet.com.ua/folder-list-selected-bg.png) no-repeat scroll 0 100%;
}
.treeItemTitle {
    margin-left: -4px;
    padding: 0 0 2px 5px;
    height: 16px;
}

.gwt-custom-TreeItem-selected .tree-label {
    text-decoration: underline !important;
    display: inherit;
}

.gwt-custom-TreeItem-selected .tree-label,
.gwt-custom-TreeItem-selected,
.gwt-TreeItem {
    position: relative;
    white-space: nowrap;
}

.gwt-TreeItem[role="treeitem"] {
    display: inline-block !important;
    margin-left: 5px;
}
.gwt-Tree .gwt-TreeItem-selected {
    background: none !important;
}

.gwt-custom-TreeItem-selected td {
    vertical-align: bottom;
}

.gwt-custom-TreeItem-selected .tree-label {
    color: #ffffff !important;
}

.gwt-custom-white {
    color: #ffffff !important;
}
.gwt-TreeItem{
    font-family: Arial, sans-serif;
    font-size: 12px;
}

.facebook-element .gwt-Label {
    padding: 1px 7px;
    margin: 5px;
    background: #f1f1f1;
    border-radius: 5px;
    text-decoration: underline;
    border: 1px solid #f1f1f1;
}

.facebook-element .facebook-label,
.facebook-element .gwt-Image {
    /*float: left;*/
}

.facebook-element .gwt-Image {
    margin-left: 11px;
}

.ext-search-root-div .gwt-Label {
    margin-left: 0px;
    margin-bottom: 10px;
}

.ext-search-save-query-popup-button-div .gwt-Button {
    background: url(images/button_open.png) no-repeat;
    border: none;
    font-size: 0px;
    text-indent: 999px;
    height: 19px;
    margin-left: 5px;
    outline: none;
}

.ext-query-close-button-div .gwt-Button {
    background: url(css/icons/icon-close.png) left top no-repeat;
    display: inline-block;
    position: relative;
    height: 16px;
    width: 16px;
    left: auto;
    border-bottom: none !important;
    vertical-align: bottom;
    cursor: pointer;
    margin-right: 16px;
    float: right;
    font-size: 0px;
    border: none;
    margin-left: 61px;
    outline: none;
    text-indent: 9999px;
}

.ext-query-link-div .gwt-Label,
.ext-search-save-query-link-div .gwt-Label {
    border-bottom: 1px dotted #ffffff;
    font-weight: normal;
    cursor: pointer;
}

.ext-query-link-div .gwt-Label:hover,
.ext-search-save-query-link-div .gwt-Label:hover {
    color: #ff0000;
    border-bottom: 1px dotted #ff0000;
}

#gwt-splitter {
    overflow: visible;
    top: 30%;
    left: -1px !important;
    right: 0;
    border-collapse: collapse;
    z-index: 2;
}

.gwt-SplitLayoutPanel-VDragger {
    background: url("css/images/mover-bg-hor.gif") /* tpa=http://intertrust/f/icons/mover-bg-hor.gif */ top left repeat-x;
    cursor: row-resize;
    overflow: hidden;
}

.gwt-SplitLayoutPanel-HDragger {
    background: url("css/images/mover-bg-vert.gif") /* tpa=http://intertrust/f/icons/mover-bg-hor.gif */ top left repeat-y !important;
    cursor: col-resize !important;
}

div.gwt-Good-Label {
    font-weight: bold;
    margin: 5px;
}

.gwt-Red-Label {
    color: #ff0000;
    vertical-align: super;
    font-weight: bold;
    padding-top: 5px;
}

.ext-search-content-wrapper .gwt-TabLayoutPanelContentContainer {
    background: none;
}

/*** TAB PANEL***/
.gwt-TabLayoutPanel .gwt-TabLayoutPanelTabs {
    padding-top: 6px;
    padding-left: 5px;
    margin-left: 0;
    margin-right: 20px;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelContentContainer {
    border: 1px solid #ccc;
    border-top-width: 0;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelContent {
    overflow: visible;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab {
    color: #000000;
    font-size: 110%;
    margin-left: 4px;
    margin-right: 20px;
    cursor: pointer;
    cursor: hand;
    font-weight: normal;
    text-align: center;
    -moz-border-radius: 3px 3px 0px 0px;
    border-radius: 3px 3px 0px 0px;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab-selected {
    cursor: default;
    color: #333;
    font-weight: bold;
    text-decoration: none;
    background: url("css/images/tabs_selected_r.png") no-repeat scroll 100% 0 transparent;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab-corner {
    background: url("css/images/tabs_selected_l.gif") no-repeat 0 0 #fff;
    margin-right: 24px;
    padding: 1px;
}

.radio-button-widget .gwt-RadioButton {
    margin-top: 3px;
    display: inline-block;
}

.center-section {
    display: block;
    height: auto;
    position: absolute !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #669492;
}

.left-section-active,
.left-section {
    float: left;
    z-index: 15 !important;
    background: #669492; /* Old browsers */
    background: -moz-linear-gradient(top,  #669492 0%, #90b5a4 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #669492 0%,#90b5a4 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #669492 0%,#90b5a4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    display: block;
    height: auto;
    position: absolute !important;
    bottom: 0;
    top: 0;
    margin-top: 60px;
}

#sidebar .gradient {
    position: absolute;
    z-index: 0;
    left: 0;
    width: 106px;
    top: 0;
    bottom: 0;
    border-right: 3px solid #608A88;
    background: #90b5a4; /* Old browsers */
    background: -moz-linear-gradient(top,  #90b5a4 0%, #ffffff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #90b5a4 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #90b5a4 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.HeadTable {
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #eaeef1 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #eaeef1));
    background: -webkit-linear-gradient(top, #ffffff 0%, #eaeef1 100%);
}

.header-section {
    box-shadow: 0 4px 10px 0 #2A2C2A;
}

.H_td_ExtSearch .header-third-action-button {
    border: 1px solid #B8B1AD;
}

.H_td_links {
    border-left: 1px solid #918680;
    border-right: 1px solid #918680;
}

.form-panel-header {
    background: #f0e5d1;
    display: block;
    padding: 10px 0 10px 0;
    position: relative;
    z-index: 10;
}

.gwt-TabPanel .gwt-TabBar {
    background: #f0e5d1;
}

.collection-plugin-view-container {
    /*background: #D5DBD4;*/
}

.bookmarks-link-active a {
    border: 2px solid #69615C;
}

.decorated-list-suggest-box {
    background: #D5DBD4;
    border-color: #918680;
}

.decorated-list-suggest-box:hover {
    background: #faf8eb;
}

.settings-popup,
.popupWrapper {
    background: #669492; /* Old browsers */
    background: -moz-linear-gradient(top,  #669492 0%, #90b5a4 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #669492 0%,#90b5a4 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #669492 0%,#90b5a4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.srch-corner {
    background: url(images/bubble_arrow-dark-theme.png);
    right: 10%;
}

.theme-popup {
    background: #aeb9ac; /* Old browsers */
    background: -moz-linear-gradient(top, #aeb9ac 0%, #2A2C2A 70%, #4d564c 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #aeb9ac), color-stop(70%, #2A2C2A), color-stop(100%, #4d564c)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #aeb9ac 0, #2a2c2a 70%, #4d564c 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #aeb9ac 0%, #2A2C2A 70%, #4d564c 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #aeb9ac 0%, #2A2C2A 70%, #4d564c 100%); /* IE10+ */
    filter: literal("progid:DXImageTransform.Microsoft.gradient(startColorstr='#aeb9ac', endColorstr='#4d564c', GradientType=0)"); /* IE6-9 */
    background: linear-gradient(top, #aeb9ac 0%, #2A2C2A 70%, #4d564c 100%); /* W3C */
}

.central-div-panel-test {
    background: #d5dbd4;
}

.action-bar {
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #DBE0DA 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #DBE0DA));
    background: -webkit-linear-gradient(top, #ffffff 0%, #DBE0DA 100%);
    background: -o-linear-gradient(top, #ffffff 0%, #DBE0DA 100%);
    background: -ms-linear-gradient(top, #ffffff 0%, #DBE0DA 100%);
    filter: progid\: DXImageTransform\.Microsoft\.gradient\( startColorstr\= "#ffffff", endColorstr\= "#DBE0DA", GradientType\= 0 \);
    background: linear-gradient(top, #ffffff 0%, #DBE0DA 100%);
}

.right-div {
    box-shadow: -2px 0 6px rgba(0,0,0, 0.4);
    min-height: 100px;
}

.gwt-TabPanelBottom,
.form-footer-blank {
    /*background-color: transparent;*/
}

.form-footer-long{
    /*background: url(images/form/form-footer-bg_long-dark-theme.jpg) repeat-y scroll 0 0;*/
    background: none;
}

.form-footer-short {
    /*background: url(images/form/form-footer-bg_short-dark-theme.jpg) repeat-y scroll 0 0;*/
    background: none;
}

.left-div-visible {
    background: none;
}

a.action-bar-button {
    color: #031C01;
}

a.action-bar-button:hover {
    color: #4D564C;
}

.header-second-action-button {
    background: url(images/notes_down-dark-theme.png) no-repeat 0 0;
}

.close-notification-popup {
    background: url(images/notes_up-dark-theme.png) no-repeat 0 0;
}
.gwt-attachment-viewer-panel {
        border-style: solid;
    	border-width:1;
    	border-color: GRAY;
}

.formContainer, .frm-pnl-top {
    background: #f0e5d1;
}

.root-div {
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(left,  #ffffff -6%, #90b5a4 17%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #ffffff -6%,#90b5a4 17%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #ffffff -6%,#90b5a4 17%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.Caption {
    background: #669492; /* Old browsers */
    background: -moz-linear-gradient(top,  #669492 0%, #90b5a4 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #669492 0%,#90b5a4 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #669492 0%,#90b5a4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.darkButton {
    border: 1px solid #669492;
    background: #669492; /* Old browsers */
    background: -moz-linear-gradient(top,  #669492 0%, #90b5a4 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #669492 0%,#90b5a4 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #669492 0%,#90b5a4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.darkButton:hover {
    border: 1px solid #669492;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .15);
    box-shadow: 0 1px 0 rgba(0, 0, 0, .15);
    color: #ffffff;
    text-shadow: none;
}

.darkButton:active {
    background: #669492;
    -webkit-box-shadow: inset 0 2px 0 rgba(0, 0, 0, .15);
    box-shadow: inset 0 2px 0 rgba(0, 0, 0, .15);
    color: rgba(255, 255, 255, 0.8);
}

.popup-body {
    background: #90b5a4;
}

.infoDialogBox .Caption {
    background: #90b5a4 !important;
}

.srch-root-ext-search-panel {
    background: #669492; /* Old browsers */
    background: -moz-linear-gradient(top,  #669492 0%, #90b5a4 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #669492 0%,#90b5a4 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #669492 0%,#90b5a4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.srch-cb-decorated {
    color: #FFFFFF;
}

.left-button {
    border: none;
    box-shadow: -1px 2px 3px rgba(0,0,0,.3);
}

.right-button {
    border: none;
    box-shadow: -1px 2px 3px rgba(0,0,0,0.3);
}

.left-button:hover {
    border: none;
    box-shadow: -2px 3px 5px rgba(0,0,0,.5);
}

.srch-root-ext-search-panel .gwt-TabBar {
    background: none;
}

.theme-popup {
    background: #90b5a4; /* Old browsers */
    background: -moz-linear-gradient(top,  #90b5a4 0%, #669492 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #90b5a4 0%,#669492 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #90b5a4 0%,#669492 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.type-popup {
    background: #669492; /* Old browsers */
    background: -moz-linear-gradient(top,  #669492 0%, #90b5a4 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #669492 0%,#90b5a4 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #669492 0%,#90b5a4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.gwt-PopupPanelGlass {
    z-index: 999;
}

.settings-popup .srch-corner {
    right: 33%;
}

.popupWrapper .srch-corner {
    right: 41%;
}

.dataGridHeaderRow {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

[class\*="cellTableKeyboardSelectedRow"] {
    background: #FFF0CD !important;
}

[class\*="cellTableKeyboardSelectedRowCell"] {
    border: 2px solid #FFF0CD !important;
}

[class\*="cellTableKeyboardSelectedCell"] {
    border: 2px solid #d7dde8 !important;
}

[class\*="cellTableWidget"] {
    border-collapse: separate !important;
}

.popupWindow {
    background: #669492; /* Old browsers */
    background: -moz-linear-gradient(top,  #669492 0%, #90b5a4 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #669492 0%,#90b5a4 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #669492 0%,#90b5a4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.popupWindow .Caption{
    background: #669492;
}

.decorated-action-link .actionBar-refresh {
    background: url("css/icons/reload_icon.png") no-repeat;
    background-size: 17px 15px;
    background-position: 8px 9px;
}

.decorated-action-link .actionBar-create {
    background: url("css/icons/create_icon.png") no-repeat;
    background-size: 17px 17px;
    background-position: 8px 8px;
}

.decorated-action-link .actionBar-edit {
    background: url("css/icons/edit_icon.png") no-repeat;
    background-size: 20px 17px;
    background-position: 7px 8px;
}

.decorated-action-link .actionBar-delete {
    background: url("css/icons/delete_icon.png") no-repeat;
    background-size: 17px 17px;
    background-position: 8px 8px;
}

.decorated-action-link .actionBar-csvUpload {
    background: url("css/icons/exel_icon.png") no-repeat;
    background-size: 17px 17px;
    background-position: 8px 8px;
}

.decorated-action-link .actionBar-close {
    background: url("css/icons/close_icon.png") no-repeat;
    background-size: 17px 17px;
    background-position: 8px 8px;
}

.decorated-action-link .actionBar-save {
    background: url("css/icons/save_icon.png") no-repeat;
    background-size: 17px 17px;
    background-position: 8px 8px;
}

.gwt-MenuItem:active .actionBar-edit {
    -webkit-filter: drop-shadow(1px 1px 2px black);
    filter: drop-shadow(1px 1px 2px black);
}

.gwt-MenuItem:active .actionBar-refresh {
    -webkit-filter: drop-shadow(1px 1px 2px black);
    filter: drop-shadow(1px 1px 2px black);
}

.gwt-MenuItem:active .actionBar-create {
    -webkit-filter: drop-shadow(1px 1px 2px black);
    filter: drop-shadow(1px 1px 2px black);
}

.gwt-MenuItem:active .actionBar-csvUpload {
    -webkit-filter: drop-shadow(1px 1px 2px black);
    filter: drop-shadow(1px 1px 2px black);
}

.gwt-MenuItem:active .actionBar-close {
    -webkit-filter: drop-shadow(1px 1px 2px black);
    filter: drop-shadow(1px 1px 2px black);
}

.gwt-MenuItem:active .actionBar-save {
    -webkit-filter: drop-shadow(1px 1px 2px black);
    filter: drop-shadow(1px 1px 2px black);
}

.gwt-MenuItem:active .actionBar-delete {
    -webkit-filter: drop-shadow(1px 1px 2px black);
    filter: drop-shadow(1px 1px 2px black);
}

.dataGridHeaderRow th {
    border-top: 1px solid black !important;
    border-bottom: 1px solid black !important;
    font-weight: bold !important;
    background-color: #b0bdce !important;
    color: #fff !important;
}

.widget-wrapper th {
    padding: 7px 15px 7px 15px;
    background: #ebf5fe;
    border-right: 2px solid white;
    border-bottom: none;
    min-width: 120px;
}

/*style for full table panel  */

.central-div-panel-test-full {
    margin: 11px !important;
}

.left-sectionNone {
    display: none;
}

/*style form blocks*/

.left-div-visible {
    padding: 10px 5px 0 6px;
    width: 139px;
}

.right-div {
    margin-left: 150px;
}

.gwt-DateBox.date-text-box {
    min-height: 15px;
}

.date-box-button {
    top: 7px;
}

.decorated-right-div div.widget-wrapper {
    padding: 5px 0px;
    margin-right: 10px;
}

table.form-panel-header .widget-wrapper {
    padding: 0;
}

div.dialogBoxBody .widget-wrapper {
    padding: 5px 10px;
}

/*.suggest-container-input {*/
    /*border: none;*/
    /*outline: 1px solid #ccc;*/
    /*outline-offset: -2px;*/
/*}*/

.suggest-container-input
.facebook-element
.facebook-label {
    margin: 3px;
}

.suggest-container-block tr {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.facebook-main-box {
    margin: 0;
}

.group-tree {
    margin-left: -20px;
}

.group-tree>div:nth-child\(2\) table {
    margin-left: 20px !important;
}

.bookmarks-link-active a {
    max-width: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bookmarks-link-non-active a {
    max-width: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* CMFIVE-5032 Изменение поведения панели навигации в новой теме */
@def autoOpenNavigationPanel false;