<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-3.2.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd">

    <context:annotation-config />
    <context:component-scan base-package="ru.intertrust.cm" />

    <bean id="springApplicationContext" class="ru.intertrust.cm.core.util.SpringApplicationContext"/>

    <bean id="moduleService" class="ru.intertrust.cm.core.config.module.ModuleService" init-method="init"/>

    <bean id="doelFunctionRegistry" class="ru.intertrust.cm.core.config.doel.DoelFunctionRegistry"/>

    <bean id="configurationSerializer" depends-on="configurationClassesCacheInitializer"
          class="ru.intertrust.cm.core.config.ConfigurationSerializer"/>

    <bean id="localizationLoader" class="ru.intertrust.cm.core.config.localization.LocalizationLoaderImpl">
        <constructor-arg ref="moduleService"/>
    </bean>

    <bean id="configurationExplorer"
          class="ru.intertrust.cm.core.config.ConfigurationExplorerImpl"
          init-method="init"
          depends-on="localizationLoader">
        <constructor-arg>
            <bean class="ru.intertrust.cm.core.config.base.Configuration"
                  factory-bean="configurationSerializer" factory-method="deserializeConfiguration"/>
        </constructor-arg>
    </bean>

    <bean id="configurationClassesCacheInitializer"
          class="ru.intertrust.cm.core.config.ConfigurationClassesCacheInitializer" init-method="init"/>

    <bean id="formLogicalValidator"
          class="ru.intertrust.cm.core.config.FormLogicalValidator"/>

    <bean id="navigationPanelLogicalValidator"
          class="ru.intertrust.cm.core.config.NavigationPanelLogicalValidator"/>


    <bean id="topLevelConfigUpdateHandler" class="ru.intertrust.cm.core.config.event.TopLevelConfigUpdateHandler"/>
    <bean id="domainObjectTypeConfigUpdateHandler" class="ru.intertrust.cm.core.config.event.DomainObjectTypeConfigUpdateHandler"/>
    <bean id="collectionViewConfigUpdateHandler" class="ru.intertrust.cm.core.config.event.CollectionViewConfigUpdateHandler"/>
    <bean id="toolBarConfigUpdateHandler" class="ru.intertrust.cm.core.config.event.ToolBarConfigUpdateHandler"/>
    <bean id="dynamicGroupConfigUpdateHandler" class="ru.intertrust.cm.core.config.event.DynamicGroupConfigUpdateHandler"/>
    <bean id="formConfigUpdateHandler" class="ru.intertrust.cm.core.config.event.FormConfigUpdateHandler"/>

    <bean id="widgetConfigurationExtensionProcessor" class="ru.intertrust.cm.core.config.form.processor.impl.WidgetConfigurationExtensionProcessor"
          scope="prototype" lazy-init="true"/>
    <bean id="widgetGroupsExtensionProcessor" class="ru.intertrust.cm.core.config.form.processor.impl.WidgetGroupsExtensionProcessor"
          scope="prototype" lazy-init="true"/>
    <bean id="markupExtensionProcessor" class="ru.intertrust.cm.core.config.form.processor.impl.MarkupExtensionProcessor"
          scope="prototype" lazy-init="true"/>
    <bean id="tabsExtensionProcessor" class="ru.intertrust.cm.core.config.form.processor.impl.TabsExtensionProcessorImpl"
         lazy-init="true"/>
    <bean id="tabGroupsExtensionProcessor" class="ru.intertrust.cm.core.config.form.processor.impl.TabGroupsExtensionProcessorImpl"
          lazy-init="true"/>
    <bean id="rowsExtensionProcessor" class="ru.intertrust.cm.core.config.form.processor.impl.RowsExtensionProcessorImpl"
          lazy-init="true"/>
    <bean id="cellsExtensionProcessor" class="ru.intertrust.cm.core.config.form.processor.impl.CellsExtensionProcessorImpl"
          lazy-init="true"/>
    <bean id="plainFormBuilder" class="ru.intertrust.cm.core.config.form.impl.PlainFormBuilderImpl"/>
    <bean id="formExtensionsProcessor" class="ru.intertrust.cm.core.config.form.processor.impl.FormExtensionsProcessorImpl">
        <property name="configurationExplorer" ref="configurationExplorer"/>
    </bean>
    <bean id="widgetTemplateProcessor" class="ru.intertrust.cm.core.config.form.processor.impl.WidgetTemplateProcessorImpl">
        <property name="configurationExplorer" ref="configurationExplorer"/>
    </bean>
    <bean id="tabTemplateProcessor" class="ru.intertrust.cm.core.config.form.processor.impl.TabTemplateProcessor">
        <property name="configurationExplorer" ref="configurationExplorer"/>
    </bean>
    <bean id="tableTemplateProcessor" class="ru.intertrust.cm.core.config.form.processor.impl.TableTemplateProcessor">
        <property name="configurationExplorer" ref="configurationExplorer"/>
    </bean>
    <bean id="widgetConfigurationLogicalValidator" class="ru.intertrust.cm.core.config.WidgetConfigurationLogicalValidatorImpl"/>

    <bean id="suggestBoxLogicalValidator" class="ru.intertrust.cm.core.config.form.widget.SuggestBoxWidgetLogicalValidator"/>
    <bean id="checkBoxLogicalValidator" class="ru.intertrust.cm.core.config.form.widget.CheckBoxWidgetLogicalValidator"/>
    <bean id="tableBrowserLogicalValidator" class="ru.intertrust.cm.core.config.form.widget.TableBrowserLogicalValidator"/>
    <bean id="hierarchyBrowserLogicalValidator" class="ru.intertrust.cm.core.config.form.widget.HierarchyBrowserWidgetLogicalValidator"/>
    <bean id="radioButtonLogicalValidator" class="ru.intertrust.cm.core.config.form.widget.RadioButtonWidgetLogicalValidator"/>
    <bean id="labelLogicalValidator" class="ru.intertrust.cm.core.config.form.widget.LabelWidgetLogicalValidator"/>
    <bean id="enumBoxLogicalValidator" class="ru.intertrust.cm.core.config.form.widget.EnumBoxWidgetLogicalValidator"/>
    <bean id="dateBoxLogicalValidator" class="ru.intertrust.cm.core.config.form.widget.DateBoxWidgetLogicalValidator"/>
    <bean id="linkedDomainObjectsTableLogicalValidator" class="ru.intertrust.cm.core.config.form.widget.LinkedDomainObjectsTableWidgetLogicalValidator"/>
    <bean id="linkedDomainObjectHyperlinkLogicalValidator" class="ru.intertrust.cm.core.config.form.widget.LinkedDomainObjectHyperlinkWidgetLogicalValidator"/>

    <util:map id="componentValidatorMap">
        <entry key="suggest-box" value="suggestBoxLogicalValidator"/>
        <entry key="check-box" value="checkBoxLogicalValidator"/>
        <entry key="table-browser" value="tableBrowserLogicalValidator"/>
        <entry key="hierarchy-browser" value="hierarchyBrowserLogicalValidator"/>
        <entry key="radio-button" value="radioButtonLogicalValidator"/>
        <entry key="label" value="labelLogicalValidator"/>
        <entry key="enumeration-box" value="enumBoxLogicalValidator"/>
        <entry key="date-box" value="dateBoxLogicalValidator"/>
        <entry key="linked-domain-objects-table" value="linkedDomainObjectsTableLogicalValidator"/>
        <entry key="linked-domain-object-hyperlink" value="linkedDomainObjectHyperlinkLogicalValidator"/>
    </util:map>
</beans>