<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <context:annotation-config />
    <context:component-scan base-package="ru.intertrust.cm" />

    <bean id="springApplicationContext" class="ru.intertrust.cm.core.util.SpringApplicationContext"/>

    <bean id="moduleService" class="ru.intertrust.cm.core.config.impl.ModuleServiceImpl" init-method="init"/>

    <bean id="configurationSerializer" depends-on="configurationClassesCacheInitializer"
          class="ru.intertrust.cm.core.config.ConfigurationSerializer"/>

    <bean id="localizationLoader" class="ru.intertrust.cm.core.config.localization.LocalizationLoaderImpl">
        <constructor-arg ref="moduleService"/>
    </bean>

    <bean id="configurationExplorer"
          class="ru.intertrust.cm.core.config.ConfigurationExplorerImpl"
          init-method="init"
          depends-on="localizationLoader">
        <constructor-arg>
            <value type="double">0.0</value>
        </constructor-arg>
        <constructor-arg>
            <bean class="ru.intertrust.cm.core.config.base.Configuration"
                  factory-bean="configurationSerializer" factory-method="deserializeConfiguration"/>
        </constructor-arg>
    </bean>

    <bean id="configurationClassesCacheInitializer"
          class="ru.intertrust.cm.core.config.ConfigurationClassesCacheInitializer" init-method="init"/>

    <bean id="topLevelConfigUpdateHandler" class="ru.intertrust.cm.core.config.event.TopLevelConfigUpdateHandler"/>
    <bean id="domainObjectTypeConfigUpdateHandler" class="ru.intertrust.cm.core.config.event.DomainObjectTypeConfigUpdateHandler"/>
    <bean id="collectionViewConfigUpdateHandler" class="ru.intertrust.cm.core.config.event.CollectionViewConfigUpdateHandler"/>
    <bean id="toolBarConfigUpdateHandler" class="ru.intertrust.cm.core.config.event.ToolBarConfigUpdateHandler"/>
    <bean id="dynamicGroupConfigUpdateHandler" class="ru.intertrust.cm.core.config.event.DynamicGroupConfigUpdateHandler"/>
    <bean id="formConfigUpdateHandler" class="ru.intertrust.cm.core.config.event.FormConfigUpdateHandler"/>

    <bean id="suggestBoxLogicalValidator" class="ru.intertrust.cm.core.config.form.widget.SuggestBoxWidgetLogicalValidator"/>
    <bean id="checkBoxLogicalValidator" class="ru.intertrust.cm.core.config.form.widget.CheckBoxWidgetLogicalValidator"/>
    <bean id="tableBrowserLogicalValidator" class="ru.intertrust.cm.core.config.form.widget.TableBrowserLogicalValidator"/>
    <bean id="hierarchyBrowserLogicalValidator" class="ru.intertrust.cm.core.config.form.widget.HierarchyBrowserWidgetLogicalValidator"/>
    <bean id="radioButtonLogicalValidator" class="ru.intertrust.cm.core.config.form.widget.RadioButtonWidgetLogicalValidator"/>
    <bean id="labelLogicalValidator" class="ru.intertrust.cm.core.config.form.widget.LabelWidgetLogicalValidator"/>
    <bean id="enumBoxLogicalValidator" class="ru.intertrust.cm.core.config.form.widget.EnumBoxWidgetLogicalValidator"/>
    <bean id="dateBoxLogicalValidator" class="ru.intertrust.cm.core.config.form.widget.DateBoxWidgetLogicalValidator"/>
    <bean id="linkedDomainObjectsTableLogicalValidator" class="ru.intertrust.cm.core.config.form.widget.LinkedDomainObjectsTableWidgetLogicalValidator"/>
    <bean id="linkedDomainObjectHyperlinkLogicalValidator" class="ru.intertrust.cm.core.config.form.widget.LinkedDomainObjectHyperlinkWidgetLogicalValidator"/>
</beans>