<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <bean id="configurationSerializer"
          class="ru.intertrust.cm.core.config.ConfigurationSerializer"
          p:configurationSchemaFilePath="config/configuration.xsd">
        <property name="configurationFilePaths">
            <set>
                <value>config/domain-objects.xml</value>
                <value>config/collections.xml</value>
            </set>
        </property>
    </bean>

    <bean id="configurationExplorer"
          class="ru.intertrust.cm.core.config.ConfigurationExplorerImpl" init-method="build">
        <property name="configuration">
            <bean class="ru.intertrust.cm.core.config.model.Configuration"
                  factory-bean="configurationSerializer" factory-method="serializeConfiguration"/>
        </property>
    </bean>

</beans>