/* ------------>>> dark button <<<------------ */
.darkButton {
    background: #0874b6; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM0ODliZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMTZjYWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #0874b6 0%, #016cad 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0874b6), color-stop(100%, #016cad)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #0874b6 0%, #016cad 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #0874b6 0%, #016cad 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #0874b6 0%, #016cad 100%); /* IE10+ */
    background: linear-gradient(to bottom, #0874b6 0%, #016cad 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0874b6', endColorstr='#016cad', GradientType=0); /* IE6-8 */
    border: 1px solid #016cad;
    border-radius: 3px;
    color: #f1f1f1;
    cursor: default;
    display: inline-block;
    margin: 5px;
    padding: 6px 9px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

.darkButton:hover {
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .15);
    box-shadow: 0 1px 0 rgba(0, 0, 0, .15);
    color: #ffffff;
    border: 1px solid #0874b6;
    text-shadow: none;
}

.darkButton:active {
    -webkit-box-shadow: inset 0 2px 0 rgba(0, 0, 0, .15);
    box-shadow: inset 0 2px 0 rgba(0, 0, 0, .15);
    background: #0874b6;
    background: -webkit-linear-gradient(top, #0d7bbe, #0874b6);
    background: linear-gradient(top, #0d7bbe, #0874b6);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#0d7bbe, endColorstr=#0874b6, GradientType=1);
    color: rgba(255, 255, 255, 0.8) /*#eeeeee*/;
}

a.darkButton:hover {
    text-decoration: none;
}

a.darkButton:active {
    text-decoration: none;
}
/* ------------>>> end dark button <<<------------ */

/* ------------>>> light button <<<------------ */
.lightButton {
    background: #ffffff; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlYWVlZjEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #ffffff 0%, #eaeef1 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #eaeef1)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%, #eaeef1 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%, #eaeef1 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%, #eaeef1 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%, #eaeef1 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eaeef1', GradientType=0); /* IE6-8 */
    border: 1px solid #dfe2e5;
    border-radius: 3px;
    color: #016cad;
    cursor: default;
    display: inline-block;
    margin: 5px;
    padding: 6px 9px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

.lightButton:hover {
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .15);
    box-shadow: 0 1px 0 rgba(0, 0, 0, .15);
    color: #0874b6;
    border: 1px solid #d6d9dc;
    text-shadow: none;
}

.lightButton:active {
    -webkit-box-shadow: inset 0 2px 0 rgba(0, 0, 0, .15);
    box-shadow: inset 0 2px 0 rgba(0, 0, 0, .15);
    background: #e6e9ec;
    background: -webkit-linear-gradient(top, #ffffff, #e6e9ec);
    background: linear-gradient(top, #ffffff, #e6e9ec);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#e6e9ec, GradientType=1);
    color: rgba(0, 108, 173, 0.8) /*#016cad*/;
}

a.lightButton:hover {
    text-decoration: none;
}

a.lightButton:active {
    text-decoration: none;
}
/* ------------>>> end light button <<<------------ */

/* ------------>>> disabled button <<<------------ */
.disabledButton {
    background: #ffffff; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlYWVlZjEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #ffffff 0%, #eaeef1 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #eaeef1)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%, #eaeef1 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%, #eaeef1 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%, #eaeef1 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%, #eaeef1 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eaeef1', GradientType=0); /* IE6-8 */
    border: 1px solid #dfe2e5;
    border-radius: 3px;
    color: rgba(155, 155, 155, 0.8) /*#9b9b9b*/;
    cursor: default;
    display: inline-block;
    margin: 5px;
    padding: 6px 9px;
}
/* ------------>>> end disabled button <<<------------ */

/* ------------>>> tooltip button <<<------------ */
.tooltipButton {
    background: #ffffff; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlYWVlZjEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #ffffff 0%, #eaeef1 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #eaeef1)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%, #eaeef1 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%, #eaeef1 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%, #eaeef1 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%, #eaeef1 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eaeef1', GradientType=0); /* IE6-8 */
    border: 1px solid #dfe2e5;
    border-radius: 3px;
    color: #016cad;
    cursor: default;
    display: inline-block;
    margin: 9px 12px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

.tooltipButton:hover {
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .15);
    box-shadow: 0 1px 0 rgba(0, 0, 0, .15);
    color: #0874b6;
    border: 1px solid #d6d9dc;
    text-shadow: none;
}

.tooltipButton:active {
    -webkit-box-shadow: inset 0 2px 0 rgba(0, 0, 0, .15);
    box-shadow: inset 0 2px 0 rgba(0, 0, 0, .15);
    background: #e6e9ec;
    background: -webkit-linear-gradient(top, #ffffff, #e6e9ec);
    background: linear-gradient(top, #ffffff, #e6e9ec);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#e6e9ec, GradientType=1);
    color: rgba(0, 108, 173, 0.8) /*#016cad*/;
}

a.tooltipButton:hover {
    text-decoration: none;
}

a.tooltipButton:active {
    text-decoration: none;
}
/* ------------>>> end tooltip button <<<------------ */

/* ------------>>> Attachment Widget Plugin <<<------------ */
.uploadButton {
    background: #f5f5f5 url(resources/defaulttheme/images/icons/icon-create.png) no-repeat 50% 7%;
    padding: 11px;
    float: right;
}

.uploadButton:hover {
    background: #f5f5f5 url(resources/defaulttheme/images/icons/icon-upload.png) no-repeat -2px -1px;
}

.uploadButton:hover {
    background: #f5f5f5 url(resources/defaulttheme/images/icons/icon-upload.png) no-repeat -2px -1px;
}

.selectionButton {
    background: #f5f5f5;
    padding: 3px 5px;
    float: right;
}

.selectionButton:hover {
    background: #f5f5f5;
    padding: 3px 5px;
}

.selectionButton:active {
    background: #f5f5f5;
    padding: 3px 5px;
}

.imageLargePreview .lightButton,
.imageLargePreview .darkButton {
    position: absolute;
    right: 0;
    bottom: 3px;
    z-index: 20;
}

.attachmentPluginButtonsPanel .table-browser-button.lightButton {
    background: #f5f5f5;
    padding: 4px 6px 5px;
    float: right;
    max-height: 13px;
}
/* ------------>>> end Attachment Plugin <<<------------ */