.calendarScrollPanel {
    position: absolute !important;
    top: 65px;
    right: 0;
    bottom: -1px;
    left: 0;
    overflow: hidden;
    border: solid 1px #ddd;
    background: rgba(248, 249, 255, 1.0);
}

.calendarContainer {
    right: 0;
    left: 0;
    background: rgba(89, 17, 20, 0.15);
}

.calendarDayWrapper {
    position: absolute;         /* Opera/IE 8+ */
    top: 0; /* Safari/Chrome, other WebKit */
    right: 0;    /* Firefox, other Gecko */
    bottom: 0;
    left: 0;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 2px;
    width: 100%;
    height: 100%;
}

.calendarTaskContainer {
    position: absolute;
    top: 20px;
    right: 5px;
    bottom: 2px;
    left: 0;
    overflow-y: auto;
}

.calendarTaskContainer::-webkit-scrollbar,
.calendarDetailListWrapper::-webkit-scrollbar,
.calendarItemsWrapper::-webkit-scrollbar {
    width: 9px;
    height: 9px;
}

.calendarTaskContainer::-webkit-scrollbar-thumb,
.calendarDetailListWrapper::-webkit-scrollbar-thumb,
.calendarItemsWrapper::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #afbccc;
}

.calendarTaskContainer::-webkit-scrollbar-track,
.calendarDetailListWrapper::-webkit-scrollbar-track,
.calendarItemsWrapper::-webkit-scrollbar-track {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.calendarDetailListWrapper {
    position: absolute;
    top: 30px;
    bottom: 0;
    overflow-y: auto;
    width: 100%;
}

.calendar-day-container {
    position: absolute;
    overflow: visible !important;
    width: 16.6%;
}

.calendarDayBlock {
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;         /* Opera/IE 8+ */
    box-sizing: border-box; /* Safari/Chrome, other WebKit */
    border-top: 1px solid #ddd;    /* Firefox, other Gecko */
    border-left: 1px solid #ddd;
}

.calendar-work-day-block {
    float: left;
    background: rgb(248, 249, 255);
}

.calendar-holiday-block {
    float: none;
    background: rgb(248, 249, 255);
}

.calendar-work-after-today {
    float: left;
    background-color: #fff;
}

.calendar-weekend-after-today {
    float: left;
    background-color: #fff;
}

.calendar-holiday-block:focus {
    border-left: 1px solid #ddd;
    background: rgb(248, 249, 255);
}

.calendar-holiday-block:hover,
.calendar-work-day-block:hover {
    background: #f6f6f6;
}

.calendar-weekend-day-bloks {}

.calendarFocusDayBlock {
    border: 2px solid #ffa34c !important;
    border-radius: 5px;
    background: #fffbe2;
}

.calendarBlockDate {
    z-index: 2;
    float: right;
    margin: 0.3em 0.5em 0.3em 60%;
    color: #aaa;
    font-size: 90%;
}

.calendarItemsWrapper {
    position: absolute;
    top: 35px;
    bottom: 0;
    overflow-y: auto;
    width: 98%;
}

.first-day-month {
    border-top: 1px solid #000;
    border-left: 1px solid #000;
}

.days-of-first-week {
    border-top: 1px solid #000;
}

.second-weekend {
    border-left: 1px solid #000 !important;
}

.today {
    background: #fffbe2;
}

.month-panel {
    position: absolute !important;
    top: 65px;
    z-index: 5;
    overflow: hidden;
    width: 100%;
    height: 31px;
    background: #afbccc;
    cursor: pointer;
}

.current-month-block {
    position: absolute !important;
    top: 65px;
    left: 50%;
    z-index: 10;
    height: 31px;
    background: black;
    opacity: 0.15;
}

.first {
    position: absolute;
    top: -13px;
    left: 50%;
    margin-left: -35px;
    width: 69px;
    height: 22px;
    background: url(css/i/calendar-bg-day-labels.png) left top no-repeat;
    color: white;
    text-align: center;
    font-size: 90%;
    line-height: 15px;
    z-Index: 4;
}

.first2 {
    position: absolute;
    top: 33px;
    left: 50%;
    margin-left: -35px;
    width: 69px;
    height: 22px;
    background: url(css/i/calendar-bg-day-labels.png) left top no-repeat;
    color: white;
    text-align: center;
    font-size: 90%;
    line-height: 18px;
    z-Index: 4;
}

.month-block {
    padding-top: 9px;
    height: 18px;
    color: #ffffff;
    text-align: center;
}

.monthDetailPanel {
    position: absolute;
    top: 30px;
    right: 0;
    bottom: 0;
    border-left: 1px solid #afbccc;
    background: #dfe9f2;
}

/* ------------>>> Calendar Month Panel buttons <<<------------ */
.monthPanelOnSwitchButton {
    position: absolute;
    top: 50%; /* For Safari 3.1 to 6.0 */
    left: -30px;
    z-index: 15;
    padding: 7px;
    border: 1px solid #afbccc;
    border-top: none;
    border-radius: 0 0 10px 10px;
    background: #fafafa;
    letter-spacing: normal;
    font-size: 13px; /* IE 9 */
    font-family: Arial, sans-serif; /* Firefox */
    line-height: 13px; /* Safari and Chrome */
    -webkit-transition: background 0.5s; /* Opera */
    transition: background 0.5s; /* IE layout fix */
    -webkit-transform: rotate(270deg); /* IE layout fix */
    -moz-transform: rotate(270deg); /* IE layout fix */
    -ms-transform: rotate(270deg); /* IE layout fix */
    -o-transform: rotate(270deg);
}

.monthPanelOnSwitchButton span {
    border-bottom: 1px dotted #9eafbf;
    -webkit-transition: color 0.5s; /* For Safari 3.1 to 6.0 */
    transition: color 0.5s;
}

.monthPanelOnSwitchButton:hover {
    background: #afbccc;
    cursor: pointer; /* For Safari 3.1 to 6.0 */
    -webkit-transition: background 0.5s;
    transition: background 0.5s;
}

.monthPanelOnSwitchButton:hover span {
    color: #fafafa;
    -webkit-transition: color 0.5s; /* For Safari 3.1 to 6.0 */
    transition: color 0.5s;
}

.monthPanelOffSwitchButton {
    position: absolute;
    top: 50%; /* For Safari 3.1 to 6.0 */
    left: -58px;
    z-index: 100;
    padding: 7px;
    width: 72px;
    border: 1px solid #afbccc;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
    background: #fafafa;
    letter-spacing: normal;
    font-size: 13px; /* IE 9 */
    font-family: Arial, sans-serif; /* Firefox */
    line-height: 13px; /* Safari and Chrome */
    -webkit-transition: background 0.5s; /* Opera */
    transition: background 0.5s;
    -webkit-transform: rotate(270deg); /* IE layout fix */
    -moz-transform: rotate(270deg); /* IE layout fix */
    -ms-transform: rotate(270deg); /* IE layout fix */
    -o-transform: rotate(270deg); /* IE layout fix */
}

.monthPanelOffSwitchButton span {
    border-bottom: 1px dotted #9eafbf;
    -webkit-transition: color 0.5s; /* For Safari 3.1 to 6.0 */
    transition: color 0.5s;
}

.monthPanelOffSwitchButton:hover {
    background: #afbccc;
    cursor: pointer; /* For Safari 3.1 to 6.0 */
    -webkit-transition: background 0.5s;
    transition: background 0.5s;
}

.monthPanelOffSwitchButton:hover span {
    color: #fafafa;
    -webkit-transition: color 0.5s; /* For Safari 3.1 to 6.0 */
    transition: color 0.5s;
}
/* ------------>>> end Calendar Month Panel buttons <<<------------ */

/* ------------>>> Calendar Week Panel buttons <<<------------ */
.weekPanelOnSwitchButton {
    position: absolute;
    top: 50%; /* For Safari 3.1 to 6.0 */
    right: -90px;
    z-index: 15;
    padding: 7px;
    border: 1px solid #afbccc;
    border-top: none;
    border-radius: 0 0 10px 10px;
    background: #fafafa;
    letter-spacing: normal;
    font-size: 13px; /* IE 9 */
    font-family: Arial, sans-serif; /* Firefox */
    line-height: 13px; /* Safari and Chrome */
    -webkit-transition: background 0.5s; /* Opera */
    transition: background 0.5s; /* IE layout fix */
    -webkit-transform: rotate(270deg); /* IE layout fix */
    -moz-transform: rotate(270deg); /* IE layout fix */
    -ms-transform: rotate(270deg); /* IE layout fix */
    -o-transform: rotate(270deg);
}

.weekPanelOnSwitchButton span {
    border-bottom: 1px dotted #9eafbf;
    -webkit-transition: color 0.5s; /* For Safari 3.1 to 6.0 */
    transition: color 0.5s;
}

.weekPanelOnSwitchButton:hover {
    background: #afbccc;
    cursor: pointer; /* For Safari 3.1 to 6.0 */
    -webkit-transition: background 0.5s;
    transition: background 0.5s;
}

.weekPanelOnSwitchButton:hover span {
    color: #fafafa;
    -webkit-transition: color 0.5s; /* For Safari 3.1 to 6.0 */
    transition: color 0.5s;
}

.weekPanelOffSwitchButton {
    position: absolute;
    top: 50%; /* For Safari 3.1 to 6.0 */
    right: -65px;
    z-index: 100;
    padding: 7px;
    border: 1px solid #afbccc;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
    background: #fafafa;
    letter-spacing: normal;
    font-size: 13px;
    font-family: Arial, sans-serif; /* IE 9 */
    line-height: 13px; /* Firefox */
    -webkit-transition: background 0.5s; /* Safari and Chrome */
    transition: background 0.5s; /* Opera */
    -webkit-transform: rotate(270deg); /* IE layout fix */
    -moz-transform: rotate(270deg); /* IE layout fix */
    -ms-transform: rotate(270deg); /* IE layout fix */
    -o-transform: rotate(270deg); /* IE layout fix */
}

.weekPanelOffSwitchButton span {
    border-bottom: 1px dotted #9eafbf;
    -webkit-transition: color 0.5s; /* For Safari 3.1 to 6.0 */
    transition: color 0.5s;
}

.weekPanelOffSwitchButton:hover {
    background: #afbccc;
    cursor: pointer; /* For Safari 3.1 to 6.0 */
    -webkit-transition: background 0.5s;
    transition: background 0.5s;
}

.weekPanelOffSwitchButton:hover span {
    color: #fafafa;
    -webkit-transition: color 0.5s; /* For Safari 3.1 to 6.0 */
    transition: color 0.5s;
}

.calendarItemLink {
    margin-left: 3px;
    cursor: pointer;
    curson: hand;
}

.calendarTaskWrapper {
    overflow: hidden;         /* Opera/IE 8+ */
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
    padding: 2px 3px;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.calendarItemsWrapper .calendarTaskWrapper {
    margin: 2px 0;
    padding: 5px 0;
    border-bottom: 1px solid #dbdbdb;
}

.calendar-scroll-panel {
    position: absolute !important;
    top: 65px;
    right: 0;
    bottom: 0;
    left: 0;
    border: solid 1px #ddd;
    background: rgba(248, 249, 255, 1.0);
}

.calendar-container {
    /*position: absolute;*/
    right: 0;
    left: 0;
    background: rgba(89, 17, 20, 0.15);

}

.calendar-day-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 2px;
}

.calendar-day-block {
    position: relative;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
}

.calendar-focus-day-block {
    border: 2px solid #ffa34c !important;
    border-radius: 10px;
    background: #fffbe2;
}

.month-detail-panel {
    position: absolute;
    top: 31px;
    right: 0;
    bottom: 0;
    padding: 5px;
}
/* ------------>>> end Calendar Week Panel buttons <<<------------ */