/*.gwt-SuggestBox*/
/*{*/
/*border:1px solid #eeeeee !important!important;*/
/*text-align:left !important;*/
/*width:800px !important;*/
/*z-index:91;*/
/*overflow:visible;*/
/*left: 336px;*/
/*top: 25px;*/
/*position:absolute;*/
/*}*/
/*.gwt-SuggestBoxPopup*/
/*{*/
/*text-align:left !important;*/
/*cursor:pointer !important;*/
/*cursor:hand !important;*/
/*border:1px solid #666 !important;*/
/*border-top:0 !important;*/
/*background-color:#fff !important;*/
/*width:800px !important;*/
/*}*/
/*.gwt-SuggestBoxPopup .item*/
/*{*/
/*border:1px solid #f00 !important;*/
/*width:800px !important;*/
/*}*/
/*.gwt-SuggestBoxPopup .item-selected*/
/*{*/
/*background-color:#ffc !important;*/
/*}*/

/*.gwt-SuggestBoxPopup .suggestPopupBottomRight {*/
/*background: red !important;*/
/*height: 5px !important;*/
/*width: 5px !important;*/
/*}*/
/*.gwt-SuggestBoxPopup .suggestPopupBottomLeft {*/
/*background: red !important;*/
/*height: 5px !important;*/
/*width: 5px !important;*/
/*}*/

/*.gwt-SuggestBoxPopup .suggestPopupTopRight {*/
/*background: red !important;*/
/*height: 5px !important;*/
/*width: 5px !important;*/
/*}*/
/*.gwt-SuggestBoxPopup .suggestPopupTopLeft {*/
/*background: red !important;*/
/*height: 5px !important;*/
/*width: 5px !important;*/
/*}*/

.gwt-SuggestBox {
}

.popupMiddleLeft,
.popupMiddleRight,
.popupBottom,
.popupTop {
    display: none;
}

.gwt-SuggestBoxPopup {
    background: #FFFDF0;
    border-bottom: 1px solid #F7EC70;
    border-left: 1px solid #F7EC70;
    border-right: 1px solid #F7EC70;
    margin-left: 0px !important;
    z-index: 101;
}
.gwt-SuggestBoxPopup .popupMiddleCenterInner table {
    width: 100%;
}
/*
.gwt-SuggestBoxPopup .suggestPopupMiddleCenterInner {
width: 207px;
}
*/

.gwt-SuggestBoxPopup .item {
    padding: 2px 6px !important;
    color: #000 !important;
    cursor: default !important;
    font-size: 100% !important;
}
.gwt-SuggestBoxPopup .item-selected {
    background: #D5E2FF !important;
}
.gwt-SuggestBoxPopup .popupContent {
    background: white !important;
}
.gwt-SuggestBoxPopup .popupTopCenter {
    border-top: 1px solid #bbb !important;
}
.gwt-SuggestBoxPopup .popupBottomCenter {
    border-bottom: 1px solid #bbb !important;
}
.gwt-SuggestBoxPopup .popupTopCenterInner,
.gwt-SuggestBoxPopup .popupBottomCenterInner {
    height: 1px !important;
    line-height: 1px !important;
}
.gwt-SuggestBoxPopup .popupMiddleLeft {
    border-left: 1px solid #bbb !important;
}
.gwt-SuggestBoxPopup .popupMiddleRight {
    border-right: 1px solid #bbb !important;
}
.gwt-SuggestBoxPopup .popupMiddleLeftInner,
.gwt-SuggestBoxPopup .popupMiddleRightInner {
    width: 1px !important;
    line-height: 1px !important;
}
.gwt-SuggestBoxPopup .popupTopLeftInner {
    width: 0px !important;
    height: 0px !important;
    zoom: 1 !important;
}
.gwt-SuggestBoxPopup .popupTopRightInner {
    width: 0px !important;
    height: 0px !important;
    zoom: 1 !important;
}
.gwt-SuggestBoxPopup .popupBottomLeftInner {
    width: 0px !important;
    height: 0px !important;
    zoom: 1 !important;
}
.gwt-SuggestBoxPopup .popupBottomRightInner {
    width: 0px !important;
    height: 0px !important;
    zoom: 1 !important;
}
.gwt-SuggestBoxPopup .popupTopLeft {
    background: url(images/circles.png) no-repeat 0px -6px !important;
    -background: url(images/circles_ie6.png) no-repeat 0px -6px !important;
    width: 5px !important;
    height: 5px !important;
}
.gwt-SuggestBoxPopup .popupTopRight {
    background: url(images/circles.png) no-repeat -5px -6px !important;
    -background: url(images/circles_ie6.png) no-repeat -5px -6px !important;
    width: 5px !important;
    height: 5px !important;
}
.gwt-SuggestBoxPopup .popupBottomLeft {
    background: url(images/circles.png) no-repeat 0px -11px !important;
    -background: url(images/circles_ie6.png) no-repeat 0px -11px !important;
    width: 5px !important;
    height: 5px !important;
}
.gwt-SuggestBoxPopup .popupBottomRight {
    background: url(images/circles.png) no-repeat -5px -11px !important;
    -background: url(images/circles_ie6.png) no-repeat -5px -11px !important;
    width: 5px !important;
    height: 5px !important;
}
.gwt-SuggestBoxPopup {
    z-index: 999;
}
* html .gwt-SuggestBoxPopup .popupTopLeftInner {
    width: 0px !important;
    height: 0px !important;
    overflow: hidden !important;
}
* html .gwt-SuggestBoxPopup .popupTopRightInner {
    width: 0px !important;
    height: 0px !important;
    overflow: hidden !important;
}
* html .gwt-SuggestBoxPopup .popupBottomLeftInner {
    width: 0px !important;
    height: 0px !important;
    overflow: hidden !important;
}
* html .gwt-SuggestBoxPopup .popupBottomRightInner {
    width: 0px !important;
    height: 0px !important;
    overflow: hidden !important;
}

.gwt-SuggestBoxPopup table {
    width: 100%;
}

/*.CMJ-suggest-display-popup{*/
/*width: 700px!important;*/
/*background: white!important;*/
/*border-color: black;*/
/*border: 1px;*/
/*}*/

.suggest-container-block {
    width: 100%;
}

.suggest-container-input {
    color: #000;
    border: 1px solid #ccc;
    background-color: #fff;
    min-height: 24px;
    vertical-align: middle;
    width: 100%;
    margin: 5px 0;
    padding-right: 2px;
}

td .gwt-SuggestBox {
    display: inline-block;
    padding: 7px;
    border: none;
    margin: 0;
    font-family: Arial, sans-serif;
    width: 45px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.suggestWrapper{
    display: inline-block;
    vertical-align: middle;
}
