
.bookmark-content {

}

.bookmark-leftpanel {
    min-height: 132px;
}

.bookmark-leftpanel-active {
    background: #FEFFFF;
    background: -moz-linear-gradient(left, #FEFFFF 0%, #D8E3EA 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #FEFFFF), color-stop(100%, #D8E3EA));
    background: -webkit-linear-gradient(left, #FEFFFF 0%, #D8E3EA 100%);
    background: -o-linear-gradient(left, #FEFFFF 0%, #D8E3EA 100%);
    background: -ms-linear-gradient(left, #FEFFFF 0%, #D8E3EA 100%);
    background: linear-gradient(left, #FEFFFF 0%, #D8E3EA 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FEFFFF", endColorstr="#D8E3EA", GradientType=1);
    width: 233px;
    -webkit-box-shadow: inset -2px 0px 2px 0px #858585;
    -moz-box-shadow: inset -2px 0px 2px 0px #858585;
    box-shadow: inset -2px 0px 2px 0px #858585;
}

.bookmark-leftpanel {
    min-height: 132px;
    padding-top: 14px;
}

.panel-left-exist {
    background-color: white;
}

.bookmark-panel-left {
    border: red 3px;
}

.bookmark-panel-right {
    border: green 3px;
}

.buttonHideOff {
    background: #FF0000;
    padding: 10px;
}

.gwt-TabLayoutPanel-No-Padding {
    padding: 0px;
}

/* Кнопки скрытия и открытия */

.left-button {
    position: absolute;
    top: 20px;
    right: 0;
    /*right: 15px;*/
    background: url(images/tab-close-block.png) no-repeat #ffffff;
    width: 21px;
    height: 37px;
    display: block;
    outline: none;
    cursor: pointer;
    float: left;
    border-radius: 13px 0 0 13px;
    border: 1px solid #000000;
}

.left-button:hover {
    background: url(images/tab-close-block.png) no-repeat #F4F7F9;
    border: 1px solid #757575;
}

.left-button:active {
    background: url(images/tab-close-block.png) no-repeat #DAE5EC;
    border: 1px solid #024186;
}

ins {
    text-decoration: none;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    cursor: pointer;
    cursor: pointer;
}

.right-button .inside-vertical-tab-text {
    padding: 2px 10px 3px;
    display: inline-block;
    color: black;
}

.right-button {
    background: scroll rgba(255, 255, 255, 0.8) none 0 0 no-repeat;
    transform-origin: 0 0;
    -moz-transform: rotate(-90deg) translateX(-100%);
    -webkit-transform: rotate(-90deg) translateX(-100%);
    -o-transform: rotate(-90deg) translateX(-100%);
    -ms-transform: rotate(-90deg) translateX(-100%);
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    color: black;
    border-radius: 0 0 10px 10px;
    position: absolute;
    z-index: 1;
    outline: none;
    top: 25px;
    left: 0px;
    min-width: 105px;
    text-align: center;
}

/* Кнопки END */
.root-div {
    background: url(images/form/form-footer-bg_long.jpg) repeat-y scroll 0 0;
    height: 100%;
}

.root-div-unshadowed {
    height: 100%;
}

.left-div-visible {
    background: #dde4ea;
    background: -moz-linear-gradient(left, #ffffff 0%, #d4e1e9 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #ffffff), color-stop(100%, #d4e1e9));
    background: -webkit-linear-gradient(left, #ffffff 0%, #d4e1e9 100%);
    background: -o-linear-gradient(left, #ffffff 0%, #d4e1e9 100%);
    background: -ms-linear-gradient(left, #ffffff 0%, #d4e1e9 100%);
    filter: progid\: DXImageTransform\.Microsoft\.gradient\( startColorstr\= "#ffffff", endColorstr\= "#d4e1e9", GradientType\= 1 \);
    background: linear-gradient(left, #ffffff 0%, #d4e1e9 100%);
    float: left;
    padding: 10px 5px 0 20px;
    -webkit-transition: width 0.5s;
    transition: width 0.5s;
    width: 190px;
}

.left-div-invisible {
    /*display: none;*/
    background: #dde4ea;
    background: -moz-linear-gradient(left, #ffffff 0%, #d4e1e9 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #ffffff), color-stop(100%, #d4e1e9));
    background: -webkit-linear-gradient(left, #ffffff 0%, #d4e1e9 100%);
    background: -o-linear-gradient(left, #ffffff 0%, #d4e1e9 100%);
    background: -ms-linear-gradient(left, #ffffff 0%, #d4e1e9 100%);
    filter: progid\: DXImageTransform\.Microsoft\.gradient\( startColorstr\= "#ffffff", endColorstr\= "#d4e1e9", GradientType\= 1 \);
    background: linear-gradient(left, #ffffff 0%, #d4e1e9 100%);
    float: left;
    /*padding: 10px 5px 0 20px;*/
    -webkit-transition: width 0.5s;
    transition: width 0.5s;
    width: 0px;
}

.right-div {
    padding: 17px 10px 10px 20px;
    position: relative;
    background: #ffffff;
    border: none;
    border-radius: 5px 0 0 0;
    box-shadow: -2px 0 2px #cccccc;
    -webkit-transition: margin-left 0.5s;
    transition: margin-left 0.5s;
    margin-left: 215px;
}

.bookmarks-no-margin {
    /*-webkit-transition: margin-left 0.5s;*/
    /*transition: margin-left 0.5s;*/
    /*margin-left: 10px;*/
    /*padding-left: 37px !important;*/

    padding: 17px 10px 58px 37px;
    position: relative;
    background: #fff;
    border: none;
    border-radius: 5px 0 0 0;
    box-shadow: -2px 0 2px #ccc;
    -webkit-transition: margin-left 0.5s;
    transition: margin-left 0.5s;
    margin-left: 10px;

}

.decorated-left-div,
.decorated-right-div {
    padding: 0 0 40px 0;
}

.vertical-tab-text {
    display: inline-block;

}

.inside-vertical-tab-text {

}

.gwt-TabLayoutPanelContent.gwt-TabLayoutPanel-No-Padding {
    padding: 0px !important;
    height: 100%;
}

/* левая панель кнопки */
.bookmarks-link-non-active a,
.bookmarks-link-active a {
    padding: 3px 0;
    text-decoration: underline;
    color: black !important;
    cursor: pointer;
    float: left;
    border: 3px solid transparent;
}

.bookmarks-link-non-active a:hover {
    text-decoration: none;
}

.bookmarks-link-active,
.bookmarks-link-non-active {
    margin-left: 16px;
    float: left;
    clear: left;
}

.bookmarks-link-active {
    margin-left: 12px;
}

.bookmarks-link-active a {
    padding: 3px 9px;
    border: 2px solid #024186;
    border-radius: 14px;
    text-decoration: none;
    text-shadow: 1px 1px 1px rgba(2, 65, 134, .2);
}

/* левая панель кнопки END */

