.form-dialog-box-content .gwt-TabLayoutPanel {
    margin-bottom: 0;
}

.formContainer,
.frm-pnl-top {
    background: #c2e7f0; /* Old browsers */
    background: -moz-linear-gradient(top, #c2e7f0 0%, #bfdfea 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c2e7f0), color-stop(100%, #bfdfea)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #c2e7f0 0%, #bfdfea 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #c2e7f0 0%, #bfdfea 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #c2e7f0 0%, #bfdfea 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c2e7f0', endColorstr='#bfdfea', GradientType=0); /* IE6-9 */
    background: linear-gradient(top, #c2e7f0 0%, #bfdfea 100%); /* W3C */
    overflow: auto;
    padding: 0 10px 0;
    position: absolute;
    top: 40px;
    right: 0;
    bottom: 0;
    left: 0;
}

.popup-body .modalFormWrapper {
    background: #c2e7f0; /* Old browsers */
    background: -moz-linear-gradient(top, #c2e7f0 0%, #bfdfea 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c2e7f0), color-stop(100%, #bfdfea)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #c2e7f0 0%, #bfdfea 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #c2e7f0 0%, #bfdfea 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #c2e7f0 0%, #bfdfea 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c2e7f0', endColorstr='#bfdfea', GradientType=0); /* IE6-9 */
    background: linear-gradient(top, #c2e7f0 0%, #bfdfea 100%); /* W3C */
    border-radius: 5px;
    overflow: auto;
    padding: 0 10px 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.gwt-TabPanel {
    border-radius: 5px 5px 5px 5px;
    bottom: 10px;
    overflow: hidden;
}

.gwt-TabPanelBottom {
    border-radius: 5px;
    overflow: hidden;
}

.formContainer {
    top: 0;
}

.form-footer-long {
    -webkit-transition: background 0.7s;
    transition: background 0.7s;
    /*background: url(images/form/form-footer-bg_long.jpg) repeat-y scroll 0 0;*/
    border-radius: 5px;
    position: absolute;
    top: 75px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    z-index: 0;
}

.form-footer-short {
    -webkit-transition: background 0.7s;
    transition: background 0.7s;
    /*background: url(images/form/form-footer-bg_short.jpg) repeat-y scroll 0 0;*/
    border-radius: 5px;
    position: absolute;
    top: 75px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    z-index: 0;
}

.form-footer-blank {
    /*background: #ffffff;*/
    border-radius: 5px;
    position: absolute;
    top: 75px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    z-index: 0;
}

.gwt-TabLayoutPanelTabs {
    background: #c2e7f0 !important;

}

.gwt-TabLayoutPanel-wrapper {
    border-radius: 5px;
    height: 100%;
    overflow: hidden;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTabs {
    padding-top: 6px !important;
    padding-left: 1px !important;
    margin-left: 0 !important;
    /*margin-right: 20px !important;*/
    margin-right: 0px !important;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelContent {
    border: 0px !important;
    background: none !important;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab {
    /* margin-left: 6px !important;  */
    padding: 3px 8px 0px 0px !important;
    cursor: pointer !important;
    cursor: hand !important;
    color: black !important;
    font-size: 1.2em !important;
    color: #blue !important;
    text-align: center !important;
    background: #c2e7f0 !important;
}

.gwt-TabLayoutPanel > .gwt-TabLayoutPanelTab-selected > .gwt-Label {

    background-color: #FF0000 !important;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab {
    color: #000 !important;
    font-size: 14px !important;
    cursor: pointer !important;
    cursor: hand !important;
    font-weight: normal !important;
    text-align: center !important;
    border-radius: 3px 3px 0 0 !important;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab-selected .gwt-TabLayoutPanelTabInner {
    background: url(css/images/left-tab.png) no-repeat 0px 0px !important;
    padding-left: 9px;
}

.form-plaugin-table {
    height: 100%;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab-selected .gwt-Label {
    margin-left: 0 !important;
    text-decoration: none;
}

.gwt-TabLayoutPanel .gwt-Label {
    height: 28px;
    line-height: 28px;
}

.gwt-Label {
    font-weight: bold;
    text-decoration: underline;
}

.gwt-TabBarItem-wrapper .gwt-Label {
    font-weight: normal;
}

.gwt-TabBarItem-selected .gwt-Label {
    font-weight: bold;
}

.gwt-Label:hover {
    /*text-decoration: none;*/
}

.textBoxNonEditable{
    cursor: default;
    font-weight: normal;
    text-decoration: none;
}

.gwt-TabLayoutPanel {
    /*margin-left: 8px;*/
    margin-left: 0px;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab {
    margin-right: 0px;
    /*margin-left: 8px !important;*/
    margin-left: 0px !important;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab-selected {
    font-weight: bold !important;
    cursor: default !important;
    padding: 0 24px 0 0 !important;
    background: url(css/images/tabs_selected_r.png) no-repeat scroll 100% 0 !important;
}

.gwt-TabLayoutPanel .div.gwt-Label {
    font-size: 14px !important;
}

.gwt-TabLayoutPanelContentContainer {
    background-color: #FFFFFF;
    border: none !important;
    height: 100%;
}

.central-plugin-panel-table {
    /*height: 100%;*/
}

.one-handred-percent-style {
    height: 100%;
    width: 100%;
}

.pluginExtraClass {
    height: 100%;
}

.custom-TabLayout {
    width: 100%;
}

.form-panel-header {
    background: #c2e7f0; /* Old browsers */
    background: -moz-linear-gradient(top, #c2e7f0 0%, #bfdfea 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c2e7f0), color-stop(100%, #bfdfea)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #c2e7f0 0%, #bfdfea 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #c2e7f0 0%, #bfdfea 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #c2e7f0 0%, #bfdfea 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c2e7f0', endColorstr='#bfdfea', GradientType=0); /* IE6-9 */
    background: linear-gradient(top, #c2e7f0 0%, #bfdfea 100%); /* W3C */
    display: block;
    padding: 10px 0 10px 0;
    position: relative;
    z-index: 10;
    width: 100% !important;
    /*height: 65px !important;*/
    min-height: 45px;
}

.form-panel-header > tbody {
    display: table;
    width: 100%;
}

.form-panel-header .gwt-Good-Label {
    margin: 5px 5px 5px 15px;
}

.widget-wrapper {
    margin: 0 10px 0 0;
    padding: 5px 10px;
}

.widget-wrapper > input:disabled {
    background: none;
    border: none;
    color: #000;
}

.widget-wrapper > input[type="password"] {
    padding: 10px 7px 11px;
    border: 1px solid #ccc;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    box-sizing: border-box;
}

.widget-wrapper > input[type="password"]:disabled {
    border: 1px solid rgba(204, 204, 204, 0);
}

.widget-wrapper > .hierarh-browser-inline {
    /*position: absolute;*/
    /*top: 40px;*/
    /*right: 0;*/
    /*bottom: 0;*/
    /*left: 10px;*/
}

.ext-search-form-style .widget-wrapper {
    margin: 0;
    padding: 5px 2px 0 10px;
}

/* Action Bar */
.action-bar {
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #eaeef1 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #eaeef1));
    background: -webkit-linear-gradient(top, #ffffff 0%, #eaeef1 100%);
    background: -o-linear-gradient(top, #ffffff 0%, #eaeef1 100%);
    background: -ms-linear-gradient(top, #ffffff 0%, #eaeef1 100%);
    filter: progid\: DXImageTransform\.Microsoft\.gradient\( startColorstr\= "#ffffff", endColorstr\= "#eaeef1", GradientType\= 0 \);
    background: linear-gradient(top, #ffffff 0%, #eaeef1 100%);
    box-shadow: 0 3px 10px #aaa;
    height: 40px;
    z-index: 11;
}

.action-bar>div>table>tbody>tr {
    display: flex;
}

.action-bar>div>table>tbody>tr>td {
    display: flex;
    /* white-space: nowrap; */
}

.decorated-action-link {
    float: left;
}

.action-bar-right-side {
    float: right;
}

.decorated-action-link .actionBar-refresh,
.decorated-action-link .actionBar-create,
.decorated-action-link .actionBar-edit,
.decorated-action-link .actionBar-close,
.decorated-action-link .actionBar-save,
.decorated-action-link .actionBar-sign,
.decorated-action-link .actionBar-delete,
.decorated-action-link .actionBar-csvUpload,
.decorated-action-link .calendarMonth,
.decorated-action-link .calendarWeek,
.decorated-action-link .calendarToday {
    float: left;
    height: 35px;
    margin: 4px 0 0 0;
    width: 30px;
}

.decorated-action-link .actionBar-refresh {
    background: url("resources/defaulttheme/images/icons/icon-refresh.png") no-repeat 80% 48%;
}

/*.gwt-MenuItem:hover .actionBar-refresh {*/
/*background: url("resources/defaulttheme/images/icons/refresh.png") no-repeat 0 -35px;*/
/*}*/

/*.gwt-MenuItem:active .actionBar-refresh {*/
/*background: url("resources/defaulttheme/images/icons/refresh.png") no-repeat 0 -70px;*/
/*}*/

.decorated-action-link .actionBar-create {
    background: url("resources/defaulttheme/images/icons/icon-create.png") no-repeat 0 0;
}

/*.gwt-MenuItem:hover .actionBar-create {*/
/*background: url("resources/defaulttheme/images/icons/icon-create.png") no-repeat 0 -35px;*/
/*}*/

/*.gwt-MenuItem:active .actionBar-create {*/
/*background: url("resources/defaulttheme/images/icons/icon-create.png") no-repeat 0 -70px;*/
/*}*/

.decorated-action-link .actionBar-edit {
    background: url("resources/defaulttheme/images/icons/icon-edit.png") no-repeat 0 0;
}
.form-full-size-on{
    background: url("resources/defaulttheme/images/icons/form-fullsize-on.png") no-repeat 0 0;
    float: left;
    height: 35px;
    margin: 4px 0 0 0;
    width: 35px;
}
.form-full-size-off{
    background: url("resources/defaulttheme/images/icons/form-fullsize-off.png") no-repeat 0 0;
    float: left;
    height: 35px;
    margin: 4px 0 0 0;
    width: 35px;
}
.favorite-panel-on{
    background: url("resources/defaulttheme/images/icons/favorite-panel-on.png") no-repeat 0 0;
    float: left;
    height: 35px;
    margin: 4px 0 0 0;
    width: 35px;
}
.favorite-panel-on{
    background: url("resources/defaulttheme/images/icons/favorite-panel-off.png") no-repeat 0 0;
    float: left;
    height: 35px;
    margin: 4px 0 0 0;
    width: 35px;
}

/*.gwt-MenuItem:hover .actionBar-edit {*/
/*background: url("resources/defaulttheme/images/icons/edit.png") no-repeat 0 -35px;*/
/*}*/

/*.gwt-MenuItem:active .actionBar-edit {*/
/*background: url("resources/defaulttheme/images/icons/edit.png") no-repeat 0 -70px;*/
/*}*/

.decorated-action-link .actionBar-close {
    background: url("resources/defaulttheme/images/icons/icon-edit-close.png") no-repeat 0 0;
}

/*.gwt-MenuItem:hover .actionBar-close {*/
/*background: url("resources/defaulttheme/images/icons/close.png") no-repeat 0 -35px;*/
/*}*/

/*.gwt-MenuItem:active .actionBar-close {*/
/*background: url("resources/defaulttheme/images/icons/close.png") no-repeat 0 -70px;*/
/*}*/

.decorated-action-link .actionBar-save {
    background: url("resources/defaulttheme/images/icons/icon-save.png") no-repeat 0 0;
}

/*.gwt-MenuItem:hover .actionBar-save {*/
/*background: url("resources/defaulttheme/images/icons/save.png") no-repeat 0 -35px;*/
/*}*/

/*.gwt-MenuItem:active .actionBar-save {*/
/*background: url("resources/defaulttheme/images/icons/save.png") no-repeat 0 -70px;*/
/*}*/

.decorated-action-link .actionBar-sign {
    background: url("resources/defaulttheme/images/icons/icon-sign.png") no-repeat 50% 0;
}

/*.gwt-MenuItem:hover .actionBar-sign {*/
/*background: url("resources/defaulttheme/images/icons/icon-sign.png") no-repeat 0 -35px;*/
/*}*/

/*.gwt-MenuItem:active .actionBar-sign {*/
/*background: url("resources/defaulttheme/images/icons/icon-sign.png") no-repeat 0 -70px;*/
/*}*/

.decorated-action-link .actionBar-delete {
    background: url("resources/defaulttheme/images/icons/icon-delete.png") no-repeat 0 0;
}

/*.gwt-MenuItem:hover .actionBar-delete {*/
/*background: url("resources/defaulttheme/images/icons/delete.png") no-repeat 0 -35px;*/
/*}*/

/*.gwt-MenuItem:active .actionBar-delete {*/
/*background: url("resources/defaulttheme/images/icons/delete.png") no-repeat 0 -70px;*/
/*}*/

.decorated-action-link .actionBar-csvUpload {
    background: url("resources/defaulttheme/images/icons/icon-csv_download.png") no-repeat 0 0;
}

/*.gwt-MenuItem:hover .actionBar-csvUpload {*/
/*background: url("resources/defaulttheme/images/icons/csv-upload.png") no-repeat 0 -35px;*/
/*}*/

/*.gwt-MenuItem:active .actionBar-csvUpload {*/
/*background: url("resources/defaulttheme/images/icons/csv-upload.png") no-repeat 0 -70px;*/
/*}*/

.action-bar-right-side .actionBar-fullsize-on {
    background: url("resources/defaulttheme/images/icons/form-fullsize-on.png") no-repeat 0 0;
    float: right;
    height: 35px;
    margin: 4px 0 0 0;
    width: 35px;
}

/*.gwt-MenuItem:hover .actionBar-fullsize-on {*/
/*background: url("resources/defaulttheme/images/icons/form-fullsize-on.png") no-repeat 0 -35px;*/
/*}*/

/*.gwt-MenuItem:active .actionBar-fullsize-on {*/
/*background: url("resources/defaulttheme/images/icons/form-fullsize-on.png") no-repeat 0 -70px;*/
/*}*/

.action-bar-right-side .actionBar-favoritePanel-on {
    background: url("resources/defaulttheme/images/icons/favorite-panel-on.png") no-repeat 0 0;
    float: right;
    height: 35px;
    margin: 3px 10px 0 0;
    width: 35px;
}

/*.gwt-MenuItem:hover .actionBar-favoritePanel-on {*/
/*background: url("resources/defaulttheme/images/icons/favorite-panel-on.png") no-repeat 0 -35px;*/
/*}*/

/*.gwt-MenuItem:active .actionBar-favoritePanel-on {*/
/*background: url("resources/defaulttheme/images/icons/favorite-panel-on.png") no-repeat 0 -70px;*/
/*}*/

.decorated-action-link a.action-bar-button {

}

.decorated-action-link a.action-bar-button {
    border-bottom: 1px dotted;
    color: #000;
    cursor: pointer;
    float: left;
    line-height: 14px;
    margin: 14px 10px 14px 0;
    text-decoration: none;
}

.decorated-action-link a.action-bar-button:hover,
.decorated-action-link table tr td:hover a.action-bar-button {
    color: #f00;
    border-bottom: 1px dotted #f00;
}
.decorated-action-link .calendarMonth {
    background: url("resources/defaulttheme/images/icons/calendar_icon_month.png") no-repeat 0 0;
    margin: 4px 5px;
}

.decorated-action-link .calendarWeek {
    background: url("resources/defaulttheme/images/icons/calendar_icon_week.png") no-repeat 0 0;
    margin: 4px 5px;
}

.decorated-action-link .calendarToday {
    background: url("resources/defaulttheme/images/icons/calendar_icon_day.png") no-repeat 0 0;
    margin: 4px 5px;
}

.table-viewer-wrapper>div:nth-of-type(1) {
    position: absolute;
    top: 39px;
    bottom: 0;
    left: 0;
    right: 0;
}

button.add-btn-table-viewer {
    margin: 5px;
    width: 27px;
    height: 27px;
    border: 1px solid #dfe2e5;
}

.add-btn-table-viewer:hover {
    border: 1px solid #d6d9dc;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .15);
    box-shadow: 0 1px 0 rgba(0, 0, 0, .15);
}

.add-btn-table-viewer:active {
    -webkit-box-shadow: inset 0 2px 0 rgba(0, 0, 0, .15);
    box-shadow: inset 0 2px 0 rgba(0, 0, 0, .15);
}

div.edit-btn-table-viewer {
    cursor: pointer;
}

.edit-btn-table-viewer:hover {
    border: 1px solid #d6d9dc;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .15);
    box-shadow: 0 1px 0 rgba(0, 0, 0, .15);
}

.edit-btn-table-viewer:active {
    -webkit-box-shadow: inset 0 2px 0 rgba(0, 0, 0, .15);
    box-shadow: inset 0 2px 0 rgba(0, 0, 0, .15);
}

div.delete-btn-table-viewer {
    cursor: pointer;
    background-image: url(css/icons/icon-delete-widget.png);
    background-position: 1px center;
}

.delete-btn-table-viewer:hover {
    border: 1px solid #d6d9dc;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .15);
    box-shadow: 0 1px 0 rgba(0, 0, 0, .15);
}

.delete-btn-table-viewer:active {
    -webkit-box-shadow: inset 0 2px 0 rgba(0, 0, 0, .15);
    box-shadow: inset 0 2px 0 rgba(0, 0, 0, .15);
}

.panel-show {
    display: block;
}

.panel-hide {
    display: none;
}

.wrapPluginManager {
    margin: 15px;
}

.wrapPluginManager
.attachmentPluginButtonsPanel {
    width: 50%;
}

.cellTable th {
    border-bottom: 2px solid #6f7277;
    padding: 3px 15px;
    color: #4b4a4a;
    text-shadow: #ddf 1px 1px 0;
    overflow: hidden;
    text-align: center;
    text-transform: capitalize;
}

.cellTable {
    margin-top: 5px;
}

.wrapPluginManager .gwt-Button {
    display: inline-block;
    margin: 10px 5px 10px 5px;
    padding: 6px 9px;
    border: 1px solid #016cad;
    border-radius: 3px;
    background: #0874b6;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #0874b6 0%, #016cad 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0874b6), color-stop(100%, #016cad));
    background: -webkit-linear-gradient(top, #0874b6 0%, #016cad 100%);
    background: -o-linear-gradient(top, #0874b6 0%, #016cad 100%);
    background: -ms-linear-gradient(top, #0874b6 0%, #016cad 100%);
    background: linear-gradient(to bottom, #0874b6 0%, #016cad 100%);
    color: #f1f1f1;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0874b6', endColorstr='#016cad', GradientType=0);
    cursor: pointer;
}

.wrapPluginManager .gwt-Button:hover {
    border: 1px solid #0874b6;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .15);
    box-shadow: 0 1px 0 rgba(0, 0, 0, .15);
    color: #ffffff;
    text-shadow: none;
}

.wrapPluginManager .gwt-Button:active {
    background: #0874b6;
    background: -webkit-linear-gradient(top, #0d7bbe, #0874b6);
    background: linear-gradient(top, #0d7bbe, #0874b6);
    -webkit-box-shadow: inset 0 2px 0 rgba(0, 0, 0, .15);
    box-shadow: inset 0 2px 0 rgba(0, 0, 0, .15);
    color: rgba(255, 255, 255, 0.8);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#0d7bbe, endColorstr=#0874b6, GradientType=1) /*#eeeeee*/;
}

button.btn-perform {
    background: url("resources/defaulttheme/images/icons/icon-perform.png") no-repeat;
    background-size: 16px;
    background-position: center;
}

button.btn-perform-disabled.add-btn-table-viewer {
    background: url("resources/defaulttheme/images/icons/icon-perform-disable.png") no-repeat;
    background-size: 16px;
    background-position: center;
    cursor: auto;
}

button.btn-perform-disabled.add-btn-table-viewer:hover {
    border: 1px solid #dfe2e5;
    box-shadow: none;
}

button.btn-update {
    background: url("resources/defaulttheme/images/icons/icon-update.png") no-repeat;
    background-size: 15px;
    background-position: center;
}

.wrapPluginManager
.facebook-main-box:empty {
    display: none !important;
}

[class*="cellTableKeyboardSelectedRow"] {
    background: #FFC !important;
}

[class*="cellTableKeyboardSelectedRowCell"] {
    border: 2px solid #FFC !important;
}

[class*="cellTableKeyboardSelectedCell"] {
    border: 2px solid #d7dde8 !important;
}

[class*="cellTableWidget"] {
    border-collapse: separate !important;
}

.cellTable th:not(:last-child) {
    border-right: 2px solid transparent;
}

.start-time,
.finish-time {
    white-space: nowrap;
}

.download-log button {
    margin: 5px;
    width: 27px;
    height: 27px;
    border: 1px solid #dfe2e5;
    border-radius: 3px;
    background: url("resources/defaulttheme/images/icons/icon-log.png") no-repeat;
    background-size: 18px;
    background-position: center;
    background-color: #f5f5f5;
}

.download-log button:hover {
    cursor: pointer;
    border: 1px solid #d6d9dc;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .15);
    box-shadow: 0 1px 0 rgba(0, 0, 0, .15);
}

.download-log button:active {
    -webkit-box-shadow: inset 0 2px 0 rgba(0, 0, 0, .15);
    box-shadow: inset 0 2px 0 rgba(0, 0, 0, .15);
}

.cellTable {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 79vw;
    height: 400px;
}
.cellTable thead {
    flex: 0 0 auto;
    width: calc(100% - 0.9em);
}
.cellTable tbody {
    flex: 1 1 auto;
    display: block;
    overflow-y: scroll;
}

.cellTable tbody td:not(:first-child) {
    text-align:center

}

.cellTable tbody td:first-child, .cellTable thead th:first-child {
    width: 20px;

}
.cellTable tbody tr {
    width: 100%;
}
.cellTable thead,
.cellTable tbody tr {
    display: table;
    table-layout: fixed;
}

.cellTable tbody td{
    word-wrap: break-word
}
