.topMenuButtonsWrapper {
    box-sizing: border-box;
    display: inline-block;
    padding: 5px 0 18px 5px
}

.topMenuButtonsWrapper tbody tr td:first-of-type div {
    border-left: none;
}

.topMenuButtonText {
    display: inline-block;
    padding: 0 5px;
}

.buttonSaveTemplate>.topMenuButton:hover>.topMenuButtonText {
    text-decoration: underline !important;
}

.topMenuButton {
    background: transparent;
    padding: 5px 10px;
    border: 1px solid;
    cursor: pointer;
    border-color: transparent transparent transparent #f1f1f1;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}
.topMenuButton img {
    position: relative;
    top: 5px;
}

.bildControlPanel {
    width: 44% !important;
    margin: 15px;
}

.bildControlPanel tr>td:last-of-type  {
    width: 18%;
}

.bildControlPanel tr>td:nth-of-type(1)  {
    width: 25%;
}

.bildControlPanel tr>td:nth-of-type(2)  {
    width: 3%;
}

.bildControlPanel tr>td:nth-of-type(3)  {
    width: 30%;
    text-align: right;
    padding-right: 10px;
}

.bildControlPanel  .gwt-ListBox {
    float: right;
    margin: 5px;
    min-width: 53px;
}

.bildControlPanel  .gwt-Label {
    white-space: nowrap;
    text-decoration: none;
}

.bildControlPanel input[type=text] {
    height: 40px;
    width: 100px;
    margin: 5px 10px 5px -4px;
    text-indent: 10px;
    border: 1px solid #ccc;
}
.cacheCleaningTable {
    text-align: right;
    margin: 0 0 13px 13px;
}

.cacheCleaningTable td {
    padding: 10px !important;
    border: 1px solid #000;
}

.cacheCleaningTable tr:nth-child(3)>td:nth-child(1) {
    /*padding: 10px 69px 10px 10px !important;*/
}

.cacheCleaningTable tr:nth-child(2) {
    font-weight: bold;
}

.cacheCleaningTable tr:nth-child(1) {
    font-weight: bold;
}

.cacheCleaningTable tr>td:nth-child(1) {
    text-align: left;
}

.cacheCleaningTable tr:nth-child(1)>td,
.cacheCleaningTable tr:nth-child(2)>td,
.cacheCleaningTable tr:nth-child(3)>td,
.cacheCleaningTable tr:nth-child(4)>td,
.cacheCleaningTable tr:nth-child(22)>td {
    text-align: center;
}

.cacheCleaningTable tr:nth-child(21)>td:nth-child(1),
.cacheCleaningTable tr:nth-child(31)>td:nth-child(1),
.cacheCleaningTable tr:nth-child(33)>td:nth-child(1) {
    font-weight: bold;
}

.cacheCleaningTable tr:nth-child(21)>td,
.cacheCleaningTable tr:nth-child(31)>td,
.cacheCleaningTable tr:nth-child(33)>td {
    color: red;
}

.shortStatGrid .gwt-Label {
    text-decoration: none;
}

.shortStatGrid tr>td:nth-child(2) {
    width: 26%;
}

.shortStatGrid tr>td:nth-child(4) {
    width: 26%;
}

.shortStatGrid {
    margin: 15px 0 22px 13px;
}

.shortStatGrid td {
    border: 1px solid #000;
}

.statPanelRoot {
    overflow: auto !important;
    height: 83vh !important;
    margin-bottom: 17vh;
}

.controlAlert {
    border: 1px solid #DDD;
    margin: 10px;
    width: 44%;
}

.controlAlert .gwt-Label {
    text-decoration: none;
    line-height: 17px;
    margin: 10px;
}

.balancerControl .topMenuButton img {
    width: 24px;
}

.balancerControl .topMenuButton {
    display: flex;
    align-items: flex-end;
}

.tabPanel .topMenuButton {
    display: flex;
    align-items: flex-end;
}

.balancerControl .topMenuButton:hover .topMenuButtonText {
    color: #6f6f6f;
    transition: color .3s;
}

.tabPanel .topMenuButton:hover .topMenuButtonText {
    color: #6f6f6f;
    transition: color .3s;
}

.balancerControl .cacheCleaningTable tr:nth-child(2) {
    font-weight: normal;
}

.tabPanel .cacheCleaningTable tr:nth-child(2) {
    font-weight: normal;
}

.normal-condition {
    color: #81c784;
}

.failure-condition {
    color: #ff8a80;
}

.problem-condition {
    color: #dce775;
}



