.hierarh-browser-inline {
    /*margin-left: 10px;*/
    display: block;
    position: relative;
    vertical-align: top;
}

table.hierarh-browser-inline td {
    vertical-align: bottom !important;
}

.float-right {
    margin-left: 10px;
    float: right;
    position: relative;
}

.bottom-align {
    vertical-align: bottom;
    position: absolute;
    bottom: 5px;
}

.composite-button {
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 3px;
    font: 13px Arial;
    color: grey;
    border-radius: 5px;
    white-space: nowrap;
    box-shadow: 1px 1px 2px 1px #999;
    background: #fff;
}

.hierarh-browser-button {
    margin: 5px 5px 3px 5px;
    display: inline-block;
    position: relative;
}

.hierarchyBrowserBorder {
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    margin: 6px 6px 0 0;
    min-height: 15px;
    min-width: 155px;
    overflow-x: hidden;
    padding: 5px 3px 3px 3px;
}

.hierarh-browser-border .facebook-main-box {
    margin: 0;
}

.hierarh-browser-inline-margin-left {
    padding-left: 3px;
    display: inline-block;
    position: relative;
}

.hierarh-browser-margin-left {
    margin-right: 2px;
}

.button-refresh {
    margin: 4px 2px 2px 5px;
    color: grey;
    border-radius: 3px;
    white-space: nowrap;
    padding: 12px;
    box-shadow: 1px 1px 2px 1px #999;
    background: url(images/refresh.gif) no-repeat #fff center center;
}

.oneNodeScroll {
    border-collapse: separate !important;
    border-spacing: 0px !important;
    overflow-x: hidden;
    background: #fff;
    border: 2px solid #FFA500;
    width: 100%;
    margin-right: 50px;
}

.popup-body {
    background: #356a9e;
    padding: 2px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    border: 4px solid #C0C0C0;
    z-index: 25;

}

.popup-chosen-content {
    background: #ffffff;
    border-radius: 1px;
    margin: 0 8px 5px 6px;
    overflow-x: hidden;
    padding: 5px 5px 8px 0;
}

.white-background {
    background: #fff;
}

.grey-background {
    background: #DCDCDC;
    margin-left: 6px;
    margin-right: 3px;
}

.hierarchyBrowserNode {
    /*background: #DCDCDC;*/
    padding-right: 4px;
}

.one-node-body {
    width: 100%;
}

.bottom-popup-button {
    border: 0;
    border-radius: 10px;
    white-space: nowrap;
    margin-right: 7px;
    background: #5e8ee4; /* Old browsers */
    background: -moz-linear-gradient(top, #5e8ee4 0%, #4173c9 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5e8ee4), color-stop(100%, #4173c9)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #5e8ee4 0%, #4173c9 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #5e8ee4 0%, #4173c9 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #5e8ee4 0%, #4173c9 100%); /* IE10+ */
    background: linear-gradient(to bottom, #5e8ee4 0%, #4173c9 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5e8ee4', endColorstr='#4173c9', GradientType=0); /* IE6-9 */
    box-shadow: 0 2px 2px #000;
    text-decoration: none;
    color: #000;
    font: 13px Tahoma, Arial !important;
    padding: 3px 7px;

}

.bottom-popup-button:hover {
    background: #5e84da; /* Old browsers */
    background: -moz-linear-gradient(top, #5e84da 0%, #416cc2 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5e84da), color-stop(100%, #416cc2)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #5e84da 0%, #416cc2 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #5e84da 0%, #416cc2 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #5e84da 0%, #416cc2 100%); /* IE10+ */
    background: linear-gradient(to bottom, #5e84da 0%, #416cc2 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5e8ee4', endColorstr='#4173c9', GradientType=0); /* IE6-9 */
    color: #fff;
}

.bottom-popup-button:active {
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.bottom-popup-buttons-panel {
    display: inline-block;
    position: absolute;
    margin: 10px 0 10px 5px;
}

.bottom-popup-buttons-panel td {
    white-space: nowrap; /* запрещение переноса в ячейках*/
    padding: 2px;
}

.node-link {
    margin-left: 7px;
    margin-top: 2px;
    border-bottom: 1px dotted #356A9E;
}

.node-item-link {
    border-bottom: 1px dotted black;
}

.header-title {
    color: #fff;
    font: 18px Arial !important;
    margin: 0 0 10px 5px;
}

.node-section {
    background: #DCDCDC;
    border-bottom: 7px solid #dcdcdc;
    border-right: 7px solid #dcdcdc;
    width: 100%;
}

.button-extra-style {
    cursor: pointer;
    padding: 0 5px;
}

.button-extra-style img,
.button-extra-style div.gwt-Label {
    display: inline-block;
}

.node-section-scroll {
    display: block;
    overflow-x: auto;
    padding-right: 5px;
}

.search-bar {
    margin: 5px 2px 0 2px;
    white-space: nowrap;
    width: 100%;
    vertical-align: middle;
    display: inline-block;
}

.magnifier {
    border: 2px solid #AFBCC3;
    border-right: none;
    background-color: #fff;
    -moz-border-top-left-radius: 5px 5px;
    -moz-border-bottom-left-radius: 5px 5px;
-webkit-border( top-right-radius : 5 px 5 px );
-webkit-border( bottom-right-radius : 5 px 5 px );
    border-top-left-radius: 3px 3px;
    border-bottom-left-radius: 3px 3px;
    padding: 2px;
    width: 14px;
    float: left;
    display: table-cell;
    vertical-align: middle;
}

.magnifier img {
    padding: 3px 2px 0px 1px;
}

.input-text {
    border: 2px solid #AFBCC3;
    border-radius: 0 5px 5px 0;
    box-sizing: border-box;
    color: #1F76A5;
    height: 25px;
    margin-right: 8px;
    padding: 2px 2px 3px 4px;
    width: 97%;
}

/* .input-text Placeholders style */
.input-text::-webkit-input-placeholder {
    color: #91A0BB;
    line-height: 13px;
}

.input-text:-moz-placeholder { /* Firefox 18- */
    color: #91A0BB;
    line-height: 13px;
}

.input-text::-moz-placeholder {  /* Firefox 19+ */
    color: #91A0BB;
    line-height: 13px;
}

.input-text:-ms-input-placeholder {
    color: #91A0BB;
    line-height: 13px;
}
/* end .input-text Placeholders style */

.selected-node-link {
    width: 100%;
    padding: 7px 0 5px;
    /* background: #356a9e; */
    display: block;
    vertical-align: middle;
}

.link-arrow {
    float: right;
    padding: 2px 0 0 5px;
    vertical-align: middle;
}

.selected-node-link td {
    vertical-align: middle;
}

.selected-node-link a {
    color: #356A9E;
}

.reset-button {
    vertical-align: middle;
}

.reset-button-panel {
    width: 14px;
}

.node-item-row {
    width: 100%;
}

.node-item-row:hover {
    cursor: pointer;
}

.node-item-row-active {
    background: #356a9e;
    color: #fff !important;
    border-bottom: 1px dotted #fff;
}

.reset-button:hover {
    cursor: pointer;
}

.button-refresh:hover {
    cursor: pointer;
}

.magnifier:hover {
    cursor: pointer;
}

.composite-button {
    cursor: pointer;
}

.node-link:hover {
    cursor: pointer;
}

.hierar-clear-button {
}

.hierar-add-button {
}

.decorated-right-div > table tr {
    margin: 5px 0;
}

.hierarchyBrowserMainBox {
    color: #000;
    background: rgba(255, 255, 255, 0.70);
    /*padding: 1px 2px;*/
    /*margin: 5px;*/
}

.hierarchyBrowserElement {
    display: inline-block;
}

.hierarchyBrowserElement .hierarchyBrowserLabel {
    padding: 5px 7px;
    margin: 0 5px 0 0;
    background: #f1f1f1;
    display: inline-block;
    border-radius: 5px;
    border: 1px solid #f1f1f1;
    cursor: pointer;
}

.highlightedHierarchyBrowserElement .hierarchyBrowserLabel {
    color: white;
    padding: 5px 25px 5px 7px;
    margin: 5px;
    background: deepskyblue;
    display: inline-block;
    border-radius: 5px;
    border: 1px solid #f1f1f1;
    cursor: pointer;
}
.hierarchyBrowserElement .facebook-btn {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0) !important;
    background-image: url(css/icons/icons.png);
    background-origin: padding-box;
    background-position: left top;
    background-repeat: no-repeat;
    background-size: auto auto;
    cursor: pointer;
    display: inline-block;
    height: 15px;
    padding: 0 !important;
    position: relative;
    vertical-align: middle;
    width: 15px;

}
.highlightedHierarchyBrowserElement .facebook-btn {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0) !important;
    background-image: url(css/icons/icons.png);
    background-origin: padding-box;
    background-position: left top;
    background-repeat: no-repeat;
    background-size: auto auto;
    cursor: pointer;
    display: inline-block;
    height: 15px;
    padding: 0 !important;
    position: relative;
    vertical-align: middle;
    width: 15px;

}

.hBArrowRight {
    float: right;
    margin-right: 2px;
}

.hierarchyBrowserElement .facebook-btn:hover {
    background-position: -16px 0;
}

.hierarchyBrowserLabel {

    padding: 5px !important;
}
.clickableHierarchyLabel {
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
    padding: 8px;
}

.notClickableHierarchyLabel {
    cursor: default;
    font-weight: bold;
    padding: 8px;
}
.clearHyperlinkAttributes{
    text-decoration: none !important;
    cursor: default !important;

}
.hierarchyLinksSection {
    table-layout: fixed;
    overflow: hidden;
    white-space: nowrap;
}

.mainPopupContent {
    width: 100%;
    height: 100%;
    margin-right: 5px;
}

.verifySignaturePopup {
    z-index: 105;
}

.hierarh-browser-wrapper td:nth-child(1) {
    width: 94%;
}
.hierarh-browser-wrapper td:nth-child(2) {
    width: 2%;
}
.hierarh-browser-wrapper td:nth-child(3) {
    width: 2%;
}