/*.gwt-SuggestBox*/
/*{*/
/*border:1px solid #eeeeee !important!important;*/
/*text-align:left !important;*/
/*width:800px !important;*/
/*z-index:91;*/
/*overflow:visible;*/
/*left: 336px;*/
/*top: 25px;*/
/*position:absolute;*/
/*}*/
/*.gwt-SuggestBoxPopup*/
/*{*/
/*text-align:left !important;*/
/*cursor:pointer !important;*/
/*cursor:hand !important;*/
/*border:1px solid #666 !important;*/
/*border-top:0 !important;*/
/*background-color:#fff !important;*/
/*width:800px !important;*/
/*}*/
/*.gwt-SuggestBoxPopup .item*/
/*{*/
/*border:1px solid #f00 !important;*/
/*width:800px !important;*/
/*}*/
/*.gwt-SuggestBoxPopup .item-selected*/
/*{*/
/*background-color:#ffc !important;*/
/*}*/

/*.gwt-SuggestBoxPopup .suggestPopupBottomRight {*/
/*background: red !important;*/
/*height: 5px !important;*/
/*width: 5px !important;*/
/*}*/
/*.gwt-SuggestBoxPopup .suggestPopupBottomLeft {*/
/*background: red !important;*/
/*height: 5px !important;*/
/*width: 5px !important;*/
/*}*/

/*.gwt-SuggestBoxPopup .suggestPopupTopRight {*/
/*background: red !important;*/
/*height: 5px !important;*/
/*width: 5px !important;*/
/*}*/
/*.gwt-SuggestBoxPopup .suggestPopupTopLeft {*/
/*background: red !important;*/
/*height: 5px !important;*/
/*width: 5px !important;*/
/*}*/

.gwt-SuggestBox {
}

.popupMiddleLeft,
.popupMiddleRight,
.popupBottom,
.popupTop {
    display: none;
}

.gwt-SuggestBoxPopup {
    margin-left: 0 !important;
}

.gwt-SuggestBoxPopup .popupMiddleCenterInner table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 6px 2px;
}

/*
.gwt-SuggestBoxPopup .suggestPopupMiddleCenterInner {
    width: 207px;
}
*/

.gwt-SuggestBoxPopup .item {
    color: #000 !important;
    cursor: default !important;
    height: 13px;
    padding: 5px 6px !important;
    border: 1px solid transparent;

}

.gwt-SuggestBoxPopup .item-selected {
    /*background: #d5e2ff !important;*/
    background: #ededed !important;
    border: 1px solid #cdcdcd;
    cursor: pointer !important;
    /*border: 1px solid #d5e2ff;*/
}

.gwt-SuggestBoxPopup .popupContent {
    background: white !important;
    /*border: 1px solid #7f9db9;*/
    padding: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0, .3);
    /*background: white;*/
    border: 1px solid #ccc;
    z-index: 100;
}

.gwt-SuggestBoxPopup .popupTopCenter {
    border-top: 1px solid #bbb !important;
}

.gwt-SuggestBoxPopup .popupBottomCenter {
    border-bottom: 1px solid #bbb !important;
}

.gwt-SuggestBoxPopup .popupTopCenterInner,
.gwt-SuggestBoxPopup .popupBottomCenterInner {
    height: 1px !important;
    line-height: 1px !important;
}

.gwt-SuggestBoxPopup .popupMiddleLeft {
    border-left: 1px solid #bbb !important;
}

.gwt-SuggestBoxPopup .popupMiddleRight {
    border-right: 1px solid #bbb !important;
}

.gwt-SuggestBoxPopup .popupMiddleLeftInner,
.gwt-SuggestBoxPopup .popupMiddleRightInner {
    width: 1px !important;
    line-height: 1px !important;
}

.gwt-SuggestBoxPopup .popupTopLeftInner {
    width: 0px !important;
    height: 0px !important;
    zoom: 1 !important;
}

.gwt-SuggestBoxPopup .popupTopRightInner {
    width: 0px !important;
    height: 0px !important;
    zoom: 1 !important;
}

.gwt-SuggestBoxPopup .popupBottomLeftInner {
    width: 0px !important;
    height: 0px !important;
    zoom: 1 !important;
}

.gwt-SuggestBoxPopup .popupBottomRightInner {
    width: 0px !important;
    height: 0px !important;
    zoom: 1 !important;
}

.gwt-SuggestBoxPopup .popupTopLeft {
    width: 5px !important;
    height: 5px !important;
    background: url(images/circles.png) no-repeat 0px -6px !important;
    -background: url(images/circles_ie6.png) no-repeat 0px -6px !important;
}

.gwt-SuggestBoxPopup .popupTopRight {
    width: 5px !important;
    height: 5px !important;
    background: url(images/circles.png) no-repeat -5px -6px !important;
    -background: url(images/circles_ie6.png) no-repeat -5px -6px !important;
}

.gwt-SuggestBoxPopup .popupBottomLeft {
    width: 5px !important;
    height: 5px !important;
    background: url(images/circles.png) no-repeat 0px -11px !important;
    -background: url(images/circles_ie6.png) no-repeat 0px -11px !important;
}

.gwt-SuggestBoxPopup .popupBottomRight {
    width: 5px !important;
    height: 5px !important;
    background: url(images/circles.png) no-repeat -5px -11px !important;
    -background: url(images/circles_ie6.png) no-repeat -5px -11px !important;
}

.gwt-SuggestBoxPopup {
    z-index: 999;
}

* html .gwt-SuggestBoxPopup .popupTopLeftInner {
    overflow: hidden !important;
    width: 0px !important;
    height: 0px !important;
}

* html .gwt-SuggestBoxPopup .popupTopRightInner {
    overflow: hidden !important;
    width: 0px !important;
    height: 0px !important;
}

* html .gwt-SuggestBoxPopup .popupBottomLeftInner {
    overflow: hidden !important;
    width: 0px !important;
    height: 0px !important;
}

* html .gwt-SuggestBoxPopup .popupBottomRightInner {
    overflow: hidden !important;
    width: 0px !important;
    height: 0px !important;
}

.gwt-SuggestBoxPopup table {
    width: 100%;
}

/*.CMJ-suggest-display-popup{*/
/*width: 700px!important;*/
/*background: white!important;*/
/*border-color: black;*/
/*border: 1px;*/
/*}*/

.suggest-container-block {
    min-width: 200px;
    width: 100% !important;
}

.suggest-container-input {
    margin: 5px 0;
    padding-right: 15px;
    min-height: 24px;
    width: 100%;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #000;
    vertical-align: middle;
}

td .gwt-SuggestBox {
    display: inline-block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 7px;
    width: 45px;
    border: none;
    font-family: Arial, sans-serif;
}

.suggestWrapper {
    display: inline-block;
    vertical-align: middle;
}

.gwt-SuggestBoxPopup .popupContent>div {
    width: inherit !important;
    overflow: hidden !important;
    overflow-y: auto !important;
    padding-right: 15px;
    min-height: 56px;
}

.letter-style-90-percent-width .item {
    max-width: 90%;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
}