<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xsi:schemaLocation="
     http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans.xsd
     http://www.springframework.org/schema/jee
     http://www.springframework.org/schema/jee/spring-jee.xsd
     http://www.springframework.org/schema/context
     http://www.springframework.org/schema/context/spring-context.xsd
     http://www.springframework.org/schema/aop
     http://www.springframework.org/schema/aop/spring-aop.xsd
     http://www.springframework.org/schema/cache
     http://www.springframework.org/schema/cache/spring-cache.xsd
     ">

    <cache:annotation-driven cache-manager="platformCacheManager" />

    <!-- generic cache manager -->
    <bean id="platformCacheManager" class="org.springframework.cache.support.SimpleCacheManager">
        <property name="caches">
            <set>
                <bean class="org.springframework.cache.concurrent.ConcurrentMapCacheFactoryBean" p:name="default"/>
                <bean class="org.springframework.cache.concurrent.ConcurrentMapCacheFactoryBean" p:name="persons"/>
            </set>
        </property>
    </bean>

    <aop:aspectj-autoproxy/>

    <context:annotation-config />

    <jee:jndi-lookup id="transactionSynchronizationRegistry"
                     jndi-name="java:comp/TransactionSynchronizationRegistry"
                     expected-type="javax.transaction.TransactionSynchronizationRegistry" />

    <bean id="defaultDataSourcesConfiguration" class="ru.intertrust.cm.core.dao.impl.DefaultDataSourcesConfiguration"/>

    <bean id="currentDataSourceJndiContext" class="ru.intertrust.cm.core.dao.impl.CurrentDataSourceContextImpl"/>

    <bean id="disabledGlobalCacheClient" class="ru.intertrust.cm.core.dao.impl.DisabledGlobalCacheClient"/>

    <bean id="switchableDataSource" class="ru.intertrust.cm.core.dao.impl.JndiRoutingDataSource"
          depends-on="currentDataSourceJndiContext"/>

    <jee:jndi-lookup id="dataSource" jndi-name="${datasource.master:java:jboss/datasources/CM5}"/>
          <!-- lookup-on-startup="false"/> -->

    <bean id="transactionManager"
          class="org.springframework.transaction.jta.JtaTransactionManager" />

    <bean id="sqlLogger"
          class="ru.intertrust.cm.core.dao.impl.SqlLogger" />

    <bean id="databaseInfo"
          class="ru.intertrust.cm.core.dao.impl.DatabaseInfoImpl" />

    <bean id="jdbcTemplate"  class="org.springframework.jdbc.core.JdbcTemplate"
          c:dataSource-ref="dataSource" p:fetchSize="1000"/>

    <bean id="switchableJdbcTemplate"  class="org.springframework.jdbc.core.JdbcTemplate"
          c:dataSource-ref="switchableDataSource" p:fetchSize="1000"/>

    <bean id="masterNamedParameterJdbcTemplate"  class="org.springframework.jdbc.core.namedparam.NamedParameterJdbcTemplate"
          c:classicJdbcTemplate-ref="jdbcTemplate"/>

    <bean id="switchableNamedParameterJdbcTemplate"  class="org.springframework.jdbc.core.namedparam.NamedParameterJdbcTemplate"
          c:classicJdbcTemplate-ref="switchableJdbcTemplate"/>

    <bean id="daoFactoryProducer" class="ru.intertrust.cm.core.dao.impl.DaoFactoryProducer"/>

    <bean id="daoFactory" factory-bean="daoFactoryProducer" factory-method="createDaoFactory"/>

    <bean id="dataStructureDao" factory-bean="daoFactory" factory-method="createDataStructureDao"/>

    <bean id="configurationDao" factory-bean="daoFactory" factory-method="createConfigurationDao"/>

    <bean id="domainObjectTypeIdDao"
          class="ru.intertrust.cm.core.dao.impl.DomainObjectTypeIdDaoImpl"/>

    <bean id="authenticationDao" factory-bean="daoFactory" factory-method="createAuthenticationDao"/>

    <bean id="sequenceIdGenerator" factory-bean="daoFactory" factory-method="createIdGenerator"/>

    <bean id="domainObjectDao" factory-bean="daoFactory" factory-method="createDomainObjectDao"/>

    <bean id="initializationLockDao" factory-bean="daoFactory" factory-method="createInitializationLockDao"/>

    <bean id="collectionsDao" factory-bean="daoFactory" factory-method="createCollectionsDao">
        <property name="globalCacheClient" ref="globalCacheClient"/>
    </bean>

    <bean id="statusDao" factory-bean="daoFactory" factory-method="createStatusDao"/>

    <bean id="personServiceDao" factory-bean="daoFactory" factory-method="createPersonServiceDao"/>

    <bean id="auditServiceDao" factory-bean="daoFactory" factory-method="createAuditLogServiceDao"/>

    <bean id="schedulerDao" factory-bean="daoFactory" factory-method="createSchedulerDao"/>

    <bean id="personManagement" factory-bean="daoFactory" factory-method="createPersonManagementServiceDao"/>

    <bean id="domainObjectQueryHelper" factory-bean="daoFactory" factory-method="createQueryHelper"/>

    <bean id="domainObjectEntitiesCloner" class="ru.intertrust.cm.core.dao.impl.DomainEntitiesClonerImpl"/>

    <bean id="identifiableObjectConverter" class="ru.intertrust.cm.core.dao.impl.utils.IdentifiableObjectConverter"/>

    <bean id="databaseAccessAgent"
          class="ru.intertrust.cm.core.dao.impl.access.PostgresDatabaseAccessAgent"
          p:dataSource-ref="dataSource" />

    <bean id="accessControlService"
          class="ru.intertrust.cm.core.dao.impl.access.AccessControlServiceImpl"
          p:databaseAgent-ref="databaseAccessAgent" />

    <bean id="userTransactionService"
          class="ru.intertrust.cm.core.dao.impl.UserTransactionServiceImpl" />

    <bean id="domainObjectTypeIdCache"
          class="ru.intertrust.cm.core.dao.impl.DomainObjectTypeIdCacheImpl" />

    <bean id="schemaCache"
          class="ru.intertrust.cm.core.dao.impl.SchemaCacheImpl" lazy-init="true"/>

    <bean id="domainObjectCacheService"
          class="ru.intertrust.cm.core.dao.impl.DomainObjectCacheServiceImpl" />

    <bean id="collectionsCacheService"
          class="ru.intertrust.cm.core.dao.impl.CollectionsCacheServiceImpl" />

    <bean id="collectionQueryCache"
          class="ru.intertrust.cm.core.dao.impl.CollectionQueryCacheImpl" init-method="init"/>

    <bean id="userGroupGlobalCache"
          class="ru.intertrust.cm.core.dao.impl.access.UserGroupGlobalCacheImpl" />

    <bean id="extensionService" class="ru.intertrust.cm.core.dao.impl.ExtensionServiceImpl"/>

    <bean id="dynamicGroupService" class="ru.intertrust.cm.core.dao.impl.access.DynamicGroupServiceImpl"/>

    <bean id="permissionServiceDao" class="ru.intertrust.cm.core.dao.impl.access.PermissionServiceDaoImpl"/>

    <bean id="currentUserAccessor"
          class="ru.intertrust.cm.core.dao.impl.CurrentUserAccessorImpl"/>

    <bean id="doelFunctionRegistry" class="ru.intertrust.cm.core.dao.doel.DoelFunctionRegistry"/>

    <bean id="doelResolver" class="ru.intertrust.cm.core.dao.impl.doel.DoelResolver"/>

    <bean id="domainObjectFinderService" class="ru.intertrust.cm.core.dao.impl.DomainObjectFinderServiceImpl" />

    <bean id="fieldConfigChangeHandler" class="ru.intertrust.cm.core.dao.impl.FieldConfigChangeHandlerImpl" />

    <bean id="serverComponentService" class="ru.intertrust.cm.core.dao.impl.ServerComponentServiceImpl"/>

    <bean id="md5Service" class="ru.intertrust.cm.core.dao.impl.MD5ServiceImpl"/>

    <bean id="sqlLoggerEnforcer" class="ru.intertrust.cm.core.dao.impl.SqlLoggerEnforcerImpl"/>

    <bean id="sqlStatisticLogger" class="ru.intertrust.cm.core.dao.impl.SqlStatisticLoggerImpl" scope="singleton"/>

    <bean id="delegatingGlobalCacheClientFactory" class="ru.intertrust.cm.core.dao.impl.DelegatingGlobalCacheClientFactory"/>

    <bean id="globalCacheClient" factory-bean="delegatingGlobalCacheClientFactory" factory-method="getGlobalCacheClient">
        <property name="collectionsDao" ref="collectionsDao"/>
    </bean>

    <bean id="fieldConfigDbValidator" class="ru.intertrust.cm.core.dao.impl.FieldConfigDbValidatorImpl" />

    <bean id="configurationDbValidator" class="ru.intertrust.cm.core.dao.impl.ConfigurationDbValidatorImpl" />
    
    <bean id="interserverLockingDao"  class="ru.intertrust.cm.core.dao.impl.InterserverLockingDaoImpl"/>
    
    <bean id="dynamicGroupSettings"  class="ru.intertrust.cm.core.dao.impl.access.DynamicGroupSettingsImpl"/>
    
    <bean id="serverStatus"  class="ru.intertrust.cm.core.dao.impl.ServerStatusImpl"/>
    
    <bean id="clockImpl"  class="ru.intertrust.cm.core.dao.impl.ClockImpl"/>
    
    <bean id="сlusterManagerDao"  class="ru.intertrust.cm.core.dao.impl.ClusterManagerDaoImpl"/>

    <bean id="clusteredLockDaoImpl"  class="ru.intertrust.cm.core.dao.impl.clusterlock.ClusteredLockDaoImpl"/>

    <bean id="classPathScanService"  class="ru.intertrust.cm.core.dao.impl.ClassPathScanServiceImpl"/>

    <bean id="daoClassPathScanConfig"  class="ru.intertrust.cm.core.dao.impl.ClassPathScanConfig">
        <constructor-arg>
            <array value-type="java.lang.String">
                <value>ru.intertrust.cm.core.dao.api.extension.ExtensionPoint</value>
                <value>ru.intertrust.cm.core.dao.api.component.ServerComponent</value>
                <value>ru.intertrust.cm.core.config.doel.DoelFunction</value>
                <value>ru.intertrust.cm.core.business.api.schedule.ScheduleTask</value>
            </array>
        </constructor-arg>
    </bean>

    <jee:local-slsb id="eventLogService"
                    jndi-name="java:module/EventLogServiceImpl!ru.intertrust.cm.core.dao.api.EventLogService"
                    business-interface="ru.intertrust.cm.core.dao.api.EventLogService"/>
    <jee:local-slsb id="eventLogCleaner"
                    jndi-name="java:module/EventLogCleanerImpl!ru.intertrust.cm.core.dao.api.EventLogCleaner"
                    business-interface="ru.intertrust.cm.core.dao.api.EventLogCleaner"/>

    <jee:local-slsb id="afterCommitExtensionPointService"
                    jndi-name="java:module/AfterCommitExtensionPointService!ru.intertrust.cm.core.dao.impl.extension.AfterCommitExtensionPointService"
                    business-interface="ru.intertrust.cm.core.dao.impl.extension.AfterCommitExtensionPointService"/>

    <jee:local-slsb id="permissionsAfterCommit"
                    jndi-name="java:module/PermissionAfterCommitImpl!ru.intertrust.cm.core.dao.impl.access.PermissionAfterCommit"
                    business-interface="ru.intertrust.cm.core.dao.impl.access.PermissionAfterCommit"/>

    <jee:local-slsb id="statisticsGatherer"
                    jndi-name="java:module/StatisticsGatherer!ru.intertrust.cm.core.dao.api.StatisticsGatherer"
                    business-interface="ru.intertrust.cm.core.dao.api.StatisticsGatherer"/>
                    
    <jee:local-slsb id="ticketService"
                    jndi-name="java:module/TicketService!ru.intertrust.cm.core.dao.api.TicketService"
                    business-interface="ru.intertrust.cm.core.dao.api.TicketService"/>

    <jee:local-slsb id="dynamicGroupProcessor"
                    jndi-name="java:module/DynamicGroupProcessor!ru.intertrust.cm.core.dao.access.DynamicGroupProcessor"
                    business-interface="ru.intertrust.cm.core.dao.access.DynamicGroupProcessor"/>

    <beans profile="default">
        <bean id="attachmentContentDao" class="ru.intertrust.cm.core.dao.impl.attach.AttachmentContentDaoImpl"/>

        <bean id="attachmentStorageConfigHelper" class="ru.intertrust.cm.core.dao.impl.attach.AttachmentStorageConfigHelper"/>
        <bean id="fileTypeDetector" class="ru.intertrust.cm.core.dao.impl.attach.TikaFileTypeDetector"/>
        <bean id="fileDeleteNever" class="ru.intertrust.cm.core.dao.impl.attach.NeverFileDeleteStrategy"/>
        <bean id="fileDeleteImmediate" class="ru.intertrust.cm.core.dao.impl.attach.ImmediateFileDeleteStrategy"/>
        <bean id="fileDeleteDelayed" class="ru.intertrust.cm.core.dao.impl.attach.NeverFileDeleteStrategy"/>
    </beans>

</beans>
