<?xml version="1.0" encoding="UTF-8"?>
<!--suppress SpringModelInspection, SpringModelInspection -->
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:jee="http://www.springframework.org/schema/jee"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
     http://www.springframework.org/schema/context
     http://www.springframework.org/schema/context/spring-context-3.2.xsd
     http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd">

    <context:annotation-config/>

    <aop:aspectj-autoproxy/>

    <bean id="configurationLoader" class="ru.intertrust.cm.core.business.impl.ConfigurationLoader"
          depends-on="springApplicationContext"/>

    <bean id="initialDataLoader" class="ru.intertrust.cm.core.business.impl.InitialDataLoader"
          depends-on="configurationLoader" p:dataSource-ref="dataSource"/>

    <jee:local-slsb id="configurationLoadService"
                    jndi-name="java:module/ConfigurationLoadServiceImpl!ru.intertrust.cm.core.business.api.ConfigurationLoadService"
                    business-interface="ru.intertrust.cm.core.business.api.ConfigurationLoadService"/>

    <jee:local-slsb id="crudService"
                    jndi-name="java:module/CrudServiceImpl!ru.intertrust.cm.core.business.api.CrudService"
                    business-interface="ru.intertrust.cm.core.business.api.CrudService"/>
    <jee:local-slsb id="auditService"
                    jndi-name="java:module/AuditService!ru.intertrust.cm.core.business.api.AuditService"
                    business-interface="ru.intertrust.cm.core.business.api.AuditService"/>
    <jee:local-slsb id="personManagementService"
                    jndi-name="java:module/PersonManagementService!ru.intertrust.cm.core.business.api.PersonManagementService"
                    business-interface="ru.intertrust.cm.core.business.api.PersonManagementService"/>
    <jee:local-slsb id="collectionsService"
                    jndi-name="java:module/CollectionsServiceImpl!ru.intertrust.cm.core.business.api.CollectionsService"
                    business-interface="ru.intertrust.cm.core.business.api.CollectionsService"/>
    <jee:local-slsb id="processService"
                    jndi-name="java:module/ProcessService!ru.intertrust.cm.core.business.api.ProcessService"
                    business-interface="ru.intertrust.cm.core.business.api.ProcessService"/>
    <jee:local-slsb id="configurationService"
                    jndi-name="java:module/ConfigurationServiceImpl!ru.intertrust.cm.core.business.api.ConfigurationService"
                    business-interface="ru.intertrust.cm.core.business.api.ConfigurationService"/>
    <jee:local-slsb id="configurationControlService"
                    jndi-name="java:module/ConfigurationControlServiceImpl!ru.intertrust.cm.core.business.api.ConfigurationControlService"
                    business-interface="ru.intertrust.cm.core.business.api.ConfigurationControlService"/>
    <jee:local-slsb id="localAttachmentService"
                    jndi-name="java:module/LocalAttachmentServiceImpl!ru.intertrust.cm.core.business.api.AttachmentService"
                    business-interface="ru.intertrust.cm.core.business.api.AttachmentService"/>
    <jee:local-slsb id="remoteAttachmentService"
                    jndi-name="java:module/RemoteAttachmentServiceImpl!ru.intertrust.cm.core.business.api.AttachmentService$Remote"
                    business-interface="ru.intertrust.cm.core.business.api.AttachmentService.Remote"/>
    <jee:local-slsb id="searchService"
                    jndi-name="java:module/SearchService!ru.intertrust.cm.core.business.api.SearchService"
                    business-interface="ru.intertrust.cm.core.business.api.SearchService"/>
    <jee:local-slsb id="personService"
                    jndi-name="java:module/PersonService!ru.intertrust.cm.core.business.api.PersonService"
                    business-interface="ru.intertrust.cm.core.business.api.PersonService"/>
    <jee:local-slsb id="notificationService"
                    jndi-name="java:module/NotificationService!ru.intertrust.cm.core.business.api.NotificationService"
                    business-interface="ru.intertrust.cm.core.business.api.NotificationService"/>
    <jee:local-slsb id="reportService"
                    jndi-name="java:module/ReportService!ru.intertrust.cm.core.business.api.ReportService"
                    business-interface="ru.intertrust.cm.core.business.api.ReportService"/>
    <jee:local-slsb id="reportServiceAdmin"
                    jndi-name="java:module/ReportServiceAdmin!ru.intertrust.cm.core.business.api.ReportServiceAdmin"
                    business-interface="ru.intertrust.cm.core.business.api.ReportServiceAdmin"/>
    <jee:local-slsb id="profileService"
                    jndi-name="java:module/ProfileService!ru.intertrust.cm.core.business.api.ProfileService"
                    business-interface="ru.intertrust.cm.core.business.api.ProfileService"/>

    <bean id="authenticationService"
          class="ru.intertrust.cm.core.business.impl.AuthenticationServiceImpl"
          p:authenticationDao-ref="authenticationDao" p:md5Service-ref="md5Service"
          p:domainObjectDao-ref="domainObjectDao"/>

    <bean id="md5Service" class="ru.intertrust.cm.core.business.impl.MD5ServiceImpl"/>


    <bean id="attachmentCleaner" class="ru.intertrust.cm.core.business.impl.AttachmentCleaner"/>

    <bean id="sheduleTaskLoader" class="ru.intertrust.cm.core.business.shedule.SheduleTaskLoader"/>

    <bean id="importSystemData" class="ru.intertrust.cm.core.business.load.ImportSystemData"/>

    <bean id="importReportsData" class="ru.intertrust.cm.core.business.load.ImportReportsData">
        <property name="reportServiceAdmin">
            <bean id="reportServiceAdmin"
                  class="ru.intertrust.cm.core.business.impl.ReportServiceAdminImpl">
                <property name="attachmentService">
                    <bean class="ru.intertrust.cm.core.business.impl.LocalAttachmentServiceImpl">
                        <property name="crudService">
                            <!-- todo EJB should not be defined as Spring bean -->
                            <bean class="ru.intertrust.cm.core.business.impl.CrudServiceImpl"/>
                        </property>
                    </bean>
                </property>
            </bean>
        </property>
    </bean>


    <!-- Интеграция с Activiti -->
    <bean id="processEngineConfiguration" class="org.activiti.spring.SpringProcessEngineConfiguration">
        <property name="dataSource" ref="dataSource"/>
        <property name="transactionManager" ref="transactionManager"/>
        <property name="databaseSchemaUpdate" value="true"/>
        <property name="jobExecutorActivate" value="false"/>
        <property name="history" value="full"/>
        <property name="customDefaultBpmnParseHandlers">
            <list>
                <bean class="ru.intertrust.cm.core.process.CustomUserTaskParseHandler"/>
            </list>
        </property>
    </bean>

    <bean id="processEngine" class="org.activiti.spring.ProcessEngineFactoryBean">
        <property name="processEngineConfiguration" ref="processEngineConfiguration"/>
    </bean>

    <bean id="repositoryService" factory-bean="processEngine" factory-method="getRepositoryService"/>
    <bean id="runtimeService" factory-bean="processEngine" factory-method="getRuntimeService"/>
    <bean id="taskService" factory-bean="processEngine" factory-method="getTaskService"/>
    <bean id="historyService" factory-bean="processEngine" factory-method="getHistoryService"/>
    <bean id="managementService" factory-bean="processEngine" factory-method="getManagementService"/>
    <bean id="formService" factory-bean="processEngine" factory-method="getFormService"/>
    <!-- Интеграция с Activiti -->

    <!--<bean id="searchService" class="ru.intertrust.cm.core.business.impl.search.SearchServiceImpl"/>-->

    <bean id="solrServer"
          class="ru.intertrust.cm.core.business.impl.search.SolrServerFactory"/>
    <!-- factory-method="getSolrServer"/> -->

    <bean id="solrUpdateQueue" class="ru.intertrust.cm.core.business.impl.search.SolrUpdateRequestQueue"/>

    <bean id="searchConfigHelper" class="ru.intertrust.cm.core.business.impl.search.SearchConfigHelper"/>

    <bean id="searchFilterImplementorFactory" class="ru.intertrust.cm.core.business.impl.search.ImplementorFactory">
        <property name="implementors">
            <map>
                <entry key="ru.intertrust.cm.core.business.api.dto.TextSearchFilter"
                       value="ru.intertrust.cm.core.business.impl.search.TextFilterAdapter"/>
                <entry key="ru.intertrust.cm.core.business.api.dto.DatePeriodFilter"
                       value="ru.intertrust.cm.core.business.impl.search.DatePeriodFilterAdapter"/>
                <entry key="ru.intertrust.cm.core.business.api.dto.NumberRangeFilter"
                       value="ru.intertrust.cm.core.business.impl.search.NumberRangeFilterAdapter"/>
                <entry key="ru.intertrust.cm.core.business.api.dto.OneOfListFilter"
                       value="ru.intertrust.cm.core.business.impl.search.OneOfListFilterAdapter"/>
                <entry key="ru.intertrust.cm.core.business.api.dto.EmptyValueFilter"
                       value="ru.intertrust.cm.core.business.impl.search.EmptyValueFilterAdapter"/>
                <entry key="ru.intertrust.cm.core.business.api.dto.NegativeFilter"
                       value="ru.intertrust.cm.core.business.impl.search.NegativeFilterAdapter"/>
                <entry key="ru.intertrust.cm.core.business.api.dto.CombiningFilter"
                       value="ru.intertrust.cm.core.business.impl.search.CombiningFilterAdapter"/>
            </map>
        </property>
    </bean>

    <bean id="notificationTextFormer"
          class="ru.intertrust.cm.core.business.impl.NotificationTextFormerImpl"/>

    <bean id="urlFormer"
          class="ru.intertrust.cm.core.business.impl.UrlFormerImpl"/>

    <bean id="notificationChannelLoader"
          class="ru.intertrust.cm.core.business.impl.NotificationChannelLoaderImpl" init-method="init"/>

    <bean id="notificationChannelSelector"
          class="ru.intertrust.cm.core.business.impl.NotificationChannelSelectorImpl"/>

    <bean id="eventTrigger" class="ru.intertrust.cm.core.business.impl.EventTriggerImpl"/>

    <bean id="scriptService" class="ru.intertrust.cm.core.business.impl.JavaScriptServiceImpl"/>

    <bean id="mailSender" class="ru.intertrust.cm.core.business.impl.notification.MailSenderWrapper"/>
        
    <bean id="javaClassDomainObjectFilter" class="ru.intertrust.cm.core.business.impl.search.JavaClassDomainObjectFilter"/>
    <bean id="sqlQueryDomainObjectFilter" class="ru.intertrust.cm.core.business.impl.search.SqlQueryDomainObjectFilter"/>
    <bean id="conditionsScriptDomainObjectFilter" class="ru.intertrust.cm.core.business.impl.search.ConditionsScriptDomainObjectFilter"/>
    
</beans>