<?xml version="1.0" encoding="UTF-8"?>
<!--suppress SpringModelInspection, SpringModelInspection -->
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:jee="http://www.springframework.org/schema/jee"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
     http://www.springframework.org/schema/context
     http://www.springframework.org/schema/context/spring-context-3.2.xsd
     http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd">

    <context:annotation-config/>

    <aop:aspectj-autoproxy/>

    <bean id="configurationLoader" class="ru.intertrust.cm.core.business.impl.ConfigurationLoader" init-method="load"
          depends-on="springApplicationContext"/>

    <bean id="initialDataLoader" class="ru.intertrust.cm.core.business.impl.InitialDataLoader" init-method="load"
          depends-on="configurationLoader" p:dataSource-ref="dataSource"/>

    <bean id="configurationControlService"
          class="ru.intertrust.cm.core.business.impl.ConfigurationControlServiceImpl"/>

    <jee:local-slsb id="crudService"
                    jndi-name="java:module/CrudServiceImpl!ru.intertrust.cm.core.business.api.CrudService$Remote"
                    business-interface="ru.intertrust.cm.core.business.api.CrudService"/>
    <jee:local-slsb id="auditService"
                    jndi-name="java:module/AuditService!ru.intertrust.cm.core.business.api.AuditService$Remote"
                    business-interface="ru.intertrust.cm.core.business.api.AuditService"/>
    <jee:local-slsb id="personManagementService"
                    jndi-name="java:module/PersonManagementService!ru.intertrust.cm.core.business.api.PersonManagementService"
                    business-interface="ru.intertrust.cm.core.business.api.PersonManagementService"/>
    <jee:local-slsb id="collectionsService"
                    jndi-name="java:module/CollectionsServiceImpl!ru.intertrust.cm.core.business.api.CollectionsService"
                    business-interface="ru.intertrust.cm.core.business.api.CollectionsService"/>
    <jee:local-slsb id="processService"
                    jndi-name="java:module/ProcessService!ru.intertrust.cm.core.business.api.ProcessService"
                    business-interface="ru.intertrust.cm.core.business.api.ProcessService"/>
    <jee:local-slsb id="configurationService"
                    jndi-name="java:module/ConfigurationServiceImpl!ru.intertrust.cm.core.business.api.ConfigurationService"
                    business-interface="ru.intertrust.cm.core.business.api.ConfigurationService"/>
    <jee:local-slsb id="attachmentService"
                    jndi-name="java:module/AttachmentServiceImpl!ru.intertrust.cm.core.business.api.AttachmentService"
                    business-interface="ru.intertrust.cm.core.business.api.AttachmentService"/>
    <jee:local-slsb id="searchService"
                    jndi-name="java:module/SearchService!ru.intertrust.cm.core.business.api.SearchService"
                    business-interface="ru.intertrust.cm.core.business.api.SearchService"/>
    <jee:local-slsb id="personService"
                    jndi-name="java:module/PersonService!ru.intertrust.cm.core.business.api.PersonService"
                    business-interface="ru.intertrust.cm.core.business.api.PersonService"/>

    <bean id="authenticationService"
          class="ru.intertrust.cm.core.business.impl.AuthenticationServiceImpl"
          p:authenticationDao-ref="authenticationDao" p:md5Service-ref="md5Service"
          p:domainObjectDao-ref="domainObjectDao"/>

    <bean id="md5Service" class="ru.intertrust.cm.core.business.impl.MD5ServiceImpl"/>


    <bean id="attachmentCleaner" class="ru.intertrust.cm.core.business.impl.AttachmentCleaner"/>

    <bean id="sheduleTaskLoader" class="ru.intertrust.cm.core.business.shedule.SheduleTaskLoader">
        <property name="basePackage" value="ru/intertrust/cm" />
    </bean>

    <bean id="importSystemData" class="ru.intertrust.cm.core.business.load.ImportSystemData" init-method="onLoad" />
    
    

    <!-- Интеграция с Activiti -->
    <bean id="processEngineConfiguration" class="org.activiti.spring.SpringProcessEngineConfiguration">
        <property name="dataSource" ref="dataSource"/>
        <property name="transactionManager" ref="transactionManager"/>
        <property name="databaseSchemaUpdate" value="true"/>
        <property name="jobExecutorActivate" value="false"/>
        <property name="history" value="full"/>
        <property name="customDefaultBpmnParseHandlers">
            <list>
                <bean class="ru.intertrust.cm.core.process.CustomUserTaskParseHandler"/>
            </list>
        </property>
    </bean>

    <bean id="processEngine" class="org.activiti.spring.ProcessEngineFactoryBean">
        <property name="processEngineConfiguration" ref="processEngineConfiguration"/>
    </bean>

    <bean id="repositoryService" factory-bean="processEngine" factory-method="getRepositoryService"/>
    <bean id="runtimeService" factory-bean="processEngine" factory-method="getRuntimeService"/>
    <bean id="taskService" factory-bean="processEngine" factory-method="getTaskService"/>
    <bean id="historyService" factory-bean="processEngine" factory-method="getHistoryService"/>
    <bean id="managementService" factory-bean="processEngine" factory-method="getManagementService"/>
    <bean id="formService" factory-bean="processEngine" factory-method="getFormService"/>
    <!-- Интеграция с Activiti -->

    <!--<bean id="searchService" class="ru.intertrust.cm.core.business.impl.search.SearchServiceImpl"/>-->

    <bean id="solrServer"
          class="ru.intertrust.cm.core.business.impl.search.SolrServerFactory"/>
          <!-- factory-method="getSolrServer"/> -->

    <bean id="solrUpdateQueue" class="ru.intertrust.cm.core.business.impl.search.SolrUpdateRequestQueue"/>

    <bean id="searchConfigHelper" class="ru.intertrust.cm.core.business.impl.search.SearchConfigHelper"/>

    <bean id="searchFilterImplementorFactory" class="ru.intertrust.cm.core.business.impl.search.ImplementorFactory">
        <property name="implementors">
            <map>
                <entry key="ru.intertrust.cm.core.business.api.dto.TextSearchFilter"
                       value="ru.intertrust.cm.core.business.impl.search.TextFilterAdapter"/>
                <entry key="ru.intertrust.cm.core.business.api.dto.DatePeriodFilter"
                       value="ru.intertrust.cm.core.business.impl.search.DatePeriodFilterAdapter"/>
                <entry key="ru.intertrust.cm.core.business.api.dto.NumberRangeFilter"
                       value="ru.intertrust.cm.core.business.impl.search.NumberRangeFilterAdapter"/>
                <entry key="ru.intertrust.cm.core.business.api.dto.OneOfListFilter"
                       value="ru.intertrust.cm.core.business.impl.search.OneOfListFilterAdapter"/>
            </map>
        </property>
    </bean>

    <bean id="notificationTextFormer"
          class="ru.intertrust.cm.core.business.impl.NotificationTextFormerImpl"/>


</beans>