<?xml version="1.0" encoding="UTF-8"?>
<!--suppress SpringModelInspection, SpringModelInspection -->
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans.xsd
     http://www.springframework.org/schema/context
     http://www.springframework.org/schema/context/spring-context.xsd
     http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
     http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <context:annotation-config/>
    
    <context:component-scan base-package="ru.intertrust.cm.core ru.intertrust.cm.core.business.impl.report" />
    
    <aop:aspectj-autoproxy/>

    <tx:annotation-driven transaction-manager="transactionManager" mode="aspectj" />

    <bean id="configurationLoader" class="ru.intertrust.cm.core.business.impl.ConfigurationLoaderImpl"
          depends-on="springApplicationContext"/>

    <bean id="configurationExtensionProcessor" class="ru.intertrust.cm.core.business.impl.ConfigurationExtensionProcessor"
          scope="prototype"/>

    <bean id="distributiveConfigurationCache" class="ru.intertrust.cm.core.business.impl.ConfigurationExtensionHelper"/>

    <bean id="recursiveConfigurationLoader" class="ru.intertrust.cm.core.business.impl.RecursiveConfigurationLoader"
          scope="prototype"/>

    <bean id="recursiveConfigurationMerger" class="ru.intertrust.cm.core.business.impl.RecursiveConfigurationMerger"
          scope="prototype"/>

    <bean id="migrationService" class="ru.intertrust.cm.core.business.impl.MigrationService"/>

    <jee:local-slsb id="configurationLoadService"
                    jndi-name="java:module/ConfigurationLoadServiceImpl!ru.intertrust.cm.core.business.api.ConfigurationLoadService"
                    business-interface="ru.intertrust.cm.core.business.api.ConfigurationLoadService"/>

    <jee:local-slsb id="initialDataLoader"
                    jndi-name="java:module/InitialDataLoaderImpl!ru.intertrust.cm.core.business.impl.InitialDataLoader"
                    business-interface="ru.intertrust.cm.core.business.impl.InitialDataLoader"/>

    <jee:local-slsb id="importSystemData"
                    jndi-name="java:module/ImportSystemDataImpl!ru.intertrust.cm.core.business.load.ImportSystemData"
                    business-interface="ru.intertrust.cm.core.business.load.ImportSystemData"/>

    <jee:local-slsb id="importReportsData"
                    jndi-name="java:module/ImportReportsDataImpl!ru.intertrust.cm.core.business.load.ImportReportsData"
                    business-interface="ru.intertrust.cm.core.business.load.ImportReportsData"/>

    <jee:local-slsb id="sheduleTaskLoader"
                    jndi-name="java:module/ScheduleTaskLoaderImpl!ru.intertrust.cm.core.business.api.schedule.ScheduleTaskLoader"
                    business-interface="ru.intertrust.cm.core.business.api.schedule.ScheduleTaskLoader"/>

    <jee:local-slsb id="globallyLockableInitializer"
                    jndi-name="java:module/GloballyLockableInitializerImpl!ru.intertrust.cm.core.business.impl.GloballyLockableInitializer"
                    business-interface="ru.intertrust.cm.core.business.impl.GloballyLockableInitializer"/>

    <jee:local-slsb id="accessVerificationService"
                    jndi-name="java:module/AccessVerificationServiceImpl!ru.intertrust.cm.core.business.api.access.AccessVerificationService"
                    business-interface="ru.intertrust.cm.core.business.api.access.AccessVerificationService"/>

    <jee:local-slsb id="crudService"
                    jndi-name="java:module/CrudServiceImpl!ru.intertrust.cm.core.business.api.CrudService"
                    business-interface="ru.intertrust.cm.core.business.api.CrudService"/>

    <jee:local-slsb id="nonTransactionalCrudService"
                    jndi-name="java:module/NonTransactionalCrudServiceImpl!ru.intertrust.cm.core.business.api.CrudServiceDelegate"
                    business-interface="ru.intertrust.cm.core.business.api.CrudServiceDelegate"/>

    <jee:local-slsb id="auditService"
                    jndi-name="java:module/AuditService!ru.intertrust.cm.core.business.api.AuditService"
                    business-interface="ru.intertrust.cm.core.business.api.AuditService"/>
    <jee:local-slsb id="personManagementService"
                    jndi-name="java:module/PersonManagementService!ru.intertrust.cm.core.business.api.PersonManagementService"
                    business-interface="ru.intertrust.cm.core.business.api.PersonManagementService"/>

    <jee:local-slsb id="collectionsService"
                    jndi-name="java:module/CollectionsServiceImpl!ru.intertrust.cm.core.business.api.CollectionsService"
                    business-interface="ru.intertrust.cm.core.business.api.CollectionsService"/>

    <jee:local-slsb id="nonTransactionalCollectionsService"
                    jndi-name="java:module/NonTransactionalCollectionsServiceImpl!ru.intertrust.cm.core.business.api.CollectionsServiceDelegate"
                    business-interface="ru.intertrust.cm.core.business.api.CollectionsServiceDelegate"/>

    <jee:local-slsb id="processService"
                    jndi-name="java:module/ProcessService!ru.intertrust.cm.core.business.api.ProcessService"
                    business-interface="ru.intertrust.cm.core.business.api.ProcessService"/>
    <jee:local-slsb id="configurationService"
                    jndi-name="java:module/ConfigurationServiceImpl!ru.intertrust.cm.core.business.api.ConfigurationService"
                    business-interface="ru.intertrust.cm.core.business.api.ConfigurationService"/>
    <jee:local-slsb id="configurationControlService"
                    jndi-name="java:module/ConfigurationControlServiceImpl!ru.intertrust.cm.core.business.api.ConfigurationControlService"
                    business-interface="ru.intertrust.cm.core.business.api.ConfigurationControlService"/>
    <jee:local-slsb id="localAttachmentService"
                    jndi-name="java:module/LocalAttachmentServiceImpl!ru.intertrust.cm.core.business.api.AttachmentService"
                    business-interface="ru.intertrust.cm.core.business.api.AttachmentService"/>
    <jee:local-slsb id="remoteAttachmentService"
                    jndi-name="java:module/RemoteAttachmentServiceImpl!ru.intertrust.cm.core.business.api.AttachmentService$Remote"
                    business-interface="ru.intertrust.cm.core.business.api.AttachmentService.Remote"/>
    <jee:local-slsb id="searchService"
                    jndi-name="java:module/SearchService!ru.intertrust.cm.core.business.api.SearchService"
                    business-interface="ru.intertrust.cm.core.business.api.SearchService"/>
    <jee:local-slsb id="personService"
                    jndi-name="java:module/PersonService!ru.intertrust.cm.core.business.api.PersonService"
                    business-interface="ru.intertrust.cm.core.business.api.PersonService"/>
    <jee:local-slsb id="notificationService"
                    jndi-name="java:module/NotificationService!ru.intertrust.cm.core.business.api.NotificationService"
                    business-interface="ru.intertrust.cm.core.business.api.NotificationService"/>
    <jee:local-slsb id="scheduleService"
                    jndi-name="java:module/ScheduleService!ru.intertrust.cm.core.business.api.ScheduleService"
                    business-interface="ru.intertrust.cm.core.business.api.ScheduleService"/>
    <jee:local-slsb id="reportService"
                    jndi-name="java:module/ReportServiceLocalImpl!ru.intertrust.cm.core.business.api.ReportService"
                    business-interface="ru.intertrust.cm.core.business.api.ReportService"/>
    <jee:local-slsb id="reportServiceAsync"
                    jndi-name="java:module/ReportServiceAsyncImpl!ru.intertrust.cm.core.business.api.ReportServiceAsync"
                    business-interface="ru.intertrust.cm.core.business.api.ReportServiceAsync"/>
    <jee:local-slsb id="reportServiceAdmin"
                    jndi-name="java:module/ReportServiceAdmin!ru.intertrust.cm.core.business.api.ReportServiceAdmin"
                    business-interface="ru.intertrust.cm.core.business.api.ReportServiceAdmin"/>
    <jee:local-slsb id="profileService"
                    jndi-name="java:module/ProfileService!ru.intertrust.cm.core.business.api.ProfileService"
                    business-interface="ru.intertrust.cm.core.business.api.ProfileService"/>
    <jee:local-slsb id="notificationSenderAsync"
                    jndi-name="java:module/NotificationSenderAsync!ru.intertrust.cm.core.business.impl.notification.NotificationSenderAsync"
                    business-interface="ru.intertrust.cm.core.business.impl.notification.NotificationSenderAsync"/>
    <jee:local-slsb id="cryptoService"
                    jndi-name="java:module/CryptoService!ru.intertrust.cm.core.business.api.crypto.CryptoService"
                    business-interface="ru.intertrust.cm.core.business.api.crypto.CryptoService"/>
    <jee:local-slsb id="permissionService"
                    jndi-name="java:module/PermissionService!ru.intertrust.cm.core.business.api.PermissionService"
                    business-interface="ru.intertrust.cm.core.business.api.PermissionService"/>
                    
    <jee:local-slsb id="interserverLockingService"
                    jndi-name="java:module/InterserverLockingServiceImpl!ru.intertrust.cm.core.business.api.InterserverLockingService"
                    business-interface="ru.intertrust.cm.core.business.api.InterserverLockingService"/>

    <jee:local-slsb id="asyncPluginExecutor"
                    jndi-name="java:module/AsyncPluginExecutor!ru.intertrust.cm.core.business.api.plugin.AsyncPluginExecutor"
                    business-interface="ru.intertrust.cm.core.business.api.plugin.AsyncPluginExecutor"/>

    <jee:local-slsb id="pluginService"
                    jndi-name="java:module/PluginService!ru.intertrust.cm.core.business.api.plugin.PluginService"
                    business-interface="ru.intertrust.cm.core.business.api.plugin.PluginService"/>

    <jee:local-slsb id="clusterManager"
                    jndi-name="java:module/ClusterManager!ru.intertrust.cm.core.business.api.ClusterManager"
                    business-interface="ru.intertrust.cm.core.business.api.ClusterManager"/>
                    
    <jee:local-slsb id="diagnosticMessageProcessor"
                    jndi-name="java:module/DiagnosticMessageProcessor!ru.intertrust.cm.core.business.diagnostic.DiagnosticMessageProcessor"
                    business-interface="ru.intertrust.cm.core.business.diagnostic.DiagnosticMessageProcessor"/>

    <jee:local-slsb id="ClusteredLockService"
                    jndi-name="java:module/ClusteredLockService!ru.intertrust.cm.core.business.api.ClusteredLockService"
                    business-interface="ru.intertrust.cm.core.business.api.ClusteredLockService"/>

    <jee:local-slsb id="SimpeDataStorage"
                    jndi-name="java:module/SimpeDataStorage!ru.intertrust.cm.core.business.api.SimpeDataStorage"
                    business-interface="ru.intertrust.cm.core.business.api.SimpeDataStorage"/>

    <jee:local-slsb id="reportGeneratorService"
                    jndi-name="java:module/ReportGeneratorService!ru.intertrust.cm.core.business.api.ReportGeneratorService"
                    business-interface="ru.intertrust.cm.core.business.api.ReportGeneratorService"/>

    <bean id="transactionalCrudService"
          class="ru.intertrust.cm.core.business.impl.CrudServiceBaseImpl"/>

    <bean id="transactionalCollectionsService"
          class="ru.intertrust.cm.core.business.impl.CollectionsServiceBaseImpl"/>

    <bean id="authenticationService"
          class="ru.intertrust.cm.core.business.impl.AuthenticationServiceImpl"
          p:authenticationDao-ref="authenticationDao" p:md5Service-ref="md5Service"
          p:domainObjectDao-ref="domainObjectDao"/>


    <bean id="attachmentCleaner" class="ru.intertrust.cm.core.business.impl.AttachmentCleaner"/>

   <!-- <bean id="sheduleTaskLoader" class="ru.intertrust.cm.core.business.shedule.ScheduleTaskLoaderImplrImpl"/>-->

    <!--<bean id="importSystemData" class="ru.intertrust.cm.core.business.load.ImportSystemDataImplImpl"/>-->

    <!--<bean id="importReportsData" class="ru.intertrust.cm.core.business.load.ImportReportsDataImplImpl">
    </bean>-->


    <!-- Интеграция с Flowable -->
    <bean id="processEngineConfiguration" class="org.flowable.spring.SpringProcessEngineConfiguration">
        <property name="dataSource" ref="wfDataSource"/>
        <property name="transactionManager" ref="transactionManager"/>
        <property name="databaseSchemaUpdate" value="true"/>
        <property name="asyncExecutorActivate" value="${wf.job.executor.activate:false}"/>
        <property name="history" value="full"/>
        <property name="disableEventRegistry" value="true"/>
        <property name="customDefaultBpmnParseHandlers">
            <list>
                <bean class="ru.intertrust.cm.core.process.CustomUserTaskParseHandler"/>
                <bean class="ru.intertrust.cm.core.process.CustomProcessParseHandler"/>
            </list>
        </property>
        <property name="flowable5CompatibilityEnabled" value="true" />
        <property name="flowable5CompatibilityHandlerFactory" ref="flowable5CompabilityFactory" />
    </bean>

    <bean id="flowable5CompabilityFactory" class="org.activiti.compatibility.spring.SpringFlowable5CompatibilityHandlerFactory" />

    <bean id="processEngine" class="org.flowable.spring.ProcessEngineFactoryBean">
        <property name="processEngineConfiguration" ref="processEngineConfiguration"/>
    </bean>

    <bean id="repositoryService" factory-bean="processEngine" factory-method="getRepositoryService"/>
    <bean id="runtimeService" factory-bean="processEngine" factory-method="getRuntimeService"/>
    <bean id="taskService" factory-bean="processEngine" factory-method="getTaskService"/>
    <bean id="historyService" factory-bean="processEngine" factory-method="getHistoryService"/>
    <bean id="managementService" factory-bean="processEngine" factory-method="getManagementService"/>
    <bean id="formService" factory-bean="processEngine" factory-method="getFormService"/>
    <bean id="moduleProcessDeployer"  class="ru.intertrust.cm.core.process.DeployModuleProcesses"/>
    <bean id="globalListners"  class="ru.intertrust.cm.core.process.GlobalListnersImpl"/>
    <bean id="platformCreateTaskListener"  class="ru.intertrust.cm.core.process.PlatformCreateTaskListener"/>
    <bean id="platformDeleteTaskListener"  class="ru.intertrust.cm.core.process.PlatformDeleteTaskListener"/>
    <bean id="platformStartProcessListener"  class="ru.intertrust.cm.core.process.PlatformStartProcessListener"/>
    <bean id="platformEndProcessListener"  class="ru.intertrust.cm.core.process.PlatformEndProcessListener"/>

    <!-- Интеграция с Flowable -->

    <!--<bean id="searchService" class="ru.intertrust.cm.core.business.impl.search.SearchServiceImpl"/>-->

    <bean id="solrServer"
          class="ru.intertrust.cm.core.business.impl.search.SolrServerFactory"/>
    <!-- factory-method="getSolrServer"/> -->
    <bean id="solServerMap"
          class="ru.intertrust.cm.core.business.impl.search.SolrServerMapFactory"/>

    <bean id="solrUpdateQueue" class="ru.intertrust.cm.core.business.impl.search.SolrUpdateRequestQueue" scope="prototype"/>

    <bean id="solrServerWrapper" class="ru.intertrust.cm.core.business.impl.search.SolrServerWrapper" scope="prototype"/>

    <bean id="searchConfigHelper" class="ru.intertrust.cm.core.business.impl.search.SearchConfigHelper"/>

    <bean id="searchFilterImplementorFactory" class="ru.intertrust.cm.core.business.impl.search.ImplementorFactory">
        <property name="implementors">
            <map>
                <entry key="ru.intertrust.cm.core.business.api.dto.TextSearchFilter"
                       value="ru.intertrust.cm.core.business.impl.search.TextFilterAdapter"/>
                <entry key="ru.intertrust.cm.core.business.api.dto.DatePeriodFilter"
                       value="ru.intertrust.cm.core.business.impl.search.DatePeriodFilterAdapter"/>
                <entry key="ru.intertrust.cm.core.business.api.dto.TimeIntervalFilter"
                       value="ru.intertrust.cm.core.business.impl.search.TimeIntervalFilterAdapter"/>
                <entry key="ru.intertrust.cm.core.business.api.dto.NumberRangeFilter"
                       value="ru.intertrust.cm.core.business.impl.search.NumberRangeFilterAdapter"/>
                <entry key="ru.intertrust.cm.core.business.api.dto.OneOfListFilter"
                       value="ru.intertrust.cm.core.business.impl.search.OneOfListFilterAdapter"/>
                <entry key="ru.intertrust.cm.core.business.api.dto.EmptyValueFilter"
                       value="ru.intertrust.cm.core.business.impl.search.EmptyValueFilterAdapter"/>
                <entry key="ru.intertrust.cm.core.business.api.dto.BooleanSearchFilter"
                       value="ru.intertrust.cm.core.business.impl.search.BooleanValueFilterAdapter"/>
                <entry key="ru.intertrust.cm.core.business.api.dto.NegativeFilter"
                       value="ru.intertrust.cm.core.business.impl.search.NegativeFilterAdapter"/>
                <entry key="ru.intertrust.cm.core.business.api.dto.CombiningFilter"
                       value="ru.intertrust.cm.core.business.impl.search.CombiningFilterAdapter"/>
            </map>
        </property>
    </bean>

    <bean id="notificationTextFormer"
          class="ru.intertrust.cm.core.business.impl.NotificationTextFormerImpl"/>

    <bean id="urlFormer"
          class="ru.intertrust.cm.core.business.impl.UrlFormerImpl"/>

    <bean id="notificationChannelLoader"
          class="ru.intertrust.cm.core.business.impl.NotificationChannelLoaderImpl" init-method="init"/>

    <bean id="notificationChannelSelector"
          class="ru.intertrust.cm.core.business.impl.NotificationChannelSelectorImpl"/>
          
    <bean id="notificationServiceController"
          class="ru.intertrust.cm.core.business.impl.notification.NotificationServiceControllerImpl"/>

    <bean id="eventTrigger" class="ru.intertrust.cm.core.business.impl.EventTriggerImpl"/>

    <bean id="scriptService" class="ru.intertrust.cm.core.business.impl.JavaScriptServiceImpl"/>

    <bean id="mailSender" class="ru.intertrust.cm.core.business.impl.notification.MailSenderWrapper"/>

    <bean id="javaClassDomainObjectFilter" class="ru.intertrust.cm.core.business.impl.search.JavaClassDomainObjectFilter"/>
    <bean id="sqlQueryDomainObjectFilter" class="ru.intertrust.cm.core.business.impl.search.SqlQueryDomainObjectFilter"/>
    <bean id="conditionsScriptDomainObjectFilter" class="ru.intertrust.cm.core.business.impl.search.ConditionsScriptDomainObjectFilter"/>

    <bean id="dateFormer" class="ru.intertrust.cm.core.business.impl.DateFormerImpl"/>
    
    <bean id="fontLoader" class="ru.intertrust.cm.core.report.FontLoader"/>
    
    <bean id="mailReceiver" class="ru.intertrust.cm.core.business.impl.email.EmailReceiverImpl"/>

    <bean id="system-import-data" class="ru.intertrust.cm.core.business.load.ImportData" scope="prototype">
        <constructor-arg value="true" />
    </bean>
    <bean id="person-import-data" class="ru.intertrust.cm.core.business.load.ImportData" scope="prototype">
        <constructor-arg value="false" />
    </bean>

    <bean id="reportHelper" class="ru.intertrust.cm.core.report.ReportHelper"/>

    <bean id="crudDataSourceSetter" class="ru.intertrust.cm.core.business.impl.CrudDataSourceSetter"/>
    <bean id="collectionsDataSourceSetter" class="ru.intertrust.cm.core.business.impl.CollectionsDataSourceSetter"/>
    <bean id="reportsDataSourceSetter" class="ru.intertrust.cm.core.business.impl.ReportsDataSourceSetter"/>

    <bean id="allAttachmentSignatureDataService" class="ru.intertrust.cm.core.business.impl.crypto.AllAttachmentSignatureDataService"/>

    <bean id="currentAttachmentSignatureDataService" class="ru.intertrust.cm.core.business.impl.crypto.CurrentAttachmentSignatureDataService"/>

    <bean id="domainObjectStoreSignatureService" class="ru.intertrust.cm.core.business.impl.crypto.DomainObjectStoreSignatureService"/>

    <bean id="threadContext" class="ru.intertrust.cm.core.business.impl.ThreadContextImpl" />
    
    <bean id="pluginStorage" class="ru.intertrust.cm.core.business.impl.plugin.PluginStorageImpl" />

    <bean id="resourceService" class="ru.intertrust.cm.core.business.impl.ResourceServiceImpl" />
    
    <bean id="restTemplate" class="org.springframework.web.client.RestTemplate">
        <property name="messageConverters">
            <list>
                <bean class="org.springframework.http.converter.ByteArrayHttpMessageConverter"/>
                <bean class="org.springframework.http.converter.StringHttpMessageConverter"/>
                <bean class="org.springframework.http.converter.ResourceHttpMessageConverter"/>
                <bean class="org.springframework.http.converter.xml.SourceHttpMessageConverter"/>
                <bean class="org.springframework.http.converter.support.AllEncompassingFormHttpMessageConverter"/>
                <bean class="org.springframework.http.converter.xml.Jaxb2RootElementHttpMessageConverter"/>
                <ref bean="mappingJackson2HttpMessageConverter"/>
            </list>
        </property>
        <property name="requestFactory">
            <!-- bean class="org.springframework.http.client.HttpComponentsClientHttpRequestFactory"-->
            <bean class="org.springframework.http.client.SimpleClientHttpRequestFactory">
                <property name="readTimeout" value="${report.server.read.timeout:600000}" />
                <property name="connectTimeout" value="${report.server.connect.timeout:60000}" />
            </bean>
        </property>
    </bean>
    
    <bean id="mappingJackson2HttpMessageConverter" class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter"/>

    <bean id="customObjectMapper" class="ru.intertrust.cm.core.tools.CustomObjectMapper"/>    
    <bean id="repPostProcPagination" class="ru.intertrust.cm.core.business.impl.reportpostprocessors.PaginationReportPostProcessor"/>
    <bean id="repPostFooterPageNumbering" class="ru.intertrust.cm.core.business.impl.reportpostprocessors.FooterPageNumberingReportPostProcessor"/>
    <bean id="cryptoServiceConfig" class="ru.intertrust.cm.core.business.impl.CryptoServiceConfigImpl"/>

    <bean id="serviceClassPathScanConfig"  class="ru.intertrust.cm.core.dao.impl.ClassPathScanConfig">
        <constructor-arg>
            <array value-type="java.lang.String">
                <value>ru.intertrust.cm.core.gui.model.ComponentName</value>
                <value>ru.intertrust.cm.core.business.api.notification.NotificationChannel</value>
            </array>
        </constructor-arg>
    </bean>

    <bean id="fileSystemAttachmentCleaner" class="ru.intertrust.cm.core.business.impl.FileSystemAttachmentCleanerImpl"/>
    <bean id="workflowEngeneFactory" class="ru.intertrust.cm.core.business.impl.workflow.WorkflowEngeneFactory"/>
    <bean id="workflowEngine" factory-bean="workflowEngeneFactory" factory-method="getObject"/>
    <bean id="keycloakIdpServiceImpl" class="ru.intertrust.cm.core.business.impl.access.KeycloakIdpAdminServiceImpl"/>
    <bean id="reportParameterResolver" class="ru.intertrust.cm.core.business.impl.ReportParameterResolverImpl"/>

    <beans profile="default">
        <bean id="reportTemplateCache" class="ru.intertrust.cm.core.business.impl.ReportTemplateCacheImpl"/>
    </beans>

</beans>
