<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jee="http://www.springframework.org/schema/jee"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd">
    <bean class="ru.intertrust.cm.core.gui.impl.server.plugin.handlers.loader.PluginHandlerDefinitionsLoader">
        <property name="basePackage" value="ru/intertrust/cm/core/gui/impl/server"/>
    </bean>

    <jee:local-slsb id="guiService"
                    jndi-name="java:module/GuiServiceImpl!ru.intertrust.cm.core.gui.api.server.GuiService"
                    business-interface="ru.intertrust.cm.core.gui.api.server.GuiService"/>

    <jee:local-slsb id="actionService"
                    jndi-name="java:module/ActionServiceImpl!ru.intertrust.cm.core.gui.api.server.ActionService"
                    business-interface="ru.intertrust.cm.core.gui.api.server.ActionService"/>

    <jee:local-slsb id="processService"
                    jndi-name="java:module/ProcessService!ru.intertrust.cm.core.business.api.ProcessService"
                    business-interface="ru.intertrust.cm.core.business.api.ProcessService"/>

    <jee:local-slsb id="searchService"
                    jndi-name="java:module/SearchService!ru.intertrust.cm.core.business.api.SearchService"
                    business-interface="ru.intertrust.cm.core.business.api.SearchService"/>


    <bean id="formRetriever" class="ru.intertrust.cm.core.gui.impl.server.form.FormRetriever" scope="prototype">
        <constructor-arg value=""/>
    </bean>

    <bean id="formSaver" class="ru.intertrust.cm.core.gui.impl.server.form.FormSaver" scope="prototype">
        <constructor-arg value=""/>
        <constructor-arg value=""/>
    </bean>

    <bean id="formResolver" class="ru.intertrust.cm.core.gui.impl.server.form.FormResolver" scope="singleton"
          lazy-init="true"/>

    <bean id="defaultImageMapper" class="ru.intertrust.cm.core.gui.impl.server.plugin.DefaultImageMapperImpl"/>

    <bean id="navigationTreeResolver" class="ru.intertrust.cm.core.gui.impl.server.plugin.handlers.NavigationTreeResolver"
          scope="singleton" lazy-init="true"/>
</beans>