<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jee="http://www.springframework.org/schema/jee"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd">
    <bean class="ru.intertrust.cm.core.gui.impl.server.plugin.handlers.loader.PluginHandlerDefinitionsLoader"/>
    
    <bean name="headerAuthentication" class="ru.intertrust.cm.core.gui.impl.server.action.access.authentication.HeaderAuthenticationProvider"/>
    
    <jee:local-slsb id="guiService"
                    jndi-name="java:module/GuiServiceImpl!ru.intertrust.cm.core.gui.api.server.GuiService"
                    business-interface="ru.intertrust.cm.core.gui.api.server.GuiService"/>

    <jee:local-slsb id="actionService"
                    jndi-name="java:module/ActionServiceImpl!ru.intertrust.cm.core.gui.api.server.ActionService"
                    business-interface="ru.intertrust.cm.core.gui.api.server.ActionService"/>

    <jee:local-slsb id="processService"
                    jndi-name="java:module/ProcessService!ru.intertrust.cm.core.business.api.ProcessService"
                    business-interface="ru.intertrust.cm.core.business.api.ProcessService"/>

    <jee:local-slsb id="searchService"
                    jndi-name="java:module/SearchService!ru.intertrust.cm.core.business.api.SearchService"
                    business-interface="ru.intertrust.cm.core.business.api.SearchService"/>
                    
    <jee:local-slsb id="importDataService"
                    jndi-name="java:module/ImportDataService!ru.intertrust.cm.core.business.api.ImportDataService"
                    business-interface="ru.intertrust.cm.core.business.api.ImportDataService"/>

    <jee:local-slsb id="userSettingsFetcher"
                    jndi-name="java:module/UserSettingsFetcher!ru.intertrust.cm.core.gui.api.server.UserSettingsFetcher"
                    business-interface="ru.intertrust.cm.core.gui.api.server.UserSettingsFetcher"/>

    <jee:local-slsb id="httpRequestFilterUser"
                    jndi-name="java:module/HttpRequestFilterUser!ru.intertrust.cm.core.gui.api.server.HttpRequestFilterUser"
                    business-interface="ru.intertrust.cm.core.gui.api.server.HttpRequestFilterUser"/>
    <jee:local-slsb id="settingsUtilImpl"
                    jndi-name="java:module/settingsUtilImpl!ru.intertrust.cm.core.gui.impl.server.action.system.SettingsUtil"
                    business-interface="ru.intertrust.cm.core.gui.impl.server.action.system.SettingsUtil"/>
                    
    <jee:local-slsb id="applicationSecurityManager"
                    jndi-name="java:module/ApplicationSecurityManager!ru.intertrust.cm.core.gui.api.server.ApplicationSecurityManager"
                    business-interface="ru.intertrust.cm.core.gui.api.server.ApplicationSecurityManager"/>

    <jee:local-slsb id="platformCommandLineService"
                    jndi-name="java:module/PlatformCommandLineService!ru.intertrust.cm.core.gui.impl.server.cmd.PlatformCommandLineService"
                    business-interface="ru.intertrust.cm.core.gui.impl.server.cmd.PlatformCommandLineService"/>

    <bean id="applicationVersion" class="ru.intertrust.cm.core.gui.impl.server.util.VersionUtil" scope="singleton" />

    <bean id="formRetriever" class="ru.intertrust.cm.core.gui.impl.server.form.FormRetriever" scope="prototype"/>

    <bean id="formSaver" class="ru.intertrust.cm.core.gui.impl.server.form.FormSaver" scope="prototype"/>

    <bean id="oneToManyLinker" class="ru.intertrust.cm.core.gui.impl.server.form.OneToManyLinker" scope="prototype"/>

    <bean id="manyToManyLinker" class="ru.intertrust.cm.core.gui.impl.server.form.ManyToManyLinker" scope="prototype"/>

    <bean id="actionConfigBuilder" class="ru.intertrust.cm.core.gui.impl.server.util.ActionConfigBuilder" scope="prototype"/>

    <bean id="defaultFormObjectsRemover" class="ru.intertrust.cm.core.gui.impl.server.form.DefaultFormObjectsRemover" scope="prototype"/>

    <bean id="fieldPathHelper" class="ru.intertrust.cm.core.gui.impl.server.form.FieldPathHelperImpl" scope="singleton"/>

    <bean id="formDefaultValueSetter" class="ru.intertrust.cm.core.gui.impl.server.form.defaults.FormDefaultValueSetterImpl" scope="prototype"/>

    <bean id="formResolver" class="ru.intertrust.cm.core.gui.impl.server.form.FormResolver" scope="singleton"
          lazy-init="true"/>

    <bean id="representationFormatHandler" class="ru.intertrust.cm.core.gui.impl.server.widget.RepresentationFormatHandler" scope="singleton"/>

    <bean id="defaultImageMapper" class="ru.intertrust.cm.core.gui.impl.server.plugin.DefaultImageMapperImpl"/>

    <bean id="navigationTreeResolver" class="ru.intertrust.cm.core.gui.impl.server.plugin.handlers.NavigationTreeResolver"
          scope="singleton" lazy-init="true"/>

    <bean id="defaultConfigurableDomainObjectLinkInterceptor" class="ru.intertrust.cm.core.gui.impl.server.form.DefaultConfigurableDomainObjectLinkInterceptor"
          scope="singleton" lazy-init="true"/>

    <bean id="domainObjectFieldsSetter" class="ru.intertrust.cm.core.gui.impl.server.form.DomainObjectFieldsSetter"
          scope="prototype">
        <constructor-arg value=""/>
        <constructor-arg value=""/>
        <constructor-arg value=""/>
    </bean>

    <bean id="literal-parser" class="ru.intertrust.cm.core.gui.impl.server.parser.LiteralFieldValueParserImpl" lazy-init="true"/>

    <!-- Filters-->
    <bean id="abstractFilterBuilder" class="ru.intertrust.cm.core.gui.impl.server.filters.AbstractFiltersBuilder"
          lazy-init="true" abstract="true"/>
    <bean id="initialFiltersBuilder" class="ru.intertrust.cm.core.gui.impl.server.filters.InitialFiltersBuilderImpl"
           lazy-init="true" />
    <bean id="complexFilterBuilder" class="ru.intertrust.cm.core.gui.impl.server.filters.ComplexFiltersBuilder"
           lazy-init="true" abstract="true" parent="abstractFilterBuilder"/>
    <bean id="selectionFiltersBuilder" class="ru.intertrust.cm.core.gui.impl.server.filters.SelectionFiltersBuilderImpl"
          parent="complexFilterBuilder" lazy-init="true"/>
    <bean id="collectionExtraFiltersBuilder" class="ru.intertrust.cm.core.gui.impl.server.filters.CollectionExtraFiltersBuilderImpl"
          parent="complexFilterBuilder" lazy-init="true"/>
    <bean id="filtersBuilder" class="ru.intertrust.cm.core.gui.impl.server.FilterBuilderImpl"/>

    <bean id="sortOrderHelper" class="ru.intertrust.cm.core.gui.impl.server.SorOrderHelperImpl" lazy-init="true"/>
    
    <bean id="flowableDeployer" class="ru.intertrust.cm.core.gui.impl.server.action.FlowableDeployerImpl" lazy-init="true"/>
    <bean id="runaDeployerImpl" class="ru.intertrust.cm.core.gui.impl.server.action.RunaDeployerImpl" lazy-init="true"/>
    <bean id="configDeployer" class="ru.intertrust.cm.core.gui.impl.server.action.ConfigDeployerImpl" lazy-init="true"/>
    <bean id="importDataDeployer" class="ru.intertrust.cm.core.gui.impl.server.action.ImportDataDeployerImpl" lazy-init="true"/>
    <bean id="pluginDeployer" class="ru.intertrust.cm.core.gui.impl.server.action.PluginDeployerImpl" lazy-init="true"/>
    <bean id="DomainObjectMappingImpl" class="ru.intertrust.cm.core.gui.impl.server.DomainObjectMappingImpl" lazy-init="true"/>


    
</beans>
