jboss.home=/home/alexander/workspaces/vendor/wf10
jboss.host=localhost
jboss.app.url=/cm6-base/app/cm6base
jboss.app.port=8080
jboss.admin.port=9990
jboss.user=admin
jboss.password=admin1
jboss.cli.controller=localhost
jboss.cli.port=9990

server.properties=/home/alexander/workspaces/vendor/wf10/standalone/configuration/server.properties

postgres.home=/opt/PostgreSQL/9.5
db.host=localhost
db.port=5432
db.name=test-db
db.user=postgres
db.password=postgres

ear.folder=/home/alexander/workspaces/app/deployment-tool/src/main/resources/ear
ear.current=5.1.2.81-6.0-A58
ear.sequence=5.1.2.81-6.0-A60, 5.1.2.81-6.0-A63, 5.1.2.81-6.0-A65, 5.1.2.81-6.0-A71

initial.data.folder=/home/alexander/workspaces/init-data

backup.folder=/home/alexander/workspaces/app/deployment-tool/src/main/resources/backup
backup.before=5.1.2.81-6.0-A60, 5.1.2.81-6.0-A71

#current/last_successful
restore.version.on.failure=last_successful

#nexus url for ear's downloading
#http://nexus.inttrust.ru:8081/nexus/content/groups/public/ru/intertrust/cm-base/cm5div6-ear/

#download ear from command line example
#wget --user=devcm5r --ask-password http://nexus.inttrust.ru:8081/nexus/content/groups/public/ru/intertrust/cm-base/cm5div6-ear/5.1.2.110-6.0-A87/cm5div6-ear-5.1.2.110-6.0-A87.ear