/*Right Menu*/

#sidebar .gradient {
    background: #1d4f93 !important;
    border-right: none;
    width: 150px;
}

#tasks-wrap {
    padding-left: 20px;
    padding-top: 30px;
}

.tasks-wrap td {
    border-bottom: 1px solid #3464a6;
}

#sidebar li a {
    display: flex;
    justify-content: flex-end;
}

#sidebar li a span {
    order: -1;
    align-self: center;
    color: #fff;
    margin-right: 18px;
    text-align: -webkit-right;
}

#sidebar li a img {
    display: block;
    width: 20px;
    height: 20px;
    border: 2px solid white;
    border-radius: 50%;
    padding: 5px;
    flex-shrink: 0;
    background: #3464a6;
}

.navigation-dynamic-panel-expanded {
    left: 20px;
    position: relative;
}

.navigation-dynamic-panel {
    left: 20px;
    position: relative;
}

.left-section {
    background: #3464a6;
    margin-top: 100px;
    box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px;
    margin-left: -85px;
    transition: margin-left .4s ease-out;
}

.left-section:hover  {
    margin-left: 0px;
}


.left-section-active {
    background: #3464a6;
    margin-top: 100px;
}

.central-div-panel-test {
    margin: 110px 11px 0 79px !important;
}

.central-div-panel-test-active {
    margin: 110px 11px 11px 380px !important;
}

#sidebar .selected::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 41px;
    background: #fff;
    right: 0;
}

#sidebar .selected {
    background: none;
}

/*.left-section >div>table table>tbody>tr>td:first-child,*/
/*.left-section-active >div>table table>tbody>tr>td:first-child {*/
    /*width: 150px;*/
/*}*/

.left-section-active .one-handred-percent-style>tbody>tr>td>div>table>tbody>tr>td:first-child,
.left-section .one-handred-percent-style>tbody>tr>td>div>table>tbody>tr>td:first-child {
    width: 150px;
}

.treeItemTitle {
    text-decoration: none !important;
}


/*Top block*/

.H_td_logo {
    padding: 0px 10px 0 138px;
}

.central-div-panel-test {
    margin: 100px 11px 0px 130px;
}

.header-section {
    height: 100px;
}

.header-logo-container {
    width: 72px;
    padding: 13px;
}

.header-section {
    box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px;
}

.decorated-list-suggest-box {
    background: none;
    border: 1px solid #cccccc;
    border-radius: 0;
}

.header-second-action-button {
    background: url(resources/taurikatheme/images/icons/arrow-down.png) no-repeat;
    -webkit-background-size: cover;
    background-size: 18px;
    background-position: center;
}

.decorated-list-suggest-box:hover {
    background: none;
}

.H_td_ExtSearch>div {
    background: url(resources/taurikatheme/images/icons/icon-search.png) no-repeat;
    background-position: 0px -1px;
    background-size: 30px;
    transition: 0.4s easy-in;
}

.H_td_ExtSearch>div:hover {
    background: url(resources/taurikatheme/images/icons/icon-search.png) no-repeat;
    background-position: 0 -48px;
    background-size: 30px;
}

td.H_td_ExtSearch {
    padding-left: 17px;
}

.decorated-settings {
    background: url(resources/taurikatheme/images/icons/icon-settings.png) no-repeat;
    background-size: 32px !important;
    background-position: 0 -2px;
    transition: 0.4s easy-in;
    padding-left: 20px;
}

.decorated-settings:hover {
    background: url(resources/taurikatheme/images/icons/icon-settings.png) no-repeat;
    background-size: 32px !important;
    background-position: 0px -51px;
}

.decorated-settings img {
    opacity: 0;
    z-index: -1;
}

.H_td_links {
    border: none;
}

.H_td_user .gwt-Hyperlink a {
    color: #999;
}

[href='#logout']:hover, a[href='#login']:hover {
    color: #000;
    text-shadow: none;
}

.header-notification-style {
    color: #999;
    padding: 10px;
}

.decorated-help {
    background: url(resources/taurikatheme/images/icons/icon-faq.png) no-repeat;
    background-size: 32px;
    background-position: 0px -1px !important;
    transition: 0.4s easy-in;
}

.decorated-help img {
    opacity: 0;
    z-index: -1;
}

.decorated-help:hover  {
    background: url(resources/taurikatheme/images/icons/icon-faq.png) no-repeat;
    background-size: 32px !important;
    background-position: 0px -52px !important;
}

.H_td_logout a {
    background: url(resources/taurikatheme/images/icons/icon-exit.png) no-repeat;
    background-size: 32px;
    background-position: 0 -5px !important;
    transition: 0.4s easy-in;
    padding-left: 40px;
}

.H_td_logout a:hover {
    background: url(resources/taurikatheme/images/icons/icon-exit.png) no-repeat;
    background-size: 32px;
    background-position: 0 -56px !important;
}

.header-first-action-button {
    background: url(resources/taurikatheme/images/icons/icon-notification.png) 3px 3px no-repeat;
    background-size: 30px;
}

.header-first-action-button-mute {
    background: url(resources/taurikatheme/images/icons/icon-notification-disabled.png) 3px 3px no-repeat !important;
    background-size: 30px !important;
}

.H_td_user .gwt-Hyperlink a {
    background: url(resources/taurikatheme/images/icons/icon-user.png) top right no-repeat;
    background-size: 15px;
}




/*Center Block*/

.center-section {
    background: #fcfcfc;
}

.rightSectionWrapper {
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
    /*border: solid 1px rgba(51,51,51,0.12);*/
}

.action-bar {
    background: #fff;
}

.before-target-target {
    box-shadow: rgba(0, 0, 0, 0.117647) 0 1px 6px, rgba(0, 0, 0, 0.117647) 0 1px 4px;
}


/*Content*/

.formContainer, .frm-pnl-top {
    background: #fcfcfc;
}

.form-panel-header {
    background: none;
}

.form-footer-blank {
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.gwt-TabPanel {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.gwt-TabPanelBottom {
    border: none;
}

.GNMSARGIG-com-google-gwt-user-cellview-client-DataGrid-Style-dataGridHeader {
    background-color: #f9f9f9 !important;
}

.GNMSARGDH-com-google-gwt-user-cellview-client-DataGrid-Style-dataGridSelectedRow {
    background: rgb(224, 224, 224) !important;
}

.gwt-PopupPanelGlass {
    z-index: 100;
}

.srch-root-ext-search-panel {
    border: none;
    border-radius: 3px;
    margin-top: 37px;
    background: #3464a6;
}

.srch-corner {
    right: 11%;
}

.settings-popup {
    border: none;
    border-radius: 3px;
    margin-top: 25px;
    background: #3464a6;
}

.setting-popup-panel .srch-corner {
    right: 57%;
}

.popupWrapper {

    border: none;
    border-radius: 3px;
    margin-top: 28px;
    background: #3464a6;
}

.decorated-action-link .gwt-MenuItem div {
    opacity: 0;
}

.decorated-action-link a.action-bar-button {
    border-bottom: none;
    color: #1d4f93;
    text-decoration: underline;
    font-size: 16px;
}


.breadcrumbPanel {
    margin: 8px 0 0 10px;
}

.form-footer-long {
    background: none;
}

.root-div {
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
    border-radius: 2px;
    background: rgb(232, 232, 232);
}

.left-div-visible {
    background: #e8e8e8;
}

/* CMFIVE-5032 Изменение поведения панели навигации в новой теме */
@def autoOpenNavigationPanel true;