datasource.jndi.name=java:jboss/datasources/CM5
datasource.pool.name=CM5
datasource.name=CM5
db.connection.url=jdbc:postgresql://localhost:5432/cm5
db.user=cm5
db.password=cm5
attachment.save.location=C:/temp/attachments
