<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">
    <display-name>Business Universe</display-name>

    <session-config>
        <session-timeout>30</session-timeout>
        <!-- minutes -->
    </session-config>

    <context-param>
        <param-name>parentContextKey</param-name>
        <param-value>ear.context</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <!-- Uploader and Downloader part -->
     <servlet>
         <servlet-name>Attachment Uploader</servlet-name>
         <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
         <init-param>
             <param-name>contextConfigLocation</param-name>
             <param-value>/WEB-INF/applicationContext.xml</param-value>
         </init-param>
         <load-on-startup>1</load-on-startup>
     </servlet>
     <servlet-mapping>
         <servlet-name>Attachment Uploader</servlet-name>
         <url-pattern>/attachment-upload</url-pattern>
     </servlet-mapping>

    <servlet>
        <servlet-name>Attachment Downloader</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/applicationContext.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Attachment Downloader</servlet-name>
        <url-pattern>/attachment-download/*</url-pattern>
    </servlet-mapping>

    <security-constraint>
        <display-name>Constraint</display-name>
        <web-resource-collection>
            <web-resource-name>The whole web</web-resource-name>
            <description>Protect everything in our applications</description>
            <url-pattern>/*/BusinessUniverseService</url-pattern>
            <url-pattern>/cm-sochi/*</url-pattern>
            <url-pattern>/*/attachment-download/*</url-pattern>
            <!--<url-pattern>/*/attachment-upload</url-pattern> -->
        </web-resource-collection>
        <auth-constraint>
            <description>
                CM5 protected web resources
            </description>
            <role-name>cm_user</role-name>
        </auth-constraint>
    </security-constraint>

    <filter>
        <display-name>LoginFilter</display-name>
        <filter-name>LoginFilter</filter-name>
        <filter-class>ru.intertrust.cm.core.gui.impl.server.AuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/remote/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/attachment-download/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/attachment-upload</url-pattern>
    </filter-mapping>
</web-app>
