@sprite .headerExtendedSearch {
    gwt-image: "extendedSearchIm";
    height: 32px;
    width: 32px;
}

@sprite .columnSettingsButton {
    gwt-image: "columnSettingsIm";
    background-color: #f0f4ff;
    background-position: 50% 50%;
    border: 1px solid #c0c4cf;
    border-radius: 3px;
    box-shadow: none;
    cursor: pointer;
    float: right;
    margin: 3px 5px 0 5px;
}

@sprite .confirmDialogIm {
    gwt-image: "confirmDialogIm";
    background-repeat:no-repeat;
    background-position: 0 0;
    height: 58px;
    line-height: 20px;
    padding: 20px 0 0 82px;
    width: auto;
}

@sprite .infoDialogIm {
    gwt-image: "infoDialogIm";
    background-repeat:no-repeat;
    background-position: 0 0;
    height: 58px;
    line-height: 20px;
    padding: 20px 0 0 82px;
    width: auto;
}

@sprite .errorDialogIm {
    gwt-image: "errorDialogIm";
    background-repeat:no-repeat;
    background-position: 0 0;
    height: 58px;
    line-height: 20px;
    padding: 20px 0 0 82px;
    width: auto;

}