@sprite .headerExtendedSearch {
    gwt-image: "extendedSearchIm";
    height: 32px;
    width: 32px;
}

@sprite .columnSettingsButton {
    gwt-image: "columnSettingsIm";
    background-color: #f0f4ff;
    background-position: 50% 50%;
    border: 1px solid #c0c4cf;
    border-radius: 3px;
    box-shadow: none;
    cursor: pointer;
    float: right;
    margin: 3px 5px 0 5px;
}

@sprite .confirmDialogIm {
    overflow: auto;
    gwt-image: "confirmDialogIm";
    background-repeat:no-repeat;
    background-position: 0 0;
    height: 58px;
    line-height: 20px;
    padding: 20px 0 0 82px;
    width: 247px;
}

@sprite .infoDialogIm {
    overflow: auto;
    gwt-image: "infoDialogIm";
    background-repeat:no-repeat;
    background-position: 0 0;
    height: 58px;
    line-height: 20px;
    padding: 20px 0 0 82px;
    width: 247px;
}

@sprite .errorDialogIm {
    overflow: auto;
    gwt-image: "errorDialogIm";
    background-repeat:no-repeat;
    background-position: 0 0;
    height: 58px;
    line-height: 20px;
    padding: 20px 0 0 82px;
    width: 247px;

}
@sprite .formFullSizeOn{
    gwt-image: "formFullSizeOnActionIm";
    background-repeat:no-repeat;
    background-position: 0 0;
    float: left;
    height: 35px;
    margin: 4px 0 0 0;
    width: 35px;
}
@sprite .formFullSizeOff{
    gwt-image: "formFullSizeOffActionIm";
    background-repeat:no-repeat;
    background-position: 0 0;
    float: left;
    height: 35px;
    margin: 4px 0 0 0;
    width: 35px;
}
@sprite .favoritePanelOn{
    gwt-image: "favoritePanelOnActionIm";
    background-repeat:no-repeat;
    background-position: 0 0;
    float: left;
    height: 35px;
    margin: 4px 0 0 0;
    width: 35px;
}
@sprite .favoritePanelOff{
    gwt-image: "favoritePanelOffActionIm";
    background-repeat:no-repeat;
    background-position: 0 0;
    float: left;
    height: 35px;
    margin: 4px 0 0 0;
    width: 35px;
}
@sprite .configurationUploader{
    gwt-image: "configurationUploaderIcon";
    background-repeat:no-repeat;
    background-position: 0 0;
    float: left;
    height: 25px;
    margin: 7px 5px 0 0;
    width: 25px;
}

@sprite .filterBoxClearButtonOn {
    gwt-image: "filterClearButtonIm";
    background-repeat: no-repeat;
    background-position: 0 0;
    border: 0;
    cursor: pointer;
    display: inline-block;
    float: right;
    height: 16px;
    margin: 2px;
    width: 16px;
}

.filterBoxClearButtonOn:hover {
    background-position: -16px 0;
}

.filterBoxClearButtonOn:active {
    background-position: -32px 0;
}