<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
        "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

    <bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
        <property name="jndiName" value="java:jboss/datasources/CM5" />
    </bean>

    <bean id="dataStructureDAO" class="ru.intertrust.cm.core.dao.impl.PostgreSQLDataStructureDAOImpl">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="configurationLoader" lazy-init="false" singleton="true"
          class="ru.intertrust.cm.core.business.impl.ConfigurationLoader" init-method="load">
        <property name="configurationService" ref="configurationService"/>
        <property name="configurationValidator" ref="configurationValidator"/>
        <property name="authenticationService" ref="authenticationService"/>

        <property name="configurationFilePath">
            <value>/config/business-objects.xml</value>
        </property>
    </bean>

	<bean id="configurationValidator" singleton="true"
          class="ru.intertrust.cm.core.business.impl.ConfigurationValidator">
        <property name="configurationSchemaPath">
            <value>/config/business-objects.xsd</value>
        </property>
    </bean>

    <bean id="configurationService" singleton="true" class="ru.intertrust.cm.core.business.impl.ConfigurationServiceImpl">
        <property name="dataStructureDAO" ref="dataStructureDAO"/>
    </bean>

    <bean id="authenticationDAO" class="ru.intertrust.cm.core.dao.impl.AuthenticationDAOImpl">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <bean id="authenticationService" singleton="true"
        class="ru.intertrust.cm.core.business.impl.AuthenticationServiceImpl">
        <property name="authenticationDAO" ref="authenticationDAO" />
        <property name="md5Service" ref="md5Service" />
    </bean>
    
    <bean id="md5Service" singleton="true"
        class="ru.intertrust.cm.core.business.impl.MD5ServiceImpl" />

</beans>