<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
        "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
    <bean id="configurationCache" lazy-init="false" singleton="true"
          class="ru.intertrust.cm.core.config.ConfigurationCache" init-method="init">
        <property name="configurationFilePath">
            <value>c:\projects\CM5\out\CM5\artifacts\Core.war\WEB-INF\classes\config\business-objects.xml</value>
        </property>
    </bean>
</beans>