/* ------------>>> info alert window <<<------------ */
.infoDialogWindow {
    z-index: 100; /* Old browsers */
    clip: auto !important; /* FF3.6+ */
    width: 380px; /* Chrome,Safari4+ */
    border: 1px solid #00BE31; /* Chrome10+,Safari5.1+ */
    border-radius: 3px; /* Opera 11.10+ */
    background: #fafafa; /* IE10+ */
    background: -moz-linear-gradient(top,  #fafafa 0%, #edeff1 100%); /* W3C */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#edeff1)); /* IE6-9 */
    background: -webkit-linear-gradient(top,  #fafafa 0%,#edeff1 100%);
    background: -o-linear-gradient(top,  #fafafa 0%,#edeff1 100%);
    background: -ms-linear-gradient(top,  #fafafa 0%,#edeff1 100%);
    background: linear-gradient(to bottom,  #fafafa 0%,#edeff1 100%);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, .4);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#edeff1',GradientType=0 );
}

.infoDialogWindow > div > table {
    width: 100%;
}

.infoDialogWindow .Caption {
    background: none;
    cursor: default;
}

.infoDialogContent {
    padding: 0 24px 24px;
}

.infoDialogMessage {
    padding: 24px 0 0 82px;
    height: 58px;
    background: url(http://127.0.0.1:8090/cm-sochi/resources/defaulttheme/images/icons/confirmDialogWindow.png) no-repeat 0 0;
}

.infoDialogWindow .buttonsPanel {
    text-align: right;
}

.infoDialogWindow .buttonsPanel .darkButton {
    margin: 0; /* Old browsers */
    padding: 6px 35px; /* FF3.6+ */
    border-color: #00BE31; /* Chrome,Safari4+ */
    background: #4eef74; /* Chrome10+,Safari5.1+ */
    background: -moz-linear-gradient(top,  #4eef74 0%, #2fd656 100%); /* Opera 11.10+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4eef74), color-stop(100%,#2fd656)); /* IE10+ */
    background: -webkit-linear-gradient(top,  #4eef74 0%,#2fd656 100%); /* W3C */
    background: -o-linear-gradient(top,  #4eef74 0%,#2fd656 100%); /* IE6-9 */
    background: -ms-linear-gradient(top,  #4eef74 0%,#2fd656 100%);
    background: linear-gradient(to bottom,  #4eef74 0%,#2fd656 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4eef74', endColorstr='#2fd656',GradientType=0 );
}
/* ------------>>> end info alert window <<<------------ */

/* ------------>>> error alert window <<<------------ */
.errorDialogWindow {
    z-index: 1000; /* Old browsers */
    clip: auto !important; /* FF3.6+ */
    width: 380px; /* Chrome,Safari4+ */
    border: 1px solid #ff0000; /* Chrome10+,Safari5.1+ */
    border-radius: 3px; /* Opera 11.10+ */
    background: #fafafa; /* IE10+ */
    background: -moz-linear-gradient(top,  #fafafa 0%, #edeff1 100%); /* W3C */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#edeff1)); /* IE6-9 */
    background: -webkit-linear-gradient(top,  #fafafa 0%,#edeff1 100%);
    background: -o-linear-gradient(top,  #fafafa 0%,#edeff1 100%);
    background: -ms-linear-gradient(top,  #fafafa 0%,#edeff1 100%);
    background: linear-gradient(to bottom,  #fafafa 0%,#edeff1 100%);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, .4);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#edeff1',GradientType=0 );
}

.errorDialogWindow > div > table {
    width: 100%;
}

.errorDialogWindow .Caption {
    background: none;
    cursor: default;
}

.errorDialogContent {
    padding: 0 24px 24px;
}

.errorDialogMessage {
    padding: 24px 0 0 82px;
    height: 100px;
    background: url(http://127.0.0.1:8090/cm-sochi/resources/defaulttheme/images/icons/errorDialogWindow.png) no-repeat 0 0;
}

.errorDialogWindow .buttonsPanel {
    text-align: right;
}

.errorDialogWindow .buttonsPanel .darkButton {
    margin: 0; /* Old browsers */
    padding: 6px 35px; /* FF3.6+ */
    border-color: #c91414; /* Chrome,Safari4+ */
    background: #f23030; /* Chrome10+,Safari5.1+ */
    background: -moz-linear-gradient(top,  #f23030 0%, #e81919 100%); /* Opera 11.10+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f23030), color-stop(100%,#e81919)); /* IE10+ */
    background: -webkit-linear-gradient(top,  #f23030 0%,#e81919 100%); /* W3C */
    background: -o-linear-gradient(top,  #f23030 0%,#e81919 100%); /* IE6-9 */
    background: -ms-linear-gradient(top,  #f23030 0%,#e81919 100%);
    background: linear-gradient(to bottom,  #f23030 0%,#e81919 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f23030', endColorstr='#e81919',GradientType=0 );
}
/* ------------>>> end error alert window <<<------------ */

/* ------------>>> confirm alert window <<<------------ */
.confirmDialogWindow {
    z-index: 100; /* Old browsers */
    clip: auto !important; /* FF3.6+ */
    width: 380px; /* Chrome,Safari4+ */
    border: 1px solid #c5c5c5; /* Chrome10+,Safari5.1+ */
    border-radius: 3px; /* Opera 11.10+ */
    background: #fafafa; /* IE10+ */
    background: -moz-linear-gradient(top,  #fafafa 0%, #edeff1 100%); /* W3C */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#edeff1)); /* IE6-9 */
    background: -webkit-linear-gradient(top,  #fafafa 0%,#edeff1 100%);
    background: -o-linear-gradient(top,  #fafafa 0%,#edeff1 100%);
    background: -ms-linear-gradient(top,  #fafafa 0%,#edeff1 100%);
    background: linear-gradient(to bottom,  #fafafa 0%,#edeff1 100%);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, .4);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#edeff1',GradientType=0 );
}

.confirmDialogWindow > div > table {
    width: 100%;
}

.confirmDialogWindow .Caption {
    background: none;
    cursor: default;
}

.confirmDialogContent {
    padding: 0 24px 24px;
}

.confirmDialogMessage {
    padding: 24px 0 0 82px;
    height: 58px;
    background: url(http://127.0.0.1:8090/cm-sochi/resources/defaulttheme/images/icons/infoDialogWindow.png) no-repeat 0 0;
}

.confirmDialogWindow .buttonsPanel {
    text-align: right;
}

.confirmDialogWindow .buttonsPanel .darkButton {
    margin: 0; /* Old browsers */
    padding: 6px 35px; /* FF3.6+ */
    border-color: #c5c5c5; /* Chrome,Safari4+ */
    background: #d6d6d6; /* Chrome10+,Safari5.1+ */
    background: -moz-linear-gradient(top,  #d6d6d6 0%, #c5c5c5 100%); /* Opera 11.10+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d6d6d6), color-stop(100%,#c5c5c5)); /* IE10+ */
    background: -webkit-linear-gradient(top,  #d6d6d6 0%,#c5c5c5 100%); /* W3C */
    background: -o-linear-gradient(top,  #d6d6d6 0%,#c5c5c5 100%); /* IE6-9 */
    background: -ms-linear-gradient(top,  #d6d6d6 0%,#c5c5c5 100%);
    background: linear-gradient(to bottom,  #d6d6d6 0%,#c5c5c5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6d6d6', endColorstr='#c5c5c5',GradientType=0 );
}

.confirmDialogWindow .buttonsPanel .lightButton {
    margin: 0 0 0 15px; /* Old browsers */
    padding: 6px 22px; /* FF3.6+ */
    border-color: #c5c5c5; /* Chrome,Safari4+ */
    background: #d6d6d6; /* Chrome10+,Safari5.1+ */
    background: -moz-linear-gradient(top,  #d6d6d6 0%, #c5c5c5 100%); /* Opera 11.10+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d6d6d6), color-stop(100%,#c5c5c5)); /* IE10+ */
    background: -webkit-linear-gradient(top,  #d6d6d6 0%,#c5c5c5 100%); /* W3C */
    background: -o-linear-gradient(top,  #d6d6d6 0%,#c5c5c5 100%); /* IE6-9 */
    background: -ms-linear-gradient(top,  #d6d6d6 0%,#c5c5c5 100%);
    background: linear-gradient(to bottom,  #d6d6d6 0%,#c5c5c5 100%);
    color: #fafafa;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6d6d6', endColorstr='#c5c5c5',GradientType=0 );
}
/* ------------>>> end confirm alert window <<<------------ */

/* ------------>>> popUp window <<<------------ */
.popupWindow {
    z-index: 100; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    padding: 15px;
    border: 3px solid #fff; /* FF3.6+ */
    border-radius: 10px; /* Chrome,Safari4+ */
    background: #356a9e; /* Chrome10+,Safari5.1+ */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM1NmE5ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxZjJiNWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); /* Opera 11.10+ */
    background: -moz-linear-gradient(top, #356a9e 0%, #1f2b5d 100%); /* IE10+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #356a9e), color-stop(100%, #1f2b5d)); /* W3C */
    background: -webkit-linear-gradient(top, #356a9e 0%, #1f2b5d 100%); /* IE6-8 */
    background: -o-linear-gradient(top, #356a9e 0%, #1f2b5d 100%);
    background: -ms-linear-gradient(top, #356a9e 0%, #1f2b5d 100%);
    background: linear-gradient(to bottom, #356a9e 0%, #1f2b5d 100%);
    box-shadow: 0 3px 15px #555;
    color: #fafafa;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#356a9e', endColorstr='#1f2b5d', GradientType=0);
}

.popupWrapper {
}

.srch-corner {
    position: absolute !important;
    top: -15px;
    right: 33%;
    z-index: 999;
    display: block;
    width: 27px;
    height: 15px;
    background: url(images/bubble_arrow.png);
}

.gwt-PopupPanel div.srch-corner {
    right: 53%;
}

.applicationVersionWindows .gwt-Label {
    text-decoration: none;
    cursor: default;
}
/* ------------>>> end popUp window <<<------------ */

/* ------------>>> Version control popup window <<<------------ */
.popupWrapper {
    z-index: 100; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    padding: 15px;
    border: 3px solid #fff; /* FF3.6+ */
    border-radius: 10px; /* Chrome,Safari4+ */
    background: #356a9e; /* Chrome10+,Safari5.1+ */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM1NmE5ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxZjJiNWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); /* Opera 11.10+ */
    background: -moz-linear-gradient(top, #356a9e 0%, #1f2b5d 100%); /* IE10+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #356a9e), color-stop(100%, #1f2b5d)); /* W3C */
    background: -webkit-linear-gradient(top, #356a9e 0%, #1f2b5d 100%); /* IE6-8 */
    background: -o-linear-gradient(top, #356a9e 0%, #1f2b5d 100%);
    background: -ms-linear-gradient(top, #356a9e 0%, #1f2b5d 100%);
    background: linear-gradient(to bottom, #356a9e 0%, #1f2b5d 100%);
    box-shadow: 0 3px 15px #555;
    color: #fafafa;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#356a9e', endColorstr='#1f2b5d', GradientType=0);
}
/* ------------>>> end Version control popup window <<<------------ */

/* ------------>>> ImagePresenter popup window <<<------------ */
.popupWindow.imageLargePreview {
    padding: 10px;
}
.imageLargePreview .Caption {
    padding: 0;
}
/* ------------>>> end ImagePresenter popup window <<<------------ */

/* ------------>>> tooltip window <<<------------ */
.tooltipPopup {
    z-index: 102;
    overflow: auto !important;
    border: 7px solid rgba(153, 153, 153, 0.3);
    border-radius: 3px;
    box-shadow: 2px 2px 5px rgba(128, 128, 128, .7);
    opacity: 1;
}

.tooltipPopupHidden {
    z-index: 102;
    overflow: auto !important;
    padding: 10px;
    border: 7px solid rgba(153, 153, 153, 0.3);
    border-radius: 3px; /* For Safari 3.1 to 6.0 */
    box-shadow: 2px 2px 5px rgba(128, 128, 128, .7);
    opacity: 0;
    -webkit-transition: opacity 0.7s;
    transition: opacity 0.7s;
}

.tooltipPopup .popupContent {
    padding: 10px; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: #fff;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlYWVlZjEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); /* FF3.6+ */
    background: -moz-linear-gradient(top, #ffffff 0%, #eaeef1 100%); /* Chrome,Safari4+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #eaeef1)); /* Chrome10+,Safari5.1+ */
    background: -webkit-linear-gradient(top, #ffffff 0%, #eaeef1 100%); /* Opera 11.10+ */
    background: -o-linear-gradient(top, #ffffff 0%, #eaeef1 100%); /* IE10+ */
    background: -ms-linear-gradient(top, #ffffff 0%, #eaeef1 100%); /* W3C */
    background: linear-gradient(to bottom, #ffffff 0%, #eaeef1 100%); /* IE6-8 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eaeef1', GradientType=0);
}

.tooltipText {
    color: #016cad;
    text-shadow: 0 1px 2px rgba(200, 200, 200, .7);
    cursor: default;
}
/* ------------>>> end tooltip window <<<------------ */

/* ------------>>> ImageView popupWindow <<<------------ */
.imageSelection .Caption{
    margin: -15px -15px 10px;
}

.imageSelectionContentPanel {
    overflow-x: hidden;
    overflow-y: auto;
    margin-bottom: 15px;
    padding: 10px;
    width: 600px;
    height: 350px;
    border-radius: 3px;
    background: #fafafa;
}
/* ------------>>> end ImageView popupWindow <<<------------ */
.decorated-action-linkPopup,
.decorated-action-nested-linkPopup {
    z-index: 100; /* Old browsers */
    padding: 5px; /* FF3.6+ */
    border: 3px solid #fafafa; /* Chrome,Safari4+ */
    background: #356a9e; /* Chrome10+,Safari5.1+ */
    background: -moz-linear-gradient(top, #356a9e 0%, #245483 40%, #1f2b5d 100%); /* Opera11.10+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #356a9e), color-stop(40%, #245483), color-stop(100%, #1f2b5d)); /* W3C */
    background: -webkit-linear-gradient(top, #356a9e 0%, #245483 40%, #1f2b5d 100%); /* IE10+ */
    background: -o-linear-gradient(top, #356a9e 0%, #245483 40%, #1f2b5d 100%); /* IE6-9 */
    background: linear-gradient(top, #356a9e 0%, #245483 40%, #1f2b5d 100%);
    /*border-radius: 5px;*/
    background: -ms-linear-gradient(top, #356a9e 0%, #245483 40%, #1f2b5d 100%);
    box-shadow: 0 3px 10px #555;
    color: #fafafa;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#356a9e', endColorstr='#1f2b5d', GradientType=0);
}

.decorated-action-linkPopup:before {
    position: absolute;
    top: -15px;
    left: 1px;
    z-index: 999;
    display: block;
    width: 27px;
    height: 15px;
    background: url(images/bubble_arrow.png);
    content: "";
}

.decorated-action-linkPopup .menuPopupContent a.action-bar-button,
.decorated-action-nested-linkPopup .menuPopupContent a.action-bar-button {
    margin: 0;
    border-bottom: 0;
    color: #fafafa;
    text-decoration: underline;
    /*padding: 8px;*/
    font-size: 90%;
}

.decorated-action-linkPopup .menuPopupContent tr:hover,
.decorated-action-nested-linkPopup .menuPopupContent tr:hover {
    background: #466ea1;
}

.decorated-action-linkPopup .menuPopupContent tr:hover a.action-bar-button,
.decorated-action-nested-linkPopup .menuPopupContent tr:hover a.action-bar-button {
    border-bottom: 0;
    color: #ffffff;
}

.decorated-action-linkPopup .gwt-MenuBar-vertical,
.decorated-action-linkPopup .menuPopupTopLeft,
.decorated-action-linkPopup .menuPopupTopCenter,
.decorated-action-linkPopup .menuPopupTopRight,
.decorated-action-linkPopup .menuPopupMiddleLeft,
.decorated-action-linkPopup .menuPopupMiddleRight,
.decorated-action-linkPopup .menuPopupBottomLeft,
.decorated-action-linkPopup .menuPopupBottomCenter,
.decorated-action-linkPopup .menuPopupBottomRight {
    background: transparent !important;
}

.decorated-action-linkPopup .menuPopupTop,
.decorated-action-linkPopup .menuPopupBottom,
.decorated-action-linkPopup .menuPopupMiddleLeft,
.decorated-action-linkPopup .menuPopupMiddleRight,
.decorated-action-nested-linkPopup .menuPopupTop,
.decorated-action-nested-linkPopup .menuPopupBottom,
.decorated-action-nested-linkPopup .menuPopupMiddleLeft,
.decorated-action-nested-linkPopup .menuPopupMiddleRight {
    display: none;
}

.menuPopupContent .gwt-MenuItem {
    padding: 10px !important;
}

.menuPopupContent .gwt-MenuItem-selected {
    border-radius: 3px;
    background: #1F76A5 !important;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -ms-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
}

.menuPopupContent .gwt-MenuItem-selected a {
    color: #fafafa !important;
    text-decoration: none;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -ms-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
}