<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xsi:schemaLocation="
     http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans.xsd
     http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
     ">

    <bean id="globalCacheClientFactory" class="ru.intertrust.cm.globalcacheclient.GlobalCacheClientFactoryImpl"/>
    <bean id="perGroupGlobalCacheClient" class="ru.intertrust.cm.globalcacheclient.PerGroupGlobalCacheClient"/>
    <bean id="perPersonGlobalCacheClient" class="ru.intertrust.cm.globalcacheclient.PerPersonGlobalCacheClient"/>
    <bean id="globalCacheSettings" class="ru.intertrust.cm.globalcacheclient.GlobalCacheSettings"/>
    <bean id="globalCacheJmsHelper" class="ru.intertrust.cm.globalcacheclient.impl.GlobalCacheJmsHelperImpl"/>
    <bean id="сlusterTransactionStampServiceImpl" class="ru.intertrust.cm.globalcacheclient.impl.ClusterTransactionStampServiceImpl"/>

    <jee:local-slsb id="personAccessHelper" jndi-name="java:module/PersonAccessHelper!ru.intertrust.cm.globalcacheclient.PersonAccessHelper"
            business-interface="ru.intertrust.cm.globalcacheclient.PersonAccessHelper"/>
    <jee:local-slsb id="clusteredCacheSynchronizer" jndi-name="java:module/ClusteredCacheSynchronizer!ru.intertrust.cm.globalcacheclient.cluster.ClusteredCacheSynchronizer"
            business-interface="ru.intertrust.cm.globalcacheclient.cluster.ClusteredCacheSynchronizer"/>
</beans>