<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xsi:schemaLocation="
     http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <!--<bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean" -->
	         <!--p:jndiName="java:jboss/datasources/CM5"/>-->
    <jee:jndi-lookup id="dataSource" jndi-name="java:jboss/datasources/CM5" />

    <bean id="dataStructureDAO" class="ru.intertrust.cm.core.dao.impl.PostgreSQLDataStructureDAOImpl"
          p:dataSource-ref="dataSource" />

    <bean id="configurationLoader"
          class="ru.intertrust.cm.core.business.impl.ConfigurationLoader" init-method="load"
          p:configurationService-ref="configurationService" p:configurationValidator-ref="configurationValidator"
          p:configurationFilePath="config/business-objects.xml" />

    <bean id="configurationValidator"
          class="ru.intertrust.cm.core.business.impl.ConfigurationValidator"
          p:configurationSchemaPath="config/business-objects.xsd" />

    <bean id="configurationService" class="ru.intertrust.cm.core.business.impl.ConfigurationServiceImpl"
          p:dataStructureDAO-ref="dataStructureDAO" p:authenticationService-ref="authenticationService" />

    <bean id="authenticationDAO" class="ru.intertrust.cm.core.dao.impl.AuthenticationDAOImpl"
          p:dataSource-ref="dataSource" />

    <bean id="authenticationService" class="ru.intertrust.cm.core.business.impl.AuthenticationServiceImpl"
          p:authenticationDAO-ref="authenticationDAO" p:md5Service-ref="md5Service" />

    <bean id="md5Service" class="ru.intertrust.cm.core.business.impl.MD5ServiceImpl" />

</beans>